Repository xivanalysis/xivanalysis, changes with the labels that .github/labeler.yml gives for each.
All labels: Parser - Core, Parser - AST, Parser - BLM, Parser - BRD, Parser - DNC, Parser - DRG, Parser - DRK, Parser - GNB, Parser - MCH, Parser - MNK, Parser - NIN, Parser - PLD, Parser - RDM, Parser - SAM, Parser - SCH, Parser - SMN, Parser - WAR, Parser - WHM

drgo: lotd window message formatting
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/drg/index.js
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

drg: increase severity of missing lotd casts
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

old comment removal
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

Shh
  src/parser/core/modules/EntityStatuses.ts
Labels: Parser - Core

DNC - Count/Show Players Buffed by Tech Finish (#744)
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/Technicalities.tsx
Labels: Parser - DNC

Refactor entities.getStatusUptime() into separate module (#739)
  src/parser/core/modules/DoTs.js
  src/parser/core/modules/Entities.js
  src/parser/core/modules/EntityStatuses.ts
  src/parser/core/modules/index.js
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/brd/modules/Util.js
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
  src/parser/jobs/drg/modules/Buffs.js
  src/parser/jobs/mnk/modules/Fists.tsx
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
  src/parser/jobs/sam/modules/Buffs.js
  src/parser/jobs/sam/modules/Higanbana.js
  src/parser/jobs/smn/modules/DoTs.js
  src/parser/jobs/war/modules/StormsEye.js
  src/parser/jobs/whm/modules/DoTs.js
Labels: Parser - Core, Parser - BLM, Parser - BRD, Parser - DNC, Parser - DRG, Parser - MNK, Parser - SAM, Parser - SMN, Parser - WAR, Parser - WHM

New Crowdin translations (#749)
  locale/fr/messages.json
Labels: none

New Crowdin translations (#748)
  locale/fr/messages.json
  locale/zh/messages.json
Labels: none

New translations messages.json (Korean) [skip ci]
  locale/ko/messages.json
Labels: none

[skip ci] Update Intervene to be a charge skill, adjust CDDT params accordingly (#758)
  src/data/ACTIONS/root/PLD.ts
  src/parser/jobs/pld/modules/OGCDDowntime.tsx
Labels: Parser - PLD

Updates for RDM CD Downtime (#755)
  src/parser/jobs/rdm/index.js
  src/parser/jobs/rdm/modules/GeneralCDDowntime.ts
Labels: Parser - RDM

Add Blue Mage (#753)
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/components/ui/JobIcon/job-icons.svg
  src/components/ui/JobIcon/job-icons.ttf
  src/components/ui/JobIcon/job-icons.woff
  src/data/ACTIONS/root/BLU.ts
  src/data/ACTIONS/root/index.ts
  src/data/CONTRIBUTORS.ts
  src/data/JOBS.ts
  src/data/STATUSES/root/BLU.ts
  src/data/STATUSES/root/index.ts
  src/data/avatar/paige_404.png
  src/fflogs.ts
  src/parser/AVAILABLE_MODULES.ts
  src/parser/core/modules/RaidBuffs.js
  src/parser/jobs/blu/changelog.tsx
  src/parser/jobs/blu/index.tsx
  src/parser/jobs/blu/modules/NOTES.md
  src/parser/jobs/blu/modules/index.tsx
Labels: Parser - Core

knock some kb off avatars
  src/data/avatar/falindrith.png
  src/data/avatar/kelos.png
  src/data/avatar/nono.png
  src/data/avatar/paige_404.png
  src/data/avatar/yumiya.png
Labels: none

Fix eslint settings
  .vscode/settings.json
Labels: none

New translations messages.json (Chinese Simplified) [skip ci]
  locale/zh/messages.json
Labels: none

New translations messages.json (French) [skip ci]
  locale/fr/messages.json
Labels: none

New translations messages.json (German) [skip ci]
  locale/de/messages.json
Labels: none

New translations messages.json (Japanese) [skip ci]
  locale/ja/messages.json
Labels: none

New translations messages.json (Korean) [skip ci]
  locale/ko/messages.json
Labels: none

drg: fig window overloads, jsx stuff
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

locales
  locale/fr/messages.json
Labels: none

drg: allow partial DC/LC windows
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/drg/modules/Buffs.js
Labels: Parser - DRG

New translations messages.json (Korean) [skip ci]
  locale/ko/messages.json
Labels: none

DRG: Enhanced Life of the Dragon Window Analysis (#759)
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/drg/index.js
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

DRG: Allow partial buff windows (#762)
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/drg/modules/Buffs.js
Labels: Parser - DRG

New translations messages.json (Chinese Simplified) [skip ci]
  locale/zh/messages.json
Labels: none

New translations messages.json (French) [skip ci]
  locale/fr/messages.json
Labels: none

New translations messages.json (German) [skip ci]
  locale/de/messages.json
Labels: none

New translations messages.json (Japanese) [skip ci]
  locale/ja/messages.json
Labels: none

New translations messages.json (Korean) [skip ci]
  locale/ko/messages.json
Labels: none

New translations messages.json (Chinese Simplified) [skip ci]
  locale/zh/messages.json
Labels: none

New translations messages.json (Japanese) [skip ci]
  locale/ja/messages.json
Labels: none

New translations messages.json (Chinese Simplified) [skip ci]
  locale/zh/messages.json
Labels: none

New translations messages.json (Korean) [skip ci]
  locale/ko/messages.json
Labels: none

Fix BLU's ABC Problems
  src/data/ACTIONS/root/BLU.ts
  src/parser/jobs/blu/changelog.tsx
Labels: none

New translations messages.json (Korean) [skip ci]
  locale/ko/messages.json
Labels: none

New translations messages.json (Korean) [skip ci]
  locale/ko/messages.json
Labels: none

New translations messages.json (French) [skip ci]
  locale/fr/messages.json
Labels: none

New translations messages.json (French) [skip ci]
  locale/fr/messages.json
Labels: none

New translations messages.json (Korean) [skip ci]
  locale/ko/messages.json
Labels: none

.github/labeler.yml:

# Parser labels
Parser - Core:
  - src/parser/core/**/*
Parser - AST:
  - src/parser/jobs/ast/**/*
Parser - BLM:
  - src/parser/jobs/blm/**/*
Parser - BRD:
  - src/parser/jobs/brd/**/*
Parser - DNC:
  - src/parser/jobs/dnc/**/*
Parser - DRG:
  - src/parser/jobs/drg/**/*
Parser - DRK:
  - src/parser/jobs/drk/**/*
Parser - GNB:
  - src/parser/jobs/gnb/**/*
Parser - MCH:
  - src/parser/jobs/mch/**/*
Parser - MNK:
  - src/parser/jobs/mnk/**/*
Parser - NIN:
  - src/parser/jobs/nin/**/*
Parser - PLD:
  - src/parser/jobs/pld/**/*
Parser - RDM:
  - src/parser/jobs/rdm/**/*
Parser - SAM:
  - src/parser/jobs/sam/**/*
Parser - SCH:
  - src/parser/jobs/sch/**/*
Parser - SMN:
  - src/parser/jobs/smn/**/*
Parser - WAR:
  - src/parser/jobs/war/**/*
Parser - WHM:
  - src/parser/jobs/whm/**/*
