Repository xivanalysis/xivanalysis, changes with the labels that .github/labeler.yml gives for each.
All labels: Parser - Core, Parser - AST, Parser - BLM, Parser - BRD, Parser - DNC, Parser - DRG, Parser - DRK, Parser - GNB, Parser - MCH, Parser - MNK, Parser - NIN, Parser - PLD, Parser - RDM, Parser - SAM, Parser - SCH, Parser - SMN, Parser - WAR, Parser - WHM

.github/labeler.yml:

# Parser labels
Parser - Core:
  - src/parser/core/**/*
Parser - AST:
  - src/parser/jobs/ast/**/*
Parser - BLM:
  - src/parser/jobs/blm/**/*
Parser - BRD:
  - src/parser/jobs/brd/**/*
Parser - DNC:
  - src/parser/jobs/dnc/**/*
Parser - DRG:
  - src/parser/jobs/drg/**/*
Parser - DRK:
  - src/parser/jobs/drk/**/*
Parser - GNB:
  - src/parser/jobs/gnb/**/*
Parser - MCH:
  - src/parser/jobs/mch/**/*
Parser - MNK:
  - src/parser/jobs/mnk/**/*
Parser - NIN:
  - src/parser/jobs/nin/**/*
Parser - PLD:
  - src/parser/jobs/pld/**/*
Parser - RDM:
  - src/parser/jobs/rdm/**/*
Parser - SAM:
  - src/parser/jobs/sam/**/*
Parser - SCH:
  - src/parser/jobs/sch/**/*
Parser - SMN:
  - src/parser/jobs/smn/**/*
Parser - WAR:
  - src/parser/jobs/war/**/*
Parser - WHM:
  - src/parser/jobs/whm/**/*

New Crowdin translations (#738)
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
Labels: none

looks like ~2s delay max before first gcd for most
  src/parser/jobs/drg/modules/OGCDDowntime.ts
Labels: Parser - DRG

Fix broken image assets
  .neutrinorc.js
Labels: none

New translations messages.json (French) [skip ci]
  locale/fr/messages.json
Labels: none

New translations messages.json (French) [skip ci]
  locale/fr/messages.json
Labels: none

drg: stardiver buff alignment suggestion
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

bugfix: track solo dragon sight in lotd window
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

drg: stricter delay check for lotd
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

Add korean patch date for 5.01
  src/data/PATCHES.ts
Labels: none

Fix KR patch date to v5.08
  src/data/PATCHES.ts
Labels: none

New translations messages.json (Chinese Simplified) [skip ci]
  locale/zh/messages.json
Labels: none

New translations messages.json (Chinese Simplified) [skip ci]
  locale/zh/messages.json
Labels: none

Add Blue Mage
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/components/ui/JobIcon/job-icons.svg
  src/components/ui/JobIcon/job-icons.ttf
  src/components/ui/JobIcon/job-icons.woff
  src/data/ACTIONS/root/BLU.ts
  src/data/ACTIONS/root/index.ts
  src/data/CONTRIBUTORS.ts
  src/data/JOBS.ts
  src/data/STATUSES/root/BLU.ts
  src/data/STATUSES/root/index.ts
  src/data/avatar/paige_404.png
  src/fflogs.ts
  src/parser/AVAILABLE_MODULES.ts
  src/parser/core/modules/RaidBuffs.js
  src/parser/jobs/blu/changelog.tsx
  src/parser/jobs/blu/index.tsx
  src/parser/jobs/blu/modules/NOTES.md
  src/parser/jobs/blu/modules/index.tsx
Labels: Parser - Core

Fix KR patch date to v5.08 (#752)
  src/data/PATCHES.ts
Labels: none

drg: lotd delay clean up, issue highlighting
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

drg: GK count should be within 1 of jumps
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

drg: icon fix for failed positional proc action
  src/parser/jobs/drg/modules/Positionals.js
Labels: Parser - DRG

locales
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
Labels: none

drg: additional detail for lotd windows
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

locales
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
Labels: none

comment update
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

updates for CD Downtime for RDM
  src/parser/jobs/rdm/index.js
  src/parser/jobs/rdm/modules/GeneralCDDowntime.ts
Labels: Parser - RDM

New translations messages.json (Chinese Simplified) [skip ci]
  locale/zh/messages.json
Labels: none

New translations messages.json (Chinese Simplified) [skip ci]
  locale/zh/messages.json
Labels: none

New translations messages.json (French) [skip ci]
  locale/fr/messages.json
Labels: none

Its a timeline with a bunch of different players!
  package.json
  src/components/App.js
  src/components/Teatime/ResultSegment.tsx
  src/components/Teatime/SegmentLinkItem.module.css
  src/components/Teatime/SegmentLinkItem.module.css.d.ts
  src/components/Teatime/SegmentLinkItem.tsx
  src/components/Teatime/SegmentPositionContext.tsx
  src/components/Teatime/TeaConductor.tsx
  src/components/Teatime/Teatime.js
  src/components/Teatime/Teatime.module.css
  src/components/Teatime/Teatime.module.css.d.ts
  src/components/Teatime/index.js
  src/components/Teatime/modules/AdditionalPartyEvents.js
  src/components/Teatime/modules/PartyCooldowns.js
  src/components/Teatime/modules/index.tsx
  src/parser/Conductor.ts
Labels: none

Group cooldowns by player. (#1)
  src/components/Teatime/TeaConductor.tsx
  src/components/Teatime/modules/AdditionalPartyEvents.js
  src/components/Teatime/modules/Friendlies.js
  src/components/Teatime/modules/PartyCooldowns.js
  src/utilities/getPathMatch.ts
Labels: none

Add nav tools to the sidebar for getting into teatime / advancing (#2)
  src/components/GlobalSidebar/Breadcrumbs.js
  src/components/Teatime/Teatime.js
Labels: none

Sorting players consistently is nice
  src/components/Teatime/modules/Friendlies.js
Labels: none

Sorting players consistently is nice (#3)
  src/components/Teatime/modules/Friendlies.js
Labels: none

Implement initial UI for coodlown selector (#4)
  src/components/GlobalSidebar/GlobalSidebar.js
  src/components/Teatime/TeaCooldownsSelector.js
  src/components/Teatime/Teatime.module.css
  src/components/Teatime/Teatime.module.css.d.ts
Labels: none

Add the ability to input timings for cooldowns (#5)
  src/components/Teatime/TeaCooldownsSelector.js
  src/components/Teatime/Teatime.module.css
  src/components/Teatime/Teatime.module.css.d.ts
Labels: none

Implement saving between sessions (#7)
  src/components/Teatime/TeaCooldownsSelector.js
  src/components/Teatime/Teatime.module.css
  src/components/Teatime/Teatime.module.css.d.ts
Labels: none

Enemy damage events (#6)
  src/components/Teatime/TeaConductor.tsx
  src/components/Teatime/modules/AdditionalPartyEvents.js
  src/components/Teatime/modules/EnemyAttacks.tsx
Labels: none

New translations messages.json (Chinese Simplified) [skip ci]
  locale/zh/messages.json
Labels: none

New translations messages.json (Chinese Simplified) [skip ci]
  locale/zh/messages.json
Labels: none

Enemy Attack Table with Statuses (#9)
  src/components/Teatime/TeaConductor.tsx
  src/components/Teatime/Teatime.js
  src/components/Teatime/modules/AdditionalPartyEvents.js
  src/components/Teatime/modules/DISPLAY_ORDER.ts
  src/components/Teatime/modules/EnemyAttacks.tsx
  src/components/Teatime/modules/PartyCooldowns.js
  src/components/Teatime/modules/multi/MultiStatuses.tsx
  src/data/STATUSES/root/WAR.ts
  src/data/STATUSES/root/WHM.ts
  src/parser/core/modules/AdditionalEvents.js
Labels: Parser - Core

Cleaner attack table
  src/components/Teatime/modules/EnemyAttacks.tsx
Labels: none

Update Intervene to be a charge skill, adjust CDDT params accordingly
  src/data/ACTIONS/root/PLD.ts
  src/parser/jobs/pld/modules/OGCDDowntime.tsx
Labels: Parser - PLD

drg: little bit of last window cleanup logic
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG
