Repository xivanalysis/xivanalysis, pull requests merged in 2019-10, with the labels that each got.

#575 Core timer gauge
  src/parser/core/Module.test.js
  src/parser/core/Module.ts
  src/parser/core/modules/Gauge/CounterGauge.ts
  src/parser/core/modules/Gauge/Gauge.tsx
  src/parser/core/modules/Gauge/TimerGauge.test.ts
  src/parser/core/modules/Gauge/TimerGauge.ts
  src/parser/core/modules/Gauge/__snapshots__/TimerGauge.test.ts.snap
  src/parser/core/modules/Gauge/index.ts
Labels: Parser - Core

#639 Riddle of Earth module
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/SpeedmodConsts.js
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/Cooldowns.ts
  src/parser/jobs/mnk/modules/GreasedLightning.tsx
  src/parser/jobs/mnk/modules/RiddleOfEarth.tsx
  src/parser/jobs/mnk/modules/index.ts
Labels: Parser - MNK

#694 Core, BLM and DNC patch bump to 5.1
  src/data/PATCHES.ts
  src/parser/jobs/blm/index.js
  src/parser/jobs/dnc/index.tsx
Labels: Parser - BLM, Parser - Core, Parser - DNC

#695 SCH 5.1 support and a minor nit from balance fix
  src/data/ACTIONS/SCH.js
  src/parser/jobs/sch/index.js
  src/parser/jobs/sch/modules/FaerieGauge.js
Labels: Parser - SCH

#689 5.1 skill duration updates, mark DRK supported (no major changes)
  src/data/STATUSES/DRK.js
  src/data/STATUSES/ROLE.js
  src/parser/jobs/drk/index.js
Labels: Parser - DRK

#686 Mark WAR as supported through 5.08
  src/parser/jobs/war/TODO
  src/parser/jobs/war/TODO.md
  src/parser/jobs/war/index.js
Labels: Parser - WAR
