Repository xivanalysis/xivanalysis, pull requests merged in 2019-12, with the labels that each got.

#717 DRG: Positional Tracking
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/ROLE.ts
  src/parser/jobs/drg/index.js
  src/parser/jobs/drg/modules/Positionals.js
  src/parser/jobs/drg/modules/index.js
Labels: Parser - DRG

#742 [Bugfix] Added second ACTIONS entry for Ten because SE things
  src/data/ACTIONS/root/NIN.ts
  src/parser/jobs/nin/modules/TrickAttackUsage.js
Labels: Parser - NIN

#741 DRG: CDDT Module for Jumps
  src/parser/jobs/drg/index.js
  src/parser/jobs/drg/modules/OGCDDowntime.ts
  src/parser/jobs/drg/modules/index.js
Labels: Parser - DRG

#746 Bugfix: DRG reported RT procs as possible during invuln
  src/parser/jobs/drg/modules/Positionals.js
Labels: Parser - DRG

#747 Package updates
  package.json
  src/akkd/Container/Container.module.css.d.ts
  src/akkd/List/List.module.css.d.ts
  src/akkd/Message/Message.module.css.d.ts
  src/akkd/Segment/Segment.module.css.d.ts
  src/components/Analyse/Analyse.module.css.d.ts
  src/components/Analyse/SegmentLinkItem.module.css.d.ts
  src/components/App.module.css.d.ts
  src/components/BranchBanner.module.css.d.ts
  src/components/ErrorBoundary.module.css.d.ts
  src/components/Find/CombatantList.module.css.d.ts
  src/components/Find/FightItem.module.css.d.ts
  src/components/Find/FightList.module.css.d.ts
  src/components/GlobalSidebar/Breadcrumbs.module.css.d.ts
  src/components/GlobalSidebar/GlobalSidebar.module.css.d.ts
  src/components/GlobalSidebar/Options.module.css.d.ts
  src/components/GlobalSidebar/ReportLink.module.css.d.ts
  src/components/Home/Home.module.css.d.ts
  src/components/Home/ReportSearch.module.css.d.ts
  src/components/I18nOverlay.module.css.d.ts
  src/components/ui/DbLink.module.css.d.ts
  src/components/ui/GlossaryTerm.module.css.d.ts
  src/components/ui/I18nMenu.module.css.d.ts
  src/components/ui/JobIcon/JobIcon.module.css.d.ts
  src/components/ui/Rotation.module.css.d.ts
  src/parser/core/modules/About.module.css.d.ts
  src/parser/core/modules/ChangeLog/ChangeLog.module.css.d.ts
  src/parser/core/modules/Checklist/Checklist.module.css.d.ts
  src/parser/core/modules/Statistics/PieChartStatistic.module.css.d.ts
  src/parser/core/modules/Statistics/SimpleStatistic.module.css.d.ts
  src/parser/core/modules/Statistics/Statistics.module.css.d.ts
  src/parser/core/modules/Suggestions/Suggestions.module.css.d.ts
  src/parser/core/modules/Timeline/Timeline.module.css.d.ts
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaSuggestions.module.css.d.ts
  src/parser/jobs/ast/modules/Sect/SectStatistic.module.css.d.ts
  src/parser/jobs/brd/modules/Barrage.module.css.d.ts
  src/parser/jobs/brd/modules/PitchPerfect.module.css.d.ts
  src/parser/jobs/dnc/modules/DNCGauges.module.css.d.ts
  src/parser/jobs/rdm/statistics/DualStatistic.module.css.d.ts
  src/parser/jobs/sam/modules/Kenki.module.css.d.ts
  src/theme.module.css.d.ts
  yarn.lock
Labels: Parser - Core

#745 DRG: Adjust first use offset for CDDT
  src/parser/jobs/drg/modules/OGCDDowntime.ts
Labels: Parser - DRG

#750 bugfix: track solo dragon sight in lotd window
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG
