Repository xivanalysis/xivanalysis, pull requests merged in 2019-09, with the labels that each got.

#611 AST: simple CO & Divination tracking
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/CooldownDowntime.js
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/CelestialOpposition.tsx
  src/parser/jobs/ast/modules/DivinationDowntime.tsx
  src/parser/jobs/ast/modules/index.js
Labels: Parser - AST, Parser - Core

#612 Update Twin Snakes handling for new action and rotational preferences
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mnk/modules/BuffUptime.tsx
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
  src/parser/jobs/mnk/modules/index.ts
Labels: Parser - MNK

#614 Support 5.0-5.08 properly for MNK forms
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mnk/modules/Forms.tsx
Labels: Parser - MNK

#593 Extend BuffWindow interfaces
  src/parser/core/modules/BuffWindow.tsx
Labels: Parser - Core

#594 Extend PrepullStatus to synthesize cast events
  src/data/ACTIONS/ACTIONS.d.ts
  src/data/ACTIONS/ARC.js
  src/data/ACTIONS/AST.js
  src/data/ACTIONS/BLM.js
  src/data/ACTIONS/BRD.js
  src/data/ACTIONS/DNC.js
  src/data/ACTIONS/DRG.js
  src/data/ACTIONS/DRK.js
  src/data/ACTIONS/GNB.js
  src/data/ACTIONS/LNC.js
  src/data/ACTIONS/MCH.js
  src/data/ACTIONS/MNK.js
  src/data/ACTIONS/MRD.js
  src/data/ACTIONS/NIN.js
  src/data/ACTIONS/PGL.js
  src/data/ACTIONS/PLD.js
  src/data/ACTIONS/RDM.js
  src/data/ACTIONS/ROLE.js
  src/data/ACTIONS/SAM.js
  src/data/ACTIONS/SCH.js
  src/data/ACTIONS/SHARED.js
  src/data/ACTIONS/SMN.js
  src/data/ACTIONS/WAR.js
  src/data/ACTIONS/WHM.js
  src/data/STATUSES/AST.js
  src/data/STATUSES/DRK.js
  src/data/STATUSES/RDM.js
  src/data/STATUSES/ROLE.js
  src/data/STATUSES/SAM.js
  src/data/STATUSES/SCH.js
  src/data/STATUSES/WHM.js
  src/parser/core/changelog.tsx
  src/parser/core/modules/Cooldowns.js
  src/parser/core/modules/PrecastStatus.js
  src/parser/jobs/pld/modules/Cooldowns.tsx
Labels: Parser - Core

#630 [Bugfix] AST Arcanatracking fix for precastStatus update
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaTracking.tsx
Labels: Parser - AST

#629 Track WHM oGCDs with better clarity
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/whm/index.js
  src/parser/jobs/whm/modules/Assize.js
  src/parser/jobs/whm/modules/Benison.js
  src/parser/jobs/whm/modules/index.js
  src/parser/jobs/whm/modules/oGCDs.tsx
Labels: Parser - WHM

#584 Permit triple weave when summoning phoenix
  src/parser/core/modules/Weaving.d.ts
  src/parser/jobs/smn/index.js
  src/parser/jobs/smn/modules/Weaving.ts
  src/parser/jobs/smn/modules/index.js
Labels: Parser - SMN

#638 Deal with Kihra pulling event types out from under Boot
  src/parser/jobs/mnk/modules/Steppies.tsx
Labels: Parser - MNK

#583 Basic PB support: number of GCDs and window logging.
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
  src/parser/jobs/mnk/modules/index.ts
Labels: Parser - MNK
