Repository xivanalysis/xivanalysis, pull requests merged in 2019-11, with the labels that each got.

#693 Small data changes to get DRG and MCH updated for 5.1
  src/data/ACTIONS/DRG.js
  src/data/ACTIONS/MCH.js
  src/parser/jobs/drg/index.js
  src/parser/jobs/mch/index.js
Labels: Parser - DRG, Parser - MCH

#696 Ensure Technical Finish windows close correctly
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/Technicalities.tsx
Labels: Parser - DNC

#700 [SAM] 5.1 update to pre-existing modules/data
  src/data/ACTIONS/SAM.js
  src/parser/jobs/sam/modules/Sen.tsx
Labels: Parser - SAM

#688 Shadowmonkers Grease Up
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Gauge/CounterGauge.ts
  src/parser/core/modules/Speedmod.js
  src/parser/core/modules/Statistics/PieChartStatistic.tsx
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/DISPLAY_ORDER.ts
  src/parser/jobs/mnk/modules/Fists.tsx
  src/parser/jobs/mnk/modules/Forms.tsx
  src/parser/jobs/mnk/modules/Gauge.ts
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
  src/parser/jobs/mnk/modules/Speedmod.ts
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
  src/parser/jobs/mnk/modules/index.ts
Labels: Parser - MNK

#702 Started updates for 5.1 SMN
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/SMN.js
  src/data/STATUSES/SMN.js
  src/parser/jobs/smn/index.js
  src/parser/jobs/smn/modules/DWT.js
  src/parser/jobs/smn/modules/GeneralCDDowntime.js
  src/parser/jobs/smn/modules/MultiHitSkills.js
  src/parser/jobs/smn/modules/Pets.js
  src/parser/jobs/smn/modules/Ruin4.tsx
Labels: Parser - SMN

#701 DNC - Minor fixes and updates
  locale/en/messages.json
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/Combos.ts
  src/parser/jobs/dnc/modules/Procs.js
Labels: Parser - DNC

#708 5.1 NIN updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/NIN.js
  src/data/ACTIONS/ROG.js
  src/data/STATUSES/NIN.js
  src/parser/jobs/nin/index.js
  src/parser/jobs/nin/modules/Cooldowns.js
  src/parser/jobs/nin/modules/GlobalCooldown.js
  src/parser/jobs/nin/modules/Ninjutsu.js
  src/parser/jobs/nin/modules/Ninki.js
  src/parser/jobs/nin/modules/TrickAttackPositional.js
  src/parser/jobs/nin/modules/TrickAttackUsage.js
  src/parser/jobs/nin/modules/Weaving.js
  src/parser/jobs/nin/modules/index.js
Labels: Parser - NIN

#712 [Bugfix] Fixed a small derp in the Ninjutsu module
  src/parser/jobs/nin/modules/Ninjutsu.js
Labels: Parser - NIN, bug

#707 Antman meditates on the GCD, feat. Samurai
  src/data/ACTIONS/MNK.js
  src/data/ACTIONS/SAM.js
Labels: Parser - MNK, Parser - SAM

#615 Added core module to check usages of AoE skills
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/AoEUsages.tsx
  src/parser/jobs/smn/modules/MultiHitSkills.js
Labels: Parser - Core

#716 DRG: Life of the Dragon Formatting & Delay Prediction
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/falindrith.png
  src/parser/jobs/drg/index.js
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

#724 Shadowmonkers AoE
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/MnkAoE.tsx
Labels: Parser - MNK

#723 Shadowmonkers of Fire
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
Labels: Parser - MNK

#726 Support MNK in Shadowbringers
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/Fists.tsx
Labels: Parser - MNK

#711 Finished SMN 5.1 support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/smn/index.js
  src/parser/jobs/smn/modules/GeneralCDDowntime.js
  src/parser/jobs/smn/modules/Ruin2.js
Labels: Parser - SMN

#719 [5.1 SAM] Shoha tracker
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/sam/index.js
  src/parser/jobs/sam/modules/FixMyShit
  src/parser/jobs/sam/modules/Shoha.tsx
  src/parser/jobs/sam/modules/index.js
Labels: Parser - SAM

#728 [Bugfix] Fixed improper combo break warnings
  src/parser/core/modules/Combos.tsx
Labels: Parser - Core

#729 Updated Kassatsu module to ding you for Fuma/Raiton
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/nin/index.js
  src/parser/jobs/nin/modules/Kassatsu.js
Labels: Parser - NIN
