Repository xivanalysis/xivanalysis, pull requests merged in 2019-08, with the labels that each got.

#592 Shadowmonkers weaving
  src/parser/jobs/mnk/modules/Weaving.ts
  src/parser/jobs/mnk/modules/index.ts
Labels: Parser - MNK

#588 Further corrections to DWT suggestions.
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/smn/modules/DWT.js
Labels: Parser - SMN

#616 Bump patch support - no changes
  src/parser/jobs/drk/index.js
Labels: Parser - DRK

#608 Updated SMN missing DoT check for 5.08.
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/smn/modules/DoTs.js
  src/parser/jobs/smn/modules/MissingDoTs.js
Labels: Parser - SMN
