Repository xivanalysis/xivanalysis, pull requests merged in 2020-05, with the labels that each got.

#863 Thunder
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/components/ui/DbLink.module.css
  src/data/STATUSES/root/BLM.ts
  src/parser/jobs/blm/index.js
  src/parser/jobs/blm/modules/DISPLAY_ORDER.js
  src/parser/jobs/blm/modules/Procs.js
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/Thunder.js
  src/parser/jobs/blm/modules/index.js
  src/parser/jobs/blm/modules/proc_overlay.png
  src/parser/jobs/blm/modules/wrapper.module.css
  src/parser/jobs/blm/modules/wrapper.module.css.d.ts
Labels: Parser - BLM

#845 Unify the utilities function formatDuration with parser.formatDuration
  src/components/Find/FightItem.js
  src/components/GlobalSidebar/Breadcrumbs.js
  src/components/ui/RotationTable.tsx
  src/parser/core/Parser.tsx
  src/parser/jobs/rdm/modules/MeleeCombos.js
  src/utilities/strings.ts
Labels: Parser - RDM

#869 Initial reorganization of unit test structure
  .eslintignore
  package.json
  src/__tests__/Root.tsx
  src/data/__tests__/getDataBy.ts
  src/parser/core/__tests__/Dispatcher.ts
  src/parser/core/__tests__/Module.js
  src/parser/core/__tests__/Parser.js
  src/parser/core/modules/Gauge/__tests__/TimerGauge.ts
  src/parser/core/modules/Gauge/__tests__/__snapshots__/TimerGauge.ts.snap
  yarn.lock
Labels: Parser - Core

#867 Generate UTA status IDs
  .gitattributes
  package.json
  scripts/generate-unable-to-act.ts
  src/generated/unableToActStatusIds.ts
  src/parser/core/modules/UnableToAct/statusIds.ts
  src/theme.module.css.d.ts
  tsconfig.json
  yarn.lock
Labels: Parser - Core

#864 AST 5.1-5.2 support, partial layered data migration
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/layers/index.ts
  src/data/ACTIONS/layers/patch5.01.ts
  src/data/ACTIONS/layers/patch5.1.ts
  src/data/ACTIONS/root/AST.ts
  src/data/ACTIONS/type.ts
  src/data/STATUSES/layers/index.ts
  src/data/STATUSES/layers/patch5.05.ts
  src/data/STATUSES/root/AST.ts
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/ArcanaGroups.ts
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaSuggestions.tsx
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaTracking.tsx
  src/parser/jobs/ast/modules/ArcanaTracking/index.ts
  src/parser/jobs/ast/modules/Cooldowns.tsx
  src/parser/jobs/ast/modules/Draw.tsx
  src/parser/jobs/ast/modules/Overheal.tsx
  src/parser/jobs/ast/modules/index.js
Labels: Parser - AST

#872 Feature overheal core
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/STATUSES/root/SCH.ts
  src/parser/core/modules/Overheal.tsx
  src/parser/core/modules/Statistics/PieChartStatistic.module.css
  src/parser/jobs/sch/modules/Overheal.js
  src/parser/jobs/sch/modules/index.js
Labels: Parser - Core, Parser - SCH

#873 Downtime / UTA visualisation improvements
  src/parser/core/modules/Downtime.js
  src/parser/core/modules/Downtime.tsx
  src/parser/core/modules/Invulnerability.tsx
  src/parser/core/modules/UnableToAct/UnableToAct.js
  src/parser/core/modules/UnableToAct/UnableToAct.tsx
Labels: Parser - Core

#882 There's a typo in SCH's DoT warning
  locale/en/messages.json
  src/parser/jobs/sch/modules/DoTs.js
Labels: Parser - SCH

#880 Suppress interrupt table output if there's no interrupts
  src/parser/core/modules/Interrupts.tsx
Labels: Parser - Core

#858 [GNB] Expanded Visual Feedback on Gnashing Fang
  src/data/STATUSES/root/GNB.ts
  src/parser/jobs/gnb/NOTES.md
  src/parser/jobs/gnb/changelog.tsx
  src/parser/jobs/gnb/modules/AmmoCombo.tsx
  src/parser/jobs/gnb/modules/Continuation.tsx
  src/parser/jobs/gnb/modules/index.tsx
Labels: Parser - GNB

#885 fixed typo and severity on combo fail
  locale/en/messages.json
  src/parser/jobs/rdm/modules/Combos.js
  src/parser/jobs/rdm/modules/Dualcast.js
Labels: Parser - RDM

#883 Refactor of core event type logic
  .neutrinorc.js
  src/components/ui/Rotation.tsx
  src/components/ui/RotationTable.tsx
  src/events.ts
  src/fflogs.ts
  src/parser/Conductor.ts
  src/parser/core/Dispatcher.ts
  src/parser/core/EventSorting.ts
  src/parser/core/Module.ts
  src/parser/core/Parser.tsx
  src/parser/core/__tests__/Dispatcher.ts
  src/parser/core/modules/AdditionalEvents.ts
  src/parser/core/modules/BrokenLog.tsx
  src/parser/core/modules/BuffWindow.tsx
  src/parser/core/modules/Combos.tsx
  src/parser/core/modules/Death.d.ts
  src/parser/core/modules/Death.js
  src/parser/core/modules/Invulnerability.tsx
  src/parser/core/modules/NormalisedEvents.ts
  src/parser/core/modules/UnableToAct/UnableToAct.tsx
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaSuggestions.tsx
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaTracking.tsx
  src/parser/jobs/blm/modules/Gauge.d.ts
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/drk/modules/Darkside.tsx
  src/parser/jobs/sam/modules/Shoha.tsx
  src/parser/jobs/smn/modules/EgiCommands.tsx
  src/parser/jobs/smn/modules/GeneralCDDowntime.tsx
  src/parser/jobs/smn/modules/Pets.d.ts
Labels: Parser - AST, Parser - BLM, Parser - Core, Parser - DRK, Parser - SAM, Parser - SMN

#893 [NIN] Change Huton clipping suggestion to align with 5.1 combo changes
  locale/en/messages.json
  src/parser/jobs/nin/modules/Huton.js
Labels: Parser - NIN

#886 Convert WHM overheal to core
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/whm/modules/Overheal.js
Labels: Parser - WHM

#890 Add drill/air anchor drift module + CDDT for Machinist
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/yumiyafangirl.png
  src/parser/core/modules/CooldownDowntime.tsx
  src/parser/jobs/mch/index.js
  src/parser/jobs/mch/modules/Drift.tsx
  src/parser/jobs/mch/modules/GeneralCDDowntime.tsx
  src/parser/jobs/mch/modules/index.js
  src/parser/jobs/smn/modules/GeneralCDDowntime.tsx
Labels: Parser - Core, Parser - MCH, Parser - SMN

#904 Switched GSK/Nastrond hooks to normaliseddamage to fix a bug in the sim
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

#900 BRD - add first-use offsets to OGCDDowntime
  src/parser/jobs/brd/modules/OGCDDowntime.ts
Labels: Parser - BRD

#881 Fix SMN going turbomode during DWT and swiftcast
  src/parser/core/Module.ts
  src/parser/core/modules/Swiftcast.tsx
  src/parser/jobs/smn/modules/DWT.js
  src/parser/jobs/smn/modules/EgiCommands.tsx
  src/parser/jobs/smn/modules/Swiftcast.js
Labels: Parser - Core, Parser - SMN

#907 Warrior CDDT and timeline order update
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Tincture.ts
  src/parser/jobs/war/index.js
  src/parser/jobs/war/modules/Cooldowns.ts
  src/parser/jobs/war/modules/Gauge.tsx
  src/parser/jobs/war/modules/InnerRelease.tsx
  src/parser/jobs/war/modules/OGCDDowntime.ts
  src/parser/jobs/war/modules/index.js
Labels: Parser - Core, Parser - WAR

#901 MCH - add AoE usages module, add Bioblaster to Drift
  src/parser/jobs/mch/index.js
  src/parser/jobs/mch/modules/Drift.tsx
  src/parser/jobs/mch/modules/GeneralCDDowntime.tsx
  src/parser/jobs/mch/modules/MultiHitSkills.ts
  src/parser/jobs/mch/modules/index.js
Labels: Parser - MCH

#906 Add recitation vizualization to SCH
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/sch/index.js
  src/parser/jobs/sch/modules/Recitation.js
  src/parser/jobs/sch/modules/index.js
Labels: Parser - SCH

#870 fix: PrecastAction should not consider autos as first casts
  src/parser/core/modules/PrecastAction.js
  src/parser/core/modules/PrecastAction.ts
  src/parser/core/modules/__tests__/PrecastAction.ts
Labels: Parser - Core

#914 BLM: Fix RotationWatchdog to stop flagging Jp Opener
  src/parser/jobs/blm/index.js
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
Labels: Parser - BLM

#899 DNC - Adjustments for dirty dances
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
Labels: Parser - DNC

#902 Multi-dancer adjustments
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/Esprit.tsx
  src/parser/jobs/dnc/modules/Technicalities.tsx
Labels: Parser - DNC

#889 [SAM] Sen Overhaul
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/STATUSES/root/SHARED.ts
  src/parser/jobs/sam/index.js
  src/parser/jobs/sam/modules/Sen.tsx
Labels: Parser - SAM

#916 Remove warning messages
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/sch/index.js
  src/parser/jobs/whm/index.js
  src/parser/jobs/whm/modules/Lilies.js
Labels: Parser - SCH, Parser - WHM

#917 Update MNK about and feex FoW erroneous warning
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/Fists.tsx
Labels: Parser - MNK

#918 BugFix Tech Window opening when player not in the targets
  src/parser/core/modules/NormalisedEvents.ts
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/Technicalities.tsx
Labels: Parser - Core, Parser - DNC

#912 Add a CooldownDowntime module to NIN
  src/data/ACTIONS/root/NIN.ts
  src/parser/jobs/nin/index.js
  src/parser/jobs/nin/modules/OGCDDowntime.js
  src/parser/jobs/nin/modules/index.js
Labels: Parser - NIN

#910 SMN badcasts
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/smn/modules/DWT.js
  src/parser/jobs/smn/modules/Physick.tsx
  src/parser/jobs/smn/modules/index.js
Labels: Parser - SMN
