Repository xivanalysis/xivanalysis, pull requests merged in 2020-06, with the labels that each got.

#919 Remove warning from WAR
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/war/index.js
Labels: Parser - WAR

#921 [BRD] Clean up snapshot module
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/brd/changelog.js
  src/parser/jobs/brd/index.js
  src/parser/jobs/brd/modules/SnapshotBlacklist.ts
  src/parser/jobs/brd/modules/Snapshots.js
Labels: Parser - BRD

#923 [SAM] Wording Fix
  locale/en/messages.json
  src/parser/jobs/sam/modules/Sen.tsx
Labels: Parser - SAM

#925 Add tincture use to SAM
  src/parser/jobs/sam/modules/Tincture.js
  src/parser/jobs/sam/modules/index.js
Labels: Parser - SAM

#929 [SAM] Higanbana visual history update
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/sam/index.js
  src/parser/jobs/sam/modules/Higanbana.js
Labels: Parser - SAM

#936 MCH: add detonator to actions
  src/data/ACTIONS/root/MCH.ts
  src/parser/jobs/mch/modules/Cooldowns.js
Labels: Parser - MCH

#922 Dragoon: Ability drift calculation module for High Jump and Geirskogul.
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/rietty.png
  src/parser/jobs/drg/index.js
  src/parser/jobs/drg/modules/Drift.tsx
  src/parser/jobs/drg/modules/Positionals.js
  src/parser/jobs/drg/modules/index.js
Labels: Parser - DRG

#940 Wire new reports through to the parser framework
  src/components/LegacyAnalyse/Analyse.js
  src/components/ReportFlow/ActorList.tsx
  src/components/ReportFlow/Analyse.tsx
  src/parser/AVAILABLE_MODULES.ts
  src/parser/Conductor.ts
  src/parser/core/Parser.tsx
  src/parser/core/__tests__/Module.js
  src/parser/core/__tests__/Parser.js
Labels: Parser - Core

#942 Fixed issue caused by duplicate MOUNTAIN_BUSTER
  src/data/ACTIONS/root/BLU.ts
  src/data/ACTIONS/root/SMN.ts
  src/parser/jobs/smn/modules/EgiCommands.tsx
  src/parser/jobs/smn/modules/PetTimeline.ts
Labels: Parser - SMN

#943 New report: core pass 1
  src/data/PATCHES.ts
  src/parser/core/Module.ts
  src/parser/core/Parser.tsx
  src/parser/core/__tests__/Module.js
  src/parser/core/modules/About.js
  src/parser/core/modules/AlwaysBeCasting.js
  src/parser/core/modules/BrokenLog.tsx
  src/parser/core/modules/BuffWindow.tsx
  src/parser/core/modules/Combos.tsx
  src/parser/core/modules/CooldownDowntime.tsx
  src/parser/core/modules/Cooldowns.js
  src/parser/core/modules/Death.js
  src/parser/core/modules/DoTs.js
  src/parser/core/modules/Downtime.tsx
  src/parser/core/modules/Entities.js
  src/parser/core/modules/EntityStatuses.ts
  src/parser/core/modules/Gauge/CounterGauge.ts
  src/parser/core/modules/Gauge/TimerGauge.ts
  src/parser/core/modules/Gauge/__tests__/TimerGauge.ts
  src/parser/core/modules/GlobalCooldown.js
  src/parser/core/modules/Interrupts.tsx
  src/parser/core/modules/Invulnerability.tsx
  src/parser/core/modules/NormalisedEvents.ts
  src/parser/core/modules/PetTimeline.tsx
  src/parser/core/modules/PrecastAction.ts
  src/parser/core/modules/PrecastStatus.js
  src/parser/core/modules/RaidBuffs.js
  src/parser/core/modules/Statuses.js
  src/parser/core/modules/Swiftcast.tsx
  src/parser/core/modules/Timeline/Timeline.tsx
  src/parser/core/modules/UnableToAct/UnableToAct.tsx
  src/parser/core/modules/Weaving.js
  src/parser/core/modules/__tests__/PrecastAction.ts
  src/parser/jobs/ast/modules/CelestialIntersection.tsx
  src/parser/jobs/ast/modules/CelestialOpposition.tsx
  src/parser/jobs/ast/modules/EarthlyStar.tsx
  src/parser/jobs/ast/modules/LucidDreaming.js
  src/parser/jobs/ast/modules/SleeveDraw.js
  src/parser/jobs/blm/modules/Thunder.js
  src/parser/jobs/brd/modules/Barrage.js
  src/parser/jobs/brd/modules/Util.js
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
  src/parser/jobs/drg/modules/Buffs.js
  src/parser/jobs/drk/modules/Darkside.tsx
  src/parser/jobs/mnk/modules/Fists.tsx
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
  src/parser/jobs/nin/modules/Huton.js
  src/parser/jobs/sam/modules/Buffs.js
  src/parser/jobs/sam/modules/Higanbana.js
  src/parser/jobs/sch/modules/Aetherflow.js
  src/parser/jobs/smn/modules/DoTs.js
  src/parser/jobs/smn/modules/Pets.js
  src/parser/jobs/war/modules/StormsEye.js
  src/parser/jobs/whm/modules/DoTs.js
  src/parser/jobs/whm/modules/oGCDs.tsx
Labels: Parser - Core

#945 SAM - clean up kaiten wording
  locale/en/messages.json
  src/parser/jobs/sam/modules/Kaiten.js
Labels: Parser - SAM

#949 [PLD] Assorted text cleanup
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/pld/index.tsx
  src/parser/jobs/pld/modules/FightOrFlight.tsx
  src/parser/jobs/pld/modules/Requiescat.tsx
Labels: Parser - PLD

#948 [Bug Fix][Sam] Meikyo Window End of Fight rushing
  src/parser/jobs/sam/modules/Meikyo.tsx
Labels: Parser - SAM

#946 AoE Usages cleanup
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/AoEUsages.tsx
  src/parser/jobs/brd/changelog.js
  src/parser/jobs/brd/modules/MultiHitSkills.ts
  src/parser/jobs/brd/modules/index.js
  src/parser/jobs/drk/modules/MultiHitSkills.ts
  src/parser/jobs/mch/modules/MultiHitSkills.ts
  src/parser/jobs/mnk/modules/MnkAoE.tsx
  src/parser/jobs/sam/modules/AoeChecker.js
  src/parser/jobs/smn/modules/MultiHitSkills.js
Labels: Parser - BRD, Parser - Core, Parser - DRK, Parser - MCH, Parser - MNK, Parser - SAM, Parser - SMN

#933 Fix warning duration for whm spells when they never use them
  src/parser/jobs/whm/modules/oGCDs.tsx
Labels: Parser - WHM

#938 Knoweth thy Fist
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mnk/modules/Fists.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
Labels: Parser - MNK

#927 DRG: Add Battle Litany Module
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/drg/index.js
  src/parser/jobs/drg/modules/BattleLitany.tsx
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
  src/parser/jobs/drg/modules/Buffs.js
  src/parser/jobs/drg/modules/DISPLAY_ORDER.js
  src/parser/jobs/drg/modules/Drift.tsx
  src/parser/jobs/drg/modules/Positionals.js
  src/parser/jobs/drg/modules/index.js
Labels: Parser - DRG

#953 More adjustments to DRG Modules.
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
  src/parser/jobs/drg/modules/Buffs.js
  src/parser/jobs/drg/modules/DISPLAY_ORDER.js
  src/parser/jobs/drg/modules/Drift.tsx
  src/parser/jobs/drg/modules/Positionals.js
  src/parser/jobs/drg/modules/Tincture.js
  src/parser/jobs/drg/modules/Weaving.js
  src/parser/jobs/drg/modules/index.js
Labels: Parser - DRG
