Repository xivanalysis/xivanalysis, pull requests merged in 2020-03, with the labels that each got.

#794 [BugFix] Adjust Successful Hit semantics and logic for ghosted hits
  src/parser/core/modules/AoEUsages.tsx
  src/parser/core/modules/Combos.tsx
  src/parser/core/modules/NormalisedEvents.ts
  src/parser/jobs/brd/modules/Sidewinder.js
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
  src/parser/jobs/dnc/modules/Esprit.tsx
  src/parser/jobs/dnc/modules/FeatherGauge.tsx
  src/parser/jobs/drk/modules/ResourceSimulator.js
  src/parser/jobs/gnb/modules/Ammo.tsx
  src/parser/jobs/mnk/modules/Steppies.tsx
  src/parser/jobs/nin/modules/Ninjutsu.js
  src/parser/jobs/nin/modules/Ninki.js
  src/parser/jobs/rdm/modules/Gauge.js
  src/parser/jobs/sam/modules/AoeChecker.js
  src/parser/jobs/smn/modules/DWT.js
  src/parser/jobs/smn/modules/Pets.js
Labels: Parser - BRD, Parser - Core, Parser - DNC, Parser - DRK, Parser - GNB, Parser - MNK, Parser - NIN, Parser - RDM, Parser - SAM, Parser - SMN

#776 [SAM] 5.2 Update. Meditate Fix, OGCD tracker updated, AoeChecker converted to core instead of my own code.
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/sam/ToDo.txt
  src/parser/jobs/sam/index.js
  src/parser/jobs/sam/modules/AoeChecker.js
  src/parser/jobs/sam/modules/Kenki.js
  src/parser/jobs/sam/modules/OGCDDowntime.ts
  src/parser/jobs/sam/modules/Shoha.tsx
Labels: Parser - SAM

#800 Feex master builds for prod deployments
  src/parser/jobs/sam/modules/AoeChecker.js
Labels: Parser - SAM, bug

#799 Add Interrupts to core modules
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Interrupts.tsx
  src/parser/jobs/sch/modules/Interrupts.js
  src/parser/jobs/sch/modules/index.js
Labels: Parser - Core, Parser - SCH

#789 MNK 5.2 support and smol feex for steppies
  locale/en/messages.json
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/Fists.tsx
  src/parser/jobs/mnk/modules/Forms.tsx
  src/parser/jobs/mnk/modules/MnkAoE.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
  src/parser/jobs/mnk/modules/Steppies.tsx
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
  src/parser/jobs/mnk/modules/Weaving.ts
Labels: Parser - MNK

#801 Add interrupt tracking to WHM
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/whm/index.js
  src/parser/jobs/whm/modules/Interrupts.js
  src/parser/jobs/whm/modules/index.js
Labels: Parser - WHM

#787 Modified core CDDT to handle pre-fight and downtime usages.
  src/parser/core/modules/CooldownDowntime.tsx
  src/parser/jobs/dnc/modules/OGCDDowntime.tsx
Labels: Parser - Core, Parser - DNC

#802 Modify Weaving in core for message flexibility
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Weaving.d.ts
  src/parser/core/modules/Weaving.js
  src/parser/jobs/sch/modules/Weaving.js
Labels: Parser - Core, Parser - SCH

#803 Bump WAR to support 5.2
  src/data/STATUSES/layers/index.ts
  src/data/STATUSES/layers/patch5.1.ts
  src/parser/jobs/war/index.js
Labels: Parser - WAR

#818 [BugFix] Low DoT uptime calculation when boss is invuln mid-DoT
  src/parser/core/modules/EntityStatuses.ts
Labels: Parser - Core
