Repository xivanalysis/xivanalysis, pull requests merged in 2020-09, with the labels that each got.

#1018 bugfix - statuses can't end later than the end of the fight
  src/parser/core/modules/EntityStatuses.ts
Labels: Parser - Core

#1008 MCH - Reassemble rewrite
  locale/en/messages.json
  src/parser/jobs/mch/modules/Reassemble.js
  src/parser/jobs/mch/modules/Reassemble.tsx
Labels: Parser - MCH

#1009 MCH - Tincture improvements
  src/parser/core/modules/BuffWindow.tsx
  src/parser/jobs/mch/modules/Tincture.tsx
Labels: Parser - Core, Parser - MCH

#1011 BRD - Housekeeping
  src/data/CONTRIBUTORS.ts
  src/parser/jobs/brd/index.js
  src/parser/jobs/brd/modules/Barrage.js
  src/parser/jobs/brd/modules/DISPLAY_ORDER.ts
  src/parser/jobs/brd/modules/PitchPerfect.js
  src/parser/jobs/brd/modules/Sidewinder.js
  src/parser/jobs/brd/modules/Snapshots.tsx
Labels: Parser - BRD

#1016 DRG: Fix for Battle Litany Module Counting Death as Overlap
  src/parser/jobs/drg/modules/BattleLitany.tsx
Labels: Parser - DRG

#1017 DRG: OGCD Downtime changes for adjusted opener
  src/parser/jobs/drg/modules/OGCDDowntime.ts
Labels: Parser - DRG

#1010 BRD - Barrage rewrite
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/brd/changelog.js
  src/parser/jobs/brd/modules/Barrage.js
  src/parser/jobs/brd/modules/Barrage.module.css
  src/parser/jobs/brd/modules/Barrage.module.css.d.ts
  src/parser/jobs/brd/modules/Barrage.tsx
  src/parser/jobs/brd/modules/Util.js
Labels: Parser - BRD
