Repository xivanalysis/xivanalysis, pull requests merged in 2020-12, with the labels that each got.

#1046 Fix Aspected Benefic's ability id
  src/data/ACTIONS/root/AST.ts
  src/parser/jobs/ast/index.tsx
Labels: Parser - AST

#1047 New event structure dry run
  src/components/ReportFlow/ActorList.tsx
  src/components/ReportFlow/Analyse.tsx
  src/components/ReportFlow/PullList.tsx
  src/event.ts
  src/fflogs.ts
  src/legacyEvent.ts
  src/parser/core/Dispatcher.ts
  src/parser/core/EventSorting.ts
  src/parser/core/Module.ts
  src/parser/core/Parser.tsx
  src/parser/core/modules/AdditionalEvents.ts
  src/parser/core/modules/Combos.tsx
  src/parser/core/modules/Death.d.ts
  src/parser/core/modules/Invulnerability.tsx
  src/parser/core/modules/NormalisedEvents.ts
  src/parser/core/modules/PrecastAction.ts
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaTracking.tsx
  src/parser/jobs/blm/modules/Gauge.d.ts
  src/parser/jobs/drk/modules/Darkside.tsx
  src/parser/jobs/smn/modules/EgiCommands.tsx
  src/parser/jobs/smn/modules/GeneralCDDowntime.tsx
  src/parser/jobs/smn/modules/Pets.d.ts
  src/reportSources/base.ts
  src/reportSources/legacyFflogs/component.tsx
  src/reportSources/legacyFflogs/eventAdapter.ts
  src/reportSources/legacyFflogs/reportAdapter.ts
  src/reportSources/legacyFflogs/store.ts
Labels: Parser - AST, Parser - BLM, Parser - Core, Parser - DRK, Parser - SMN

#1004 BRD - BuffWindow for Raging Strikes
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/components/ui/RotationTable.tsx
  src/parser/core/modules/BuffWindow.tsx
  src/parser/jobs/brd/changelog.js
  src/parser/jobs/brd/modules/DISPLAY_ORDER.ts
  src/parser/jobs/brd/modules/MultiHitSkills.ts
  src/parser/jobs/brd/modules/RagingStrikes.tsx
  src/parser/jobs/brd/modules/index.js
Labels: Parser - BRD, Parser - Core

#1069 BRD - Don't flag apex if it was overkill
  src/parser/jobs/brd/modules/ApexArrow.tsx
Labels: Parser - BRD

#1044 MNK patch 5.4 support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/layers/patch5.4.ts
  src/data/STATUSES/layers/index.ts
  src/data/STATUSES/layers/patch5.4.ts
  src/data/STATUSES/root/MNK.ts
  src/parser/core/modules/SpeedmodConsts.js
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/Cooldowns.ts
  src/parser/jobs/mnk/modules/DISPLAY_ORDER.ts
  src/parser/jobs/mnk/modules/Demolish.tsx
  src/parser/jobs/mnk/modules/Fists.tsx
  src/parser/jobs/mnk/modules/Forms.tsx
  src/parser/jobs/mnk/modules/Gauge.ts
  src/parser/jobs/mnk/modules/MultiHitSkills.tsx
  src/parser/jobs/mnk/modules/OGCDDowntime.ts
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
  src/parser/jobs/mnk/modules/RiddleOfEarth.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
  src/parser/jobs/mnk/modules/Speedmod.ts
  src/parser/jobs/mnk/modules/Steppies.tsx
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
  src/parser/jobs/mnk/modules/index.ts
Labels: Parser - Core, Parser - MNK

#1063 DRG: Move Dragon Sight and Lance Charge to core BuffWindow Module
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/BuffWindow.tsx
  src/parser/jobs/drg/index.js
  src/parser/jobs/drg/modules/Buffs.tsx
  src/parser/jobs/drg/modules/DragonSight.tsx
  src/parser/jobs/drg/modules/DrgBuffWindow.tsx
  src/parser/jobs/drg/modules/LanceCharge.tsx
Labels: Parser - Core, Parser - DRG

#1072 Feex bad switching on FPF
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
Labels: Parser - MNK

#1073 Update About's UI a bit
  src/parser/core/modules/About.js
  src/parser/core/modules/About.module.css
  src/parser/core/modules/About.module.css.d.ts
Labels: Parser - Core
