Repository xivanalysis/xivanalysis, pull requests merged in 2020-02, with the labels that each got.

#743 Normalise FFLogs events to a standard interface
  .eslintignore
  src/fflogs.ts
  src/parser/core/modules/AdditionalEvents.js
  src/parser/core/modules/NormalisedEvents.ts
  src/parser/core/modules/index.js
  src/parser/jobs/drk/modules/MultiHitSkills.js
Labels: Parser - Core, Parser - DRK

#773 Improved display of SMN dot table
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/smn/index.js
  src/parser/jobs/smn/modules/DoTs.js
Labels: Parser - SMN

#769 Adjusted allowedDowntime and firstUseOffset for SMN cooldowns.
  src/parser/jobs/smn/modules/GeneralCDDowntime.ts
Labels: Parser - SMN

#774 Added check for no DoT applicationss.
  src/parser/jobs/smn/modules/DoTs.js
Labels: Parser - SMN

#768 Added check to ensure Tri-disaster is used.
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/smn/index.js
  src/parser/jobs/smn/modules/TriDisaster.tsx
  src/parser/jobs/smn/modules/index.js
Labels: Parser - SMN

#670 WIP: new invuln and AE
  src/parser/core/modules/AdditionalEvents.js
  src/parser/core/modules/Invulnerability.js
  src/parser/jobs/sam/modules/Meikyo.tsx
Labels: Parser - Core, Parser - SAM

#772 Deprecate aoeX and migrate consumers to normalisedX
  src/parser/core/Parser.tsx
  src/parser/core/modules/AoEUsages.tsx
  src/parser/core/modules/Combos.tsx
  src/parser/core/modules/NormalisedEvents.ts
  src/parser/jobs/dnc/modules/Combos.ts
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
  src/parser/jobs/dnc/modules/Esprit.tsx
  src/parser/jobs/dnc/modules/FeatherGauge.tsx
  src/parser/jobs/dnc/modules/Technicalities.tsx
  src/parser/jobs/drk/modules/Darkside.js
  src/parser/jobs/drk/modules/ResourceSimulator.js
  src/parser/jobs/gnb/NOTES.md
  src/parser/jobs/gnb/modules/Ammo.tsx
  src/parser/jobs/mnk/modules/MnkAoE.tsx
  src/parser/jobs/nin/modules/Ninjutsu.js
  src/parser/jobs/nin/modules/Ninki.js
  src/parser/jobs/rdm/modules/Gauge.js
  src/parser/jobs/sam/modules/AoeChecker.js
  src/parser/jobs/sam/modules/Combos.ts
  src/parser/jobs/smn/modules/DWT.js
  src/parser/jobs/smn/modules/Pets.js
Labels: Parser - Core, Parser - DNC, Parser - DRK, Parser - GNB, Parser - MNK, Parser - NIN, Parser - RDM, Parser - SAM, Parser - SMN

#778 fix: Sort normalisedX events into the event array to maintain expected ordering
  src/parser/core/EventSorting.ts
  src/parser/core/modules/AdditionalEvents.js
  src/parser/core/modules/NormalisedEvents.ts
Labels: Parser - Core

#779 Mark NIN and MCH as supported for 5.2
  src/parser/jobs/mch/index.js
  src/parser/jobs/nin/index.js
Labels: Parser - MCH, Parser - NIN

#766 Replace FFLogsEventNormaliser compatibility shim with NormalisedEvents
  src/parser/core/modules/AoE.d.ts
  src/parser/core/modules/AoE.js
  src/parser/core/modules/Entities.js
  src/parser/core/modules/FFLogsEventNormaliser.ts
  src/parser/core/modules/PrecastAction.js
  src/parser/core/modules/index.js
  src/parser/jobs/brd/modules/Sidewinder.js
  src/parser/jobs/mnk/modules/Steppies.tsx
  src/parser/jobs/nin/modules/TrickAttackWindow.js
Labels: Parser - BRD, Parser - Core, Parser - MNK, Parser - NIN

#784 DRK typescript part 1, mark supported for 5.2
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/NormalisedEvents.ts
  src/parser/jobs/drk/index.tsx
  src/parser/jobs/drk/modules/BloodWeapon.tsx
  src/parser/jobs/drk/modules/Cooldowns.ts
  src/parser/jobs/drk/modules/Darkside.tsx
  src/parser/jobs/drk/modules/Delirium.tsx
  src/parser/jobs/drk/modules/MultiHitSkills.js
  src/parser/jobs/drk/modules/MultiHitSkills.ts
  src/parser/jobs/drk/modules/OGCDDowntime.ts
  src/parser/jobs/drk/modules/Statuses.ts
  src/parser/jobs/drk/modules/index.js
  src/parser/jobs/drk/modules/index.ts
Labels: Parser - Core, Parser - DRK

#793 Fix WHM dia clipping suggestion
  locale/en/messages.json
  src/parser/jobs/whm/modules/DoTs.js
Labels: Parser - WHM

#785 Add crit and DH count to normalisedevent interface
  src/parser/core/modules/NormalisedEvents.ts
  src/parser/jobs/mnk/modules/Steppies.tsx
Labels: Parser - Core, Parser - MNK

#792 Proctimeline
  src/data/STATUSES/root/RDM.ts
  src/parser/jobs/rdm/index.js
  src/parser/jobs/rdm/modules/Procs.js
  src/parser/jobs/rdm/modules/ProcsEnum.js
Labels: Parser - RDM
