Repository xivanalysis/xivanalysis, pull requests merged in 2020-04, with the labels that each got.

#819 [BugFix]: Undefined reference error when synthesizing new stack history
  src/parser/core/modules/EntityStatuses.ts
Labels: Parser - Core

#805 [GNB] Quick Simple things
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/gnb/NOTES.md
  src/parser/jobs/gnb/changelog.tsx
  src/parser/jobs/gnb/index.tsx
  src/parser/jobs/gnb/modules/Ammo.tsx
  src/parser/jobs/gnb/modules/OGCDDowntime.tsx
Labels: Parser - GNB

#817 [SAM] Interrupt module
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/sam/index.js
  src/parser/jobs/sam/modules/SamInterrupts.js
  src/parser/jobs/sam/modules/index.js
Labels: Parser - SAM

#820 Smn Devotion Module
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/parser/jobs/smn/index.js
  src/parser/jobs/smn/modules/DISPLAY_ORDER.js
  src/parser/jobs/smn/modules/Devotion.js
  src/parser/jobs/smn/modules/index.js
Labels: Parser - SMN

#822 Added module to show tincture usage.
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/BuffWindow.tsx
  src/parser/core/modules/Tincture.ts
  src/parser/jobs/smn/index.js
  src/parser/jobs/smn/modules/index.js
Labels: Parser - Core, Parser - SMN

#821 Added pet actions to timeline.
  src/parser/core/modules/PetTimeline.tsx
  src/parser/jobs/smn/index.js
  src/parser/jobs/smn/modules/PetTimeline.ts
  src/parser/jobs/smn/modules/index.js
Labels: Parser - Core, Parser - SMN

#823 Changed demi ghost checking to use NormalisedDamage events
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/smn/index.js
  src/parser/jobs/smn/modules/Demis.js
Labels: Parser - SMN

#825 Reorder MNK timeline to be more reflective of skill usage
  src/parser/jobs/mnk/modules/Cooldowns.ts
Labels: Parser - MNK

#826 Add Esteem actions to DRK timeline
  src/data/ACTIONS/root/DRK.ts
  src/parser/core/modules/PetTimeline.tsx
  src/parser/jobs/drk/index.tsx
  src/parser/jobs/drk/modules/Cooldowns.ts
  src/parser/jobs/drk/modules/EsteemTimeline.ts
  src/parser/jobs/drk/modules/index.ts
Labels: Parser - Core, Parser - DRK

#827 Smn Devotion Suggestion
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/smn/index.js
  src/parser/jobs/smn/modules/Devotion.js
Labels: Parser - SMN

#830 Add pet tracking module to SCH
  src/data/ACTIONS/root/SCH.ts
  src/parser/jobs/sch/index.js
  src/parser/jobs/sch/modules/Pets.js
  src/parser/jobs/sch/modules/index.js
Labels: Parser - SCH

#831 Smn devotion suggestion bugfix
  src/parser/jobs/smn/modules/Devotion.js
Labels: Parser - SMN

#829 Add Swiftcast tracking to core
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/BuffWindow.tsx
  src/parser/core/modules/Swiftcast.tsx
  src/parser/jobs/sch/modules/Swiftcast.js
  src/parser/jobs/smn/modules/Swiftcast.js
  src/parser/jobs/smn/modules/index.js
  src/parser/jobs/whm/modules/Swiftcast.js
Labels: Parser - Core, Parser - SCH, Parser - SMN, Parser - WHM

#833 Bugfix negative expected GCDs in Swiftcast module
  src/parser/core/modules/BuffWindow.tsx
  src/parser/core/modules/Swiftcast.tsx
Labels: Parser - Core

#824 5.2 berd is the werd
  src/data/ACTIONS/layers/index.ts
  src/data/ACTIONS/layers/patch5.1.ts
  src/data/ACTIONS/root/ARC.ts
  src/data/STATUSES/root/BRD.ts
  src/parser/jobs/brd/changelog.js
  src/parser/jobs/brd/index.js
  src/parser/jobs/brd/modules/Barrage.js
  src/parser/jobs/brd/modules/Cooldowns.js
  src/parser/jobs/brd/modules/index.js
Labels: Parser - BRD

#839 Reworked the TrickAttackWindow module to use core BuffWindow
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/BuffWindow.tsx
  src/parser/jobs/nin/modules/TrickAttackWindow.js
Labels: Parser - Core, Parser - NIN

#834 Updated SMN cddt
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/SMN.ts
  src/parser/core/modules/NormalisedEvents.ts
  src/parser/core/modules/PrecastAction.js
  src/parser/core/modules/PrecastStatus.js
  src/parser/jobs/smn/modules/GeneralCDDowntime.ts
  src/parser/jobs/smn/modules/GeneralCDDowntime.tsx
Labels: Parser - Core, Parser - SMN

#840 Added a check in the Ninjutsu module to forgive prepull STDs
  src/data/ACTIONS/root/NIN.ts
  src/parser/jobs/nin/modules/Ninjutsu.js
  src/parser/jobs/nin/modules/TrickAttackUsage.js
Labels: Parser - NIN

#846 Fix attack actions counting as interrupts
  src/parser/core/modules/Interrupts.tsx
Labels: Parser - Core

#847 Fixed an issue that could cause a crash if the first event in an enco…
  src/parser/jobs/smn/modules/Pets.js
Labels: Parser - SMN

#848 Sharpcast overhaul and smaller other things
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/CooldownDowntime.tsx
  src/parser/jobs/blm/index.js
  src/parser/jobs/blm/modules/OGCDDowntime.tsx
  src/parser/jobs/blm/modules/Sharpcast.js
Labels: Parser - BLM, Parser - Core

#852 I fixed things in UnabletoAct and NotCasting
  src/parser/core/modules/UnableToAct/statusIds.ts
  src/parser/jobs/blm/modules/NotCasting.js
Labels: Parser - BLM, Parser - Core

#855 PLD 5.2 updates
  locale/en/messages.json
  src/parser/jobs/pld/index.tsx
  src/parser/jobs/pld/modules/FightOrFlight.tsx
  src/parser/jobs/pld/modules/NOTES.md
  src/parser/jobs/pld/modules/Requiescat.tsx
Labels: Parser - PLD

#856 Fixes a minor error in the FoF copy.
  locale/en/messages.json
  src/parser/jobs/pld/modules/FightOrFlight.tsx
Labels: Parser - PLD

#859 PLD fixes (3-HS Req, spells in FoF)
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/pld/modules/FightOrFlight.tsx
  src/parser/jobs/pld/modules/Requiescat.tsx
Labels: Parser - PLD

#853 Added tracking to show which egi commands where not executed.
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/smn/modules/EgiCommands.tsx
  src/parser/jobs/smn/modules/index.js
Labels: Parser - SMN

#862 SMN now uses core interrupts module.
  src/parser/jobs/smn/modules/index.js
Labels: Parser - SMN
