Repository xivanalysis/xivanalysis, pull requests merged in 2020-07, with the labels that each got.

#961 Retiring now outdated dragoon rotation watchdog module.
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/drg/modules/RotationWatchdog.js
  src/parser/jobs/drg/modules/index.js
  src/parser/jobs/drg/modules/notes.md
Labels: Parser - DRG

#956 Moving some UI components to typescript
  src/components/Home/Home.tsx
  src/components/Home/index.ts
  src/components/ui/ContributorLabel.js
  src/components/ui/ContributorLabel.tsx
  src/components/ui/TimeLineChart.tsx
  src/data/CONTRIBUTORS.ts
  src/data/GLOSSARY.ts
  src/parser/core/modules/AlwaysBeCasting.tsx
  src/parser/core/modules/ChangeLog/ChangeLog.tsx
  src/parser/core/modules/ChangeLog/Component.tsx
  src/parser/jobs/pld/modules/Statuses.ts
  src/utilities/getPathMatch.ts
  src/utilities/random.ts
Labels: Parser - Core, Parser - PLD

#964 Fixed double Devotion issue
  src/parser/jobs/smn/modules/Devotion.js
Labels: Parser - SMN

#963 BRD - Snapshots Rewrite
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/components/ui/DbLink.js
  src/parser/jobs/brd/changelog.js
  src/parser/jobs/brd/modules/AdditionalStats.js
  src/parser/jobs/brd/modules/SnapshotBlacklist.ts
  src/parser/jobs/brd/modules/Snapshots.js
  src/parser/jobs/brd/modules/Snapshots.module.css
  src/parser/jobs/brd/modules/Snapshots.module.css.d.ts
  src/parser/jobs/brd/modules/Snapshots.tsx
Labels: Parser - BRD

#959 Add in the old IDs for Chi and Jin to fix buggy timelines
  src/data/ACTIONS/root/NIN.ts
  src/parser/jobs/nin/modules/TrickAttackUsage.js
  src/parser/jobs/nin/modules/TrickAttackWindow.js
Labels: Parser - NIN

#966 Updated Chaos Thrust wording in Dragoon Module to be more clear.
  locale/en/messages.json
  src/parser/jobs/drg/modules/Debuffs.js
  src/parser/jobs/drg/modules/notes.md
Labels: Parser - DRG

#970 SAM - some minor changes
  locale/en/messages.json
  src/parser/jobs/sam/modules/Higanbana.js
  src/parser/jobs/sam/modules/Higanbana.module.css
  src/parser/jobs/sam/modules/Higanbana.module.css.d.ts
  src/parser/jobs/sam/modules/Shoha.tsx
Labels: Parser - SAM

#969 DRG: Refactor and Re-Order Buffs
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/drg/modules/Buffs.js
  src/parser/jobs/drg/modules/Buffs.tsx
  src/parser/jobs/drg/modules/DISPLAY_ORDER.js
  src/parser/jobs/drg/modules/DragonSight.tsx
  src/parser/jobs/drg/modules/DrgBuffWindow.tsx
  src/parser/jobs/drg/modules/LanceCharge.tsx
  src/parser/jobs/drg/modules/Positionals.js
  src/parser/jobs/drg/modules/index.js
Labels: Parser - DRG
