Repository xivanalysis/xivanalysis, pull requests merged in 2020-10, with the labels that each got.

#999 AST 5.3 bump
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/layers/patch5.3.ts
  src/data/STATUSES/layers/patch5.3.ts
  src/data/STATUSES/root/AST.ts
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaTracking.tsx
  src/parser/jobs/ast/modules/Draw.tsx
  src/parser/jobs/ast/modules/Horoscope.tsx
  src/parser/jobs/ast/modules/Lightspeed.js
Labels: Parser - AST

#1021 Dualcast severity update for missed casts.
  src/parser/jobs/rdm/index.js
  src/parser/jobs/rdm/modules/Dualcast.js
Labels: Parser - RDM

#1028 AST - Remove errant space in translation
  locale/en/messages.json
  src/parser/jobs/ast/modules/Draw.tsx
Labels: Parser - AST

#1023 AST - Fix starting sect not recognized
  src/data/CONTRIBUTORS.ts
  src/data/avatar/casualsuperman.png
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/Sect/Sect.tsx
Labels: Parser - AST

#1019 BRD - if apex hits multiple targets, choose the best hit for potency calcs
  src/parser/jobs/brd/modules/ApexArrow.tsx
Labels: Parser - BRD

#1031 AST - Fix Earthly Star counts
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/EarthlyStar.tsx
Labels: Parser - AST
