Repository xivanalysis/xivanalysis, pull requests merged in 2020-01, with the labels that each got.

#754 Bugfix: DRG - display proper action in missed positional table
  src/parser/jobs/drg/modules/Positionals.js
Labels: Parser - DRG

#744 DNC - Count/Show Players Buffed by Tech Finish
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/Technicalities.tsx
Labels: Parser - DNC

#739 Refactor entities.getStatusUptime() into separate module
  src/parser/core/modules/DoTs.js
  src/parser/core/modules/Entities.js
  src/parser/core/modules/EntityStatuses.ts
  src/parser/core/modules/index.js
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/brd/modules/Util.js
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
  src/parser/jobs/drg/modules/Buffs.js
  src/parser/jobs/mnk/modules/Fists.tsx
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
  src/parser/jobs/sam/modules/Buffs.js
  src/parser/jobs/sam/modules/Higanbana.js
  src/parser/jobs/smn/modules/DoTs.js
  src/parser/jobs/war/modules/StormsEye.js
  src/parser/jobs/whm/modules/DoTs.js
Labels: Parser - BLM, Parser - BRD, Parser - Core, Parser - DNC, Parser - DRG, Parser - MNK, Parser - SAM, Parser - SMN, Parser - WAR, Parser - WHM

#758 [skip ci] Update Intervene to be a charge skill, adjust CDDT params accordingly
  src/data/ACTIONS/root/PLD.ts
  src/parser/jobs/pld/modules/OGCDDowntime.tsx
Labels: Parser - PLD

#755 Updates for RDM CD Downtime
  src/parser/jobs/rdm/index.js
  src/parser/jobs/rdm/modules/GeneralCDDowntime.ts
Labels: Parser - RDM

#753 Add Blue Mage
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/components/ui/JobIcon/job-icons.svg
  src/components/ui/JobIcon/job-icons.ttf
  src/components/ui/JobIcon/job-icons.woff
  src/data/ACTIONS/root/BLU.ts
  src/data/ACTIONS/root/index.ts
  src/data/CONTRIBUTORS.ts
  src/data/JOBS.ts
  src/data/STATUSES/root/BLU.ts
  src/data/STATUSES/root/index.ts
  src/data/avatar/paige_404.png
  src/fflogs.ts
  src/parser/AVAILABLE_MODULES.ts
  src/parser/core/modules/RaidBuffs.js
  src/parser/jobs/blu/changelog.tsx
  src/parser/jobs/blu/index.tsx
  src/parser/jobs/blu/modules/NOTES.md
  src/parser/jobs/blu/modules/index.tsx
Labels: Parser - Core

#759 DRG: Enhanced Life of the Dragon Window Analysis
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/drg/index.js
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

#762 DRG: Allow partial buff windows
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/drg/modules/Buffs.js
Labels: Parser - DRG
