Repository xivanalysis/xivanalysis, pull requests merged in 2020-08, with the labels that each got.

#975 DRG: Adjust true north recharge buffer
  src/parser/jobs/drg/modules/Positionals.js
Labels: Parser - DRG

#974 DRG: Fix LotD module showing a warning to delay past end of fight
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
Labels: Parser - DRG

#984 DRK / MCH / WAR - AoEUsages consistency
  locale/en/messages.json
  src/parser/core/modules/AoEUsages.tsx
  src/parser/jobs/drk/modules/MultiHitSkills.ts
  src/parser/jobs/mch/modules/MultiHitSkills.ts
  src/parser/jobs/war/modules/MultiHitSkills.ts
Labels: Parser - Core, Parser - DRK, Parser - MCH, Parser - WAR

#991 MNK 5.3 support
  src/data/ACTIONS/layers/patch5.3.ts
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/Gauge.ts
Labels: Parser - MNK

#865 AST gets slightly more support for layered data
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/ast/modules/CelestialIntersection.tsx
  src/parser/jobs/ast/modules/CelestialOpposition.tsx
  src/parser/jobs/ast/modules/EarthlyStar.tsx
  src/parser/jobs/ast/modules/Horoscope.tsx
  src/parser/jobs/ast/modules/Overheal.tsx
  src/parser/jobs/ast/modules/Synastry.tsx
Labels: Parser - AST

#973 Add output table to indicate when Darkside dropped
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/drk/index.tsx
  src/parser/jobs/drk/modules/Darkside.tsx
Labels: Parser - DRK

#979 RotationTable - add optional comparator function for cell highlighting
  src/components/ui/RotationTable.tsx
  src/parser/core/modules/BuffWindow.tsx
Labels: Parser - Core

#997 Flag Edge Knight and Paladumb supported for 5.3
  src/parser/jobs/drk/index.tsx
  src/parser/jobs/pld/index.tsx
Labels: Parser - DRK, Parser - PLD

#1002 fix typo
  locale/en/messages.json
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
Labels: Parser - DNC

#981 MCH - Tinctures
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/BuffWindow.tsx
  src/parser/jobs/mch/index.js
  src/parser/jobs/mch/modules/Tincture.tsx
  src/parser/jobs/mch/modules/index.js
Labels: Parser - Core, Parser - MCH

#983 BRD - Apex Arrow suggestions
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/brd/changelog.js
  src/parser/jobs/brd/modules/ApexArrow.tsx
  src/parser/jobs/brd/modules/index.js
Labels: Parser - BRD

#1000 Update WAR support for 5.3
  src/data/STATUSES/layers/patch5.3.ts
  src/parser/jobs/war/index.js
  src/parser/jobs/war/modules/StormsEye.js
  src/parser/jobs/war/modules/StormsEye.tsx
Labels: Parser - WAR

#1012 [BugFix] PrecastStatus - synthesize actions if an applybuff event occurs without cast
  src/parser/core/modules/PrecastStatus.js
Labels: Parser - Core

#1013 [BugFix] PrecastStatus - Round 2
  src/parser/core/modules/PrecastStatus.js
Labels: Parser - Core
