Repository xivanalysis/xivanalysis, pull requests merged in 2021-11, with the labels that each got.

#1312 [AST] analyser port for CI, update undraw to tsx, update combust to DataLink
  locale/en/messages.json
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/ArcanaUndrawUsage.js
  src/parser/jobs/ast/modules/ArcanaUndrawUsage.tsx
  src/parser/jobs/ast/modules/CelestialIntersection.tsx
  src/parser/jobs/ast/modules/Combust.tsx
Labels: Parser - AST

#1311 migrate AST overheal to core
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Overheal.tsx
  src/parser/jobs/ast/modules/Overheal.tsx
  src/parser/jobs/ast/modules/index.js
Labels: Parser - Core, Parser - AST

#1308 Clean: PLD - Add & use Sword Oath stacksApplied data for Atonement
  locale/en/messages.json
  src/data/STATUSES/root/PLD.ts
  src/parser/jobs/pld/modules/Atonement.tsx
Labels: Parser - PLD

#1292 MCH - Port Reassemble to Analyser
  src/parser/jobs/mch/modules/Reassemble.tsx
  src/parser/jobs/mch/modules/index.ts
Labels: Parser - MCH

#1313 Account for planned downtime of Twin Snakes in checklist math
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
Labels: Parser - MNK

#1298 feat: add helpers for matching actions or statuses on the cause property
  src/parser/core/modules/Data.ts
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
Labels: Parser - Core, Parser - DNC

#1300 Split BuffWindow into smaller components
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/ActionWindow/EvaluatedAction.ts
  src/parser/core/modules/ActionWindow/History.ts
  src/parser/core/modules/ActionWindow/evaluators/AllowedGcdsOnlyEvaluator.tsx
  src/parser/core/modules/ActionWindow/evaluators/ExpectedActionsEvaluator.tsx
  src/parser/core/modules/ActionWindow/evaluators/ExpectedGcdCountEvaluator.tsx
  src/parser/core/modules/ActionWindow/evaluators/LimitedActionsEvaluator.tsx
  src/parser/core/modules/ActionWindow/evaluators/NotesEvaluator.ts
  src/parser/core/modules/ActionWindow/evaluators/TrackedAction.ts
  src/parser/core/modules/ActionWindow/evaluators/WindowEvaluator.ts
  src/parser/core/modules/ActionWindow/index.ts
  src/parser/core/modules/ActionWindow/readme.md
  src/parser/core/modules/ActionWindow/windows/ActionWindow.tsx
  src/parser/core/modules/ActionWindow/windows/BuffWindow.ts
  src/parser/core/modules/ActionWindow/windows/RestartWindow.ts
  src/parser/core/modules/ActionWindow/windows/TimedWindow.ts
  src/parser/core/modules/BuffWindow.tsx
  src/parser/core/modules/Suggestions/Suggestion.js
  src/parser/core/modules/Suggestions/Suggestion.ts
  src/parser/core/modules/Swiftcast.tsx
  src/parser/core/modules/Tincture.ts
  src/parser/jobs/brd/modules/RagingStrikes.tsx
  src/parser/jobs/drg/modules/DragonSight.tsx
  src/parser/jobs/drg/modules/LanceCharge.tsx
  src/parser/jobs/drk/modules/BloodWeapon.tsx
  src/parser/jobs/drk/modules/Delirium.tsx
  src/parser/jobs/gnb/modules/NoMercy.tsx
  src/parser/jobs/gnb/modules/Tincture.tsx
  src/parser/jobs/mch/modules/Tincture.tsx
  src/parser/jobs/nin/modules/TrickAttackWindow.js
  src/parser/jobs/nin/modules/TrickAttackWindow.tsx
  src/parser/jobs/nin/modules/index.ts
  src/parser/jobs/pld/modules/FightOrFlight.tsx
  src/parser/jobs/pld/modules/Gauge.tsx
  src/parser/jobs/pld/modules/Tincture.tsx
  src/parser/jobs/sam/modules/Meikyo.tsx
  src/parser/jobs/sam/modules/index.js
  src/parser/jobs/sch/modules/Swiftcast.js
  src/parser/jobs/smn/modules/Swiftcast.js
  src/parser/jobs/smn/modules/Swiftcast.ts
  src/parser/jobs/war/modules/InnerRelease.tsx
  src/parser/jobs/whm/modules/Swiftcast.js
Labels: Parser - Core, Parser - DRK, Parser - DRG, Parser - BRD

#1319 Migrated TrickAttackUsage to ts and Analyser
  src/parser/jobs/nin/modules/TrickAttackUsage.js
  src/parser/jobs/nin/modules/TrickAttackUsage.tsx
  src/parser/jobs/nin/modules/index.ts
Labels: Parser - NIN

#1309 Resource graph for core gauge
  src/parser/core/modules/Gauge/AbstractGauge.ts
  src/parser/core/modules/Gauge/CounterGauge.ts
  src/parser/core/modules/Gauge/Gauge.tsx
  src/parser/core/modules/Gauge/TimerGauge.ts
  src/parser/core/modules/Gauge/__tests__/TimerGauge.ts
  src/parser/core/modules/Gauge/__tests__/__snapshots__/TimerGauge.ts.snap
  src/parser/core/modules/ResourceGraphs/ResourceGraphs.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
  src/parser/jobs/pld/modules/Gauge.tsx
Labels: Parser - Core, Parser - PLD, Parser - WAR, Parser - BLM

#1320 Migrate WAR to analyser
  locale/en/messages.json
  src/parser/jobs/war/modules/AoE.ts
  src/parser/jobs/war/modules/Combos.ts
  src/parser/jobs/war/modules/Gauge.tsx
  src/parser/jobs/war/modules/InnerRelease.tsx
  src/parser/jobs/war/modules/MultiHitSkills.ts
  src/parser/jobs/war/modules/OGCDDowntime.ts
  src/parser/jobs/war/modules/StormsEye.tsx
  src/parser/jobs/war/modules/index.ts
Labels: Parser - WAR

#1318 Properly type IDs in MNK
  src/parser/jobs/mnk/TODO.md
  src/parser/jobs/mnk/modules/Demolish.tsx
  src/parser/jobs/mnk/modules/Fists.tsx
  src/parser/jobs/mnk/modules/Forms.tsx
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
  src/parser/jobs/mnk/modules/Steppies.tsx
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
  src/parser/jobs/mnk/modules/constants.ts
  src/parser/jobs/mnk/modules/utilities.ts
Labels: Parser - MNK

#1323 Nin analyser migration
  locale/en/messages.json
  src/parser/jobs/nin/modules/Huton.tsx
  src/parser/jobs/nin/modules/Kassatsu.tsx
  src/parser/jobs/nin/modules/Ninjutsu.tsx
  src/parser/jobs/nin/modules/Ninki.tsx
  src/parser/jobs/nin/modules/TrickAttackUsage.tsx
Labels: Parser - NIN

#1326 core: let BuffWindow accept Status[]
  src/parser/core/modules/ActionWindow/windows/BuffWindow.ts
  src/parser/jobs/drg/modules/DragonSight.tsx
Labels: Parser - Core, Parser - DRG

#1324 DNC - Port gauge to core
  src/parser/core/modules/Gauge/AbstractGauge.ts
  src/parser/core/modules/Gauge/CounterGauge.ts
  src/parser/core/modules/Gauge/Gauge.tsx
  src/parser/core/modules/Gauge/TimerGauge.ts
  src/parser/jobs/dnc/modules/Gauge.tsx
Labels: Parser - Core, Parser - DNC

#1322 Set up ensureRecord & remove some default exports
  src/components/LegacyAnalyse/Analyse.js
  src/components/ReportFlow/ActorList.tsx
  src/components/ui/GlossaryTerm.js
  src/data/ACTIONS/root/ACN.ts
  src/data/ACTIONS/root/SMN.ts
  src/data/ACTIONS/type.ts
  src/data/BOSSES.ts
  src/data/CONTRIBUTORS.ts
  src/data/ENCOUNTERS.ts
  src/data/GLOSSARY.ts
  src/data/JOBS.ts
  src/data/PATCHES/patches.ts
  src/data/PETS.ts
  src/data/STATUSES/type.ts
  src/parser/core/modules/SpeedAdjustments.ts
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaSuggestions.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
  src/parser/jobs/dnc/modules/Gauge.tsx
  src/parser/jobs/drk/modules/ResourceSimulator.js
  src/parser/jobs/gnb/modules/Ammo.tsx
  src/parser/jobs/mnk/modules/Fists.tsx
  src/parser/jobs/nin/modules/Ninki.tsx
  src/parser/jobs/pld/modules/Gauge.tsx
  src/parser/jobs/rdm/modules/Gauge.js
  src/parser/jobs/sam/modules/Kenki/Kenki.js
  src/parser/jobs/sam/modules/Shoha.tsx
  src/parser/jobs/sch/modules/FaerieGauge.js
  src/parser/jobs/smn/modules/Demis.js
  src/parser/jobs/smn/modules/Gauge.js
  src/parser/jobs/smn/modules/Pets.js
  src/parser/jobs/smn/modules/Ruin2.js
  src/parser/jobs/war/modules/Gauge.tsx
  src/reportSources/legacyFflogs/reportAdapter.ts
  src/utilities/typescript.ts
Labels: Parser - Core, Parser - PLD, Parser - WAR, Parser - DRK, Parser - SCH, Parser - AST, Parser - MNK, Parser - NIN, Parser - SAM, Parser - BLM, Parser - RDM, Parser - DNC, Parser - GNB

#1329 BLM - Port Gauge to core
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/STATUSES/root/ENEMY.ts
  src/parser/core/modules/Downtime.tsx
  src/parser/core/modules/Gauge/CounterGauge.ts
  src/parser/core/modules/Gauge/Gauge.tsx
  src/parser/core/modules/Gauge/TimerGauge.ts
  src/parser/core/modules/Gauge/__tests__/TimerGauge.ts
  src/parser/core/modules/ResourceGraphs/Graph.tsx
  src/parser/core/modules/ResourceGraphs/ResourceGraphs.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/Weaving.tsx
  src/parser/jobs/blm/modules/index.ts
  src/parser/jobs/dnc/modules/Gauge.tsx
  src/parser/jobs/nin/modules/Ninki.tsx
  src/parser/jobs/pld/modules/Gauge.tsx
  src/parser/jobs/rdm/modules/Gauge.tsx
  src/parser/jobs/war/modules/Gauge.tsx
Labels: Parser - Core, Parser - PLD, Parser - WAR, Parser - NIN, Parser - BLM, Parser - RDM, Parser - DNC

#1334 MCH - Gauge port
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mch/modules/Gauge.js
  src/parser/jobs/mch/modules/Gauge.tsx
  src/parser/jobs/mch/modules/YassQueen.js
  src/parser/jobs/mch/modules/index.ts
Labels: Parser - MCH

#1331 feat: split ResourceSimulator into a blood Gauge analyser and a MPUsage analyser
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/event.ts
  src/fflogs.ts
  src/parser/core/modules/Data.ts
  src/parser/jobs/drk/modules/BloodGauge.tsx
  src/parser/jobs/drk/modules/MPUsage.tsx
  src/parser/jobs/drk/modules/ResourceSimulator.js
  src/parser/jobs/drk/modules/index.ts
  src/reportSources/legacyFflogs/__tests__/__snapshots__/eventAdapter.ts.snap
  src/reportSources/legacyFflogs/eventAdapter/translate.ts
Labels: Parser - Core, Parser - DRK

#1341 DRK - Remove private Data dependency from Blood Gauge
  src/parser/jobs/drk/modules/BloodGauge.tsx
Labels: Parser - DRK

#1349 MCH - Hypercharge uses History class now
  src/parser/jobs/mch/modules/Hypercharge.tsx
Labels: Parser - MCH

#1342 feat: Port lilies to Analyser
  src/parser/jobs/whm/modules/Lilies.js
Labels: Parser - WHM

#1344 feat: port Fight Or Flight to core BuffWindow
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/pld/modules/Atonement.tsx
  src/parser/jobs/pld/modules/FightOrFlight.tsx
  src/parser/jobs/pld/modules/Gauge.tsx
  src/parser/jobs/pld/modules/Goring.tsx
  src/parser/jobs/pld/modules/OGCDDowntime.tsx
  src/parser/jobs/pld/modules/Tincture.tsx
  src/parser/jobs/pld/modules/index.tsx
Labels: Parser - PLD

#1346 DRG Clean Up Part 2
  src/parser/jobs/drg/index.tsx
  src/parser/jobs/drg/modules/BattleLitany.tsx
  src/parser/jobs/drg/modules/BloodOfTheDragon.tsx
  src/parser/jobs/drg/modules/Buffs.tsx
  src/parser/jobs/drg/modules/Positionals.js
  src/parser/jobs/drg/modules/Tincture.ts
  src/parser/jobs/drg/modules/index.ts
Labels: Parser - DRG

#1347 MCH - Queen port
  locale/en/messages.json
  src/parser/jobs/mch/modules/YassQueen.js
  src/parser/jobs/mch/modules/YassQueen.tsx
  src/parser/jobs/mch/modules/index.ts
Labels: Parser - MCH

#1352 DRG: fix botd module timestamps
  src/parser/jobs/drg/modules/BloodOfTheDragon.tsx
Labels: Parser - DRG

#1351 NIN Endwalker data updates
  locale/en/messages.json
  src/data/ACTIONS/root/NIN.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/NIN.ts
  src/data/avatar/toastdeib.png
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/Ninki.tsx
  src/parser/jobs/nin/modules/TrickAttackWindow.tsx
Labels: Parser - NIN

#1350 [GNB] Convert and Split Ammo.tsx to CoreGauge and AoEUsages
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/gnb/NOTES.md
  src/parser/jobs/gnb/changelog.tsx
  src/parser/jobs/gnb/modules/Ammo.tsx
  src/parser/jobs/gnb/modules/AoE.ts
  src/parser/jobs/gnb/modules/index.tsx
Labels: Parser - GNB

#1348 [AST] Celstial opposition and sect to analyser
  locale/en/messages.json
  src/parser/jobs/ast/modules/CelestialOpposition.tsx
  src/parser/jobs/ast/modules/Sect/Sect.tsx
Labels: Parser - AST

#1356 fixed issue with embolden only tracking final stack in raid buffs
  src/parser/core/modules/RaidBuffs.ts
Labels: Parser - Core

#1357 BugFix - BLM - onComplete reprocessing of invuln cycles was breaking
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
Labels: Parser - BLM

#1358 Combos - invulns don't break combo, apparently?
  src/parser/core/modules/Combos.tsx
Labels: Parser - Core
