Repository xivanalysis/xivanalysis, pull requests merged in 2021-09, with the labels that each got.

#1217 Port Interrupts to Analyser
  src/parser/core/modules/Interrupts.tsx
Labels: Parser - Core

#1216 Fix erroneous windows in buffwindow by having them manually expire
  src/parser/core/Dispatcher.ts
  src/parser/core/LegacyDispatcher.ts
  src/parser/core/modules/BuffWindow.tsx
Labels: Parser - Core

#1212 upgrade Weaving to Analyzer, port dependencies
  locale/en/messages.json
  src/parser/core/modules/ActionTimeline/ActionTimeline.tsx
  src/parser/core/modules/CastTime.ts
  src/parser/core/modules/Interrupts.tsx
  src/parser/core/modules/Weaving.d.ts
  src/parser/core/modules/Weaving.js
  src/parser/core/modules/Weaving.tsx
  src/parser/core/modules/index.js
  src/parser/jobs/blm/modules/CastTime.ts
  src/parser/jobs/blm/modules/Weaving.js
  src/parser/jobs/blm/modules/Weaving.tsx
  src/parser/jobs/blm/modules/index.js
  src/parser/jobs/blu/modules/Weaving.ts
  src/parser/jobs/brd/modules/Weaving.js
  src/parser/jobs/brd/modules/Weaving.ts
  src/parser/jobs/dnc/modules/Weaving.ts
  src/parser/jobs/dnc/modules/index.ts
  src/parser/jobs/drg/modules/Weaving.js
  src/parser/jobs/drg/modules/Weaving.ts
  src/parser/jobs/mch/modules/Weaving.ts
  src/parser/jobs/mch/modules/index.ts
  src/parser/jobs/mnk/modules/Weaving.ts
  src/parser/jobs/nin/modules/Weaving.js
  src/parser/jobs/nin/modules/Weaving.ts
  src/parser/jobs/pld/modules/Requiescat.tsx
  src/parser/jobs/pld/modules/Weaving.tsx
  src/parser/jobs/pld/modules/index.tsx
  src/parser/jobs/sch/modules/Weaving.js
  src/parser/jobs/sch/modules/Weaving.tsx
  src/parser/jobs/smn/modules/Weaving.ts
  src/utilities/speedStatMapper.ts
Labels: Parser - Core, Parser - PLD, Parser - SCH, Parser - MNK, Parser - DRG, Parser - NIN, Parser - BRD, Parser - MCH, Parser - BLM, Parser - SMN, Parser - DNC

#1214 BLM - Port RotationWatchdog to Analyser
  src/data/ACTIONS/root/BLM.ts
  src/parser/jobs/blm/index.js
  src/parser/jobs/blm/modules/Gauge.tsx
  src/parser/jobs/blm/modules/Leylines.tsx
  src/parser/jobs/blm/modules/Procs.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
Labels: Parser - BLM

#1232 feat: Port AlwaysBeCasting and GCD Estimate output to analyser
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONSTANTS.ts
  src/data/JOBS.ts
  src/parser/core/modules/AlwaysBeCasting.tsx
  src/parser/core/modules/BuffWindow.tsx
  src/parser/core/modules/CastTime.ts
  src/parser/core/modules/GlobalCooldown.js
  src/parser/core/modules/GlobalCooldown.tsx
  src/parser/core/modules/SpeedAdjustments.ts
  src/parser/core/modules/Weaving.tsx
  src/parser/core/modules/index.js
  src/parser/jobs/brd/modules/AlwaysBeCasting.ts
  src/parser/jobs/brd/modules/index.js
  src/parser/jobs/rdm/modules/AlwaysBeCasting.ts
  src/parser/jobs/rdm/modules/DualCastEnums.js
  src/parser/jobs/rdm/modules/Dualcast.js
  src/parser/jobs/rdm/modules/Dualcast.tsx
  src/parser/jobs/rdm/modules/index.js
  src/parser/jobs/whm/modules/CastTime.ts
  src/parser/jobs/whm/modules/Speedmod.js
  src/parser/jobs/whm/modules/index.js
  src/reportSources/legacyFflogs/eventAdapter/speedStat.ts
  src/utilities/speedStatMapper.ts
Labels: Parser - Core, Parser - WHM, Parser - BRD, Parser - RDM

#1238 Updating AST to 5.5 and adding in players hit to div for arcana tracking
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/otocephaly.png
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaSuggestions.tsx
Labels: Parser - AST
