Repository xivanalysis/xivanalysis, pull requests merged in 2021-04, with the labels that each got.

#1117 Add actors module for new event system
  src/parser/core/modules/Actors/Actor.ts
  src/parser/core/modules/Actors/Actors.ts
  src/parser/core/modules/Actors/index.ts
  src/parser/core/modules/index.js
  src/reportSources/legacyFflogs/__tests__/eventAdapter.ts
  src/reportSources/legacyFflogs/eventAdapter/adapter.ts
  src/reportSources/legacyFflogs/eventAdapter/base.ts
  src/reportSources/legacyFflogs/eventAdapter/reassignUnknownActor.ts
  src/reportSources/legacyFflogs/eventAdapter/translate.ts
  src/reportSources/legacyFflogs/reportAdapter.ts
  src/reportSources/legacyFflogs/store.ts
  tsconfig.json
Labels: Parser - Core

#1121 Extract layer application logic for reuse outside parser
  src/components/BranchBanner.tsx
  src/components/ReportFlow/ReportFlow.tsx
  src/data/EDITIONS.ts
  src/data/LANGUAGES.ts
  src/data/PATCHES.ts
  src/data/PATCHES/Patch.ts
  src/data/PATCHES/index.ts
  src/data/PATCHES/patches.ts
  src/data/PATCHES/utilities.ts
  src/data/layer.ts
  src/parser/core/Parser.tsx
  src/parser/core/__tests__/Module.js
  src/parser/core/__tests__/Parser.js
  src/parser/core/modules/Data.ts
  src/report.ts
  src/reportSources/legacyFflogs/__tests__/eventAdapter.ts
  src/reportSources/legacyFflogs/reportAdapter.ts
  src/store/i18n.ts
Labels: Parser - Core

#1115 Modify getDataBy to return all matching entries
  src/data/__tests__/getDataBy.ts
  src/data/getDataBy.ts
  src/parser/core/modules/PrecastStatus.js
Labels: Parser - Core

#1116 Adapter step for precast statuses
  src/data/ACTIONS/root/SMN.ts
  src/reportSources/legacyFflogs/__tests__/__snapshots__/eventAdapter.ts.snap
  src/reportSources/legacyFflogs/__tests__/eventAdapter.ts
  src/reportSources/legacyFflogs/eventAdapter/adapter.ts
  src/reportSources/legacyFflogs/eventAdapter/base.ts
  src/reportSources/legacyFflogs/eventAdapter/prepullAction.ts
  src/reportSources/legacyFflogs/eventAdapter/prepullStatus.ts
Labels: Parser - Core

#1124 Add ResourceGraphs module w/ Actors integration
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  package.json
  src/parser/core/Analyser.ts
  src/parser/core/changelog.tsx
  src/parser/core/modules/Actors/Actors.ts
  src/parser/core/modules/Actors/Actors.tsx
  src/parser/core/modules/ResourceGraphs/Graph.tsx
  src/parser/core/modules/ResourceGraphs/MarkerHandler.tsx
  src/parser/core/modules/ResourceGraphs/ResourceGraphs.module.css
  src/parser/core/modules/ResourceGraphs/ResourceGraphs.module.css.d.ts
  src/parser/core/modules/ResourceGraphs/ResourceGraphs.tsx
  src/parser/core/modules/ResourceGraphs/index.ts
  src/parser/core/modules/Timeline/components/Item.tsx
  src/parser/core/modules/Timeline/config/Item.tsx
  src/parser/core/modules/index.js
  yarn.lock
Labels: Parser - Core

#1128 Port cooldowns to TS
  src/data/ACTIONS/type.ts
  src/data/__tests__/getDataBy.ts
  src/data/getDataBy.ts
  src/parser/core/modules/Cooldowns.ts
  src/parser/core/modules/PrecastStatus.js
  src/parser/jobs/ast/modules/Cooldowns.tsx
  src/parser/jobs/brd/modules/Cooldowns.js
  src/parser/jobs/drg/modules/Cooldowns.js
  src/parser/jobs/drk/modules/Cooldowns.ts
  src/parser/jobs/gnb/modules/Cooldowns.tsx
  src/parser/jobs/mch/modules/Cooldowns.js
  src/parser/jobs/mnk/modules/Cooldowns.ts
  src/parser/jobs/nin/modules/Cooldowns.js
  src/parser/jobs/pld/modules/Cooldowns.tsx
  src/parser/jobs/smn/modules/Cooldowns.js
  src/parser/jobs/war/modules/Cooldowns.ts
  src/reportSources/legacyFflogs/eventAdapter/prepullStatus.ts
Labels: Parser - AST, Parser - BRD, Parser - Core, Parser - DRG, Parser - DRK, Parser - GNB, Parser - MCH, Parser - MNK, Parser - NIN, Parser - PLD, Parser - SMN, Parser - WAR

#1129 Audit & remove look-ahead downtime checking
  src/parser/core/modules/CooldownDowntime.tsx
  src/parser/core/modules/DoTs.js
  src/parser/core/modules/EntityStatuses.ts
  src/parser/core/modules/GlobalCooldown.js
  src/parser/core/modules/Invulnerability.tsx
  src/parser/core/modules/UnableToAct/UnableToAct.tsx
  src/parser/jobs/ast/modules/SleeveDraw.js
  src/parser/jobs/blm/modules/Gauge.js
  src/parser/jobs/brd/modules/AlwaysBeCasting.ts
  src/parser/jobs/brd/modules/PitchPerfect.js
  src/parser/jobs/brd/modules/SongUptime.js
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
  src/parser/jobs/drg/modules/Drift.tsx
  src/parser/jobs/pld/modules/FightOrFlight.tsx
  src/parser/jobs/pld/modules/Requiescat.tsx
  src/parser/jobs/sam/modules/Higanbana.js
  src/parser/jobs/smn/modules/Ruin2.js
  src/parser/jobs/whm/modules/DoTs.js
Labels: Parser - AST, Parser - BLM, Parser - BRD, Parser - Core, Parser - DNC, Parser - DRG, Parser - PLD, Parser - SAM, Parser - SMN, Parser - WHM

#1133 Port UnableToAct to Analyser
  src/parser/core/Parser.tsx
  src/parser/core/modules/Downtime.tsx
  src/parser/core/modules/UnableToAct/UnableToAct.tsx
  src/parser/core/modules/UnableToAct/index.ts
  src/parser/core/modules/index.js
  src/parser/jobs/ast/modules/SleeveDraw.js
  src/parser/jobs/blm/modules/Gauge.js
  src/parser/jobs/blm/modules/NotCasting.js
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
Labels: Parser - AST, Parser - BLM, Parser - Core

#1141 Patch 5.5 support for MNK
  src/data/STATUSES/layers/patch5.5.ts
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
Labels: Parser - MNK

#1148 Remove SwiftCast from tracked CDs
  src/parser/jobs/rdm/index.js
  src/parser/jobs/rdm/modules/GeneralCDDowntime.ts
Labels: Parser - RDM

#1152 Port invulnerability to new event system, part 1
  src/parser/bosses/e8/modules/Invulnerability2.ts
  src/parser/bosses/e8/modules/index.ts
  src/parser/bosses/exVaris/modules/Invulnerability2.ts
  src/parser/bosses/exVaris/modules/index.ts
  src/parser/core/__tests__/filter.ts
  src/parser/core/filter.ts
  src/parser/core/modules/Actors/Actor.ts
  src/parser/core/modules/Death.tsx
  src/parser/core/modules/Invulnerability2.tsx
  src/parser/core/modules/index.js
  src/report.ts
  src/reportSources/legacyFflogs/__tests__/eventAdapter.ts
  src/reportSources/legacyFflogs/eventAdapter/deduplicateActorUpdates.ts
  src/reportSources/legacyFflogs/reportAdapter.ts
Labels: Parser - Core

#1149 MNK - assume 100% uptime when fist is unknown
  src/parser/jobs/mnk/modules/Fists.tsx
Labels: Parser - MNK

#1156 GNB - Tinctures
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/gnb/changelog.tsx
  src/parser/jobs/gnb/modules/Tincture.tsx
  src/parser/jobs/gnb/modules/index.tsx
Labels: Parser - GNB
