Repository xivanalysis/xivanalysis, pull requests merged in 2021-06, with the labels that each got.

#1196 SMN - more summons, more problems
  locale/en/messages.json
  src/parser/jobs/smn/modules/Pets.js
Labels: Parser - SMN

#1198 Add new interrupt event to core structure
  src/event.ts
  src/parser/core/modules/EventsView/eventFormatter.tsx
  src/parser/jobs/blm/modules/Procs.tsx
  src/reportSources/legacyFflogs/__tests__/eventAdapter.ts
  src/reportSources/legacyFflogs/eventAdapter/adapter.ts
  src/reportSources/legacyFflogs/eventAdapter/interrupts.ts
Labels: Parser - BLM, Parser - Core

#1200 BLM - Execute the overrideAction property
  src/components/ui/Procs/ProcOverlay.module.css
  src/components/ui/Procs/ProcOverlay.module.css.d.ts
  src/components/ui/Procs/proc_overlay.png
  src/components/ui/Rotation.tsx
  src/components/ui/RotationTable.tsx
  src/parser/core/modules/Procs.tsx
  src/parser/jobs/blm/modules/Procs.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/Thunder.js
  src/parser/jobs/blm/modules/wrapper.module.css.d.ts
Labels: Parser - BLM, Parser - Core

#1187 Updated CastTime API signature
  src/parser/core/modules/CastTime.ts
  src/parser/jobs/ast/modules/Lightspeed.js
  src/parser/jobs/blm/modules/Procs.tsx
  src/parser/jobs/blm/modules/Weaving.js
  src/parser/jobs/rdm/modules/Dualcast.js
  src/parser/jobs/smn/modules/DWT.js
Labels: Parser - AST, Parser - BLM, Parser - Core, Parser - RDM, Parser - SMN

#1204 Add rudimentary speed adjustments module
  src/parser/core/modules/Actors/Actor.ts
  src/parser/core/modules/SpeedAdjustments.ts
  src/parser/core/modules/index.js
  src/utilities/speedStatMapper.ts
Labels: Parser - Core

#1193 ResourceGraph updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/ResourceGraphs/MarkerHandler.tsx
  src/parser/core/modules/ResourceGraphs/ResourceGraphs.tsx
  src/parser/core/modules/Timeline/components/Row.tsx
  src/parser/core/modules/Timeline/config/Row.tsx
  src/parser/jobs/dnc/modules/Gauge.tsx
Labels: Parser - Core, Parser - DNC

#1208 DNC: Add checklist and warning for not choosing a dance partner
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/unknownpriors.jpg
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
Labels: Parser - DNC

#1207 Cooldowns2 part 1: The trackening
  src/parser/core/modules/Cooldowns2.tsx
  src/parser/core/modules/Data.ts
  src/parser/core/modules/Timeline/components/Item.tsx
  src/parser/core/modules/Timeline/config/Item.tsx
  src/parser/core/modules/index.js
  src/utilities/speedStatMapper.ts
Labels: Parser - Core

#1201 Core Procs - Use new interrupt event
  src/parser/core/modules/Procs.tsx
  src/parser/jobs/blm/modules/Procs.tsx
Labels: Parser - BLM, Parser - Core

#1205 BLM Gauge to Analyser
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/CastTime.ts
  src/parser/core/modules/GlobalCooldown.js
  src/parser/jobs/blm/modules/Elements.js
  src/parser/jobs/blm/modules/Elements.ts
  src/parser/jobs/blm/modules/Gauge.d.ts
  src/parser/jobs/blm/modules/Gauge.js
  src/parser/jobs/blm/modules/Gauge.tsx
  src/parser/jobs/blm/modules/Leylines.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/Speedmod.js
  src/parser/jobs/blm/modules/Weaving.js
  src/parser/jobs/blm/modules/index.js
Labels: Parser - BLM, Parser - Core, Parser - DNC

#1206 BLM - Don't flag rotations with all expected fires as having 'extra T3's
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
Labels: Parser - BLM

#1209 WHM: Thin air MP tracking module
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/WHM.ts
  src/parser/jobs/whm/modules/Thinair.tsx
  src/parser/jobs/whm/modules/index.js
Labels: Parser - WHM
