Repository xivanalysis/xivanalysis, pull requests merged in 2021-05, with the labels that each got.

#1163 Move UTA window error to brokenLog trigger
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/UnableToAct/UnableToAct.tsx
Labels: Parser - Core

#1160 Implement public API for new invulnerability module
  src/parser/core/modules/Invulnerability2.tsx
Labels: Parser - Core

#1169 Add striking dummy detection module
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/Parser.tsx
  src/parser/core/modules/BrokenLog.tsx
  src/parser/core/modules/Death.tsx
  src/parser/core/modules/Dummy.tsx
  src/parser/core/modules/index.js
Labels: Parser - Core

#1159 [GNB]Convert NoMercy to core, add burst strike tracking to it, also some guide updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/gnb/changelog.tsx
  src/parser/jobs/gnb/index.tsx
  src/parser/jobs/gnb/modules/NoMercy.tsx
Labels: Parser - GNB

#1170 Port downtime to analyser
  src/parser/core/modules/CooldownDowntime.tsx
  src/parser/core/modules/Cooldowns.ts
  src/parser/core/modules/Downtime.tsx
  src/parser/core/modules/GlobalCooldown.js
  src/parser/jobs/brd/modules/AlwaysBeCasting.ts
  src/parser/jobs/brd/modules/PitchPerfect.js
  src/parser/jobs/brd/modules/SongUptime.js
  src/parser/jobs/brd/modules/Util.js
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
  src/parser/jobs/dnc/modules/Procs.js
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
  src/parser/jobs/drg/modules/Drift.tsx
  src/parser/jobs/drg/modules/Procs.js
  src/parser/jobs/mch/modules/Drift.tsx
  src/parser/jobs/mnk/modules/Forms.tsx
  src/parser/jobs/nin/modules/TrickAttackUsage.js
  src/parser/jobs/rdm/modules/Dualcast.js
  src/parser/jobs/rdm/modules/Procs.js
Labels: Parser - BRD, Parser - Core, Parser - DNC, Parser - DRG, Parser - MCH, Parser - MNK, Parser - NIN, Parser - RDM

#1123 Medicated row in Timeline
  src/parser/core/modules/GlobalCooldown.js
  src/parser/core/modules/Medicated.ts
  src/parser/core/modules/PetTimeline.tsx
  src/parser/core/modules/index.js
Labels: Parser - Core

#1126 DNC Gauge Overhaul
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/STATUSES/root/DNC.ts
  src/parser/jobs/brd/modules/SnapshotBlacklist.ts
  src/parser/jobs/dnc/CommonData.tsx
  src/parser/jobs/dnc/DISPLAY_ORDER.ts
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/DNCGauges.module.css
  src/parser/jobs/dnc/modules/DNCGauges.module.css.d.ts
  src/parser/jobs/dnc/modules/Esprit.tsx
  src/parser/jobs/dnc/modules/FeatherGauge.tsx
  src/parser/jobs/dnc/modules/Gauge.tsx
  src/parser/jobs/dnc/modules/Technicalities.tsx
  src/parser/jobs/dnc/modules/index.ts
Labels: Parser - BRD, Parser - DNC

#1130 BLM Rotation Watchdog Updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blm/index.js
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
Labels: Parser - BLM

#1177 Also check init events when fudging
  src/parser/jobs/dnc/modules/Gauge.tsx
Labels: Parser - DNC

#1172 Core: Convert CastTime to Analyser system
  src/parser/core/modules/CastTime.js
  src/parser/core/modules/CastTime.ts
  src/parser/core/modules/Weaving.js
  src/parser/jobs/ast/modules/Lightspeed.js
  src/parser/jobs/blm/modules/Procs.js
  src/parser/jobs/blm/modules/Weaving.js
  src/parser/jobs/rdm/modules/Dualcast.js
  src/parser/jobs/smn/modules/DWT.js
  src/parser/jobs/smn/modules/Weaving.ts
Labels: Parser - AST, Parser - BLM, Parser - Core, Parser - RDM, Parser - SMN

#1179 Bugfix: BLM - Don't milli the milli
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
Labels: Parser - BLM

#1184 [SAM] Higanbana fixes + New folders
  src/parser/jobs/sam/modules/Higanbana/Higanbana.js
  src/parser/jobs/sam/modules/Higanbana/Higanbana.module.css
  src/parser/jobs/sam/modules/Higanbana/Higanbana.module.css.d.ts
  src/parser/jobs/sam/modules/Higanbana/index.ts
  src/parser/jobs/sam/modules/Kenki/Kenki.js
  src/parser/jobs/sam/modules/Kenki/Kenki.module.css
  src/parser/jobs/sam/modules/Kenki/Kenki.module.css.d.ts
  src/parser/jobs/sam/modules/Kenki/index.ts
  src/parser/jobs/sam/modules/Kenki/kenki.png
  src/parser/jobs/sam/modules/Sen.tsx
  src/parser/jobs/sam/modules/index.js
Labels: Parser - SAM

#1185 Change semantics of snapshot vs execute for damage/heal actions
  src/event.ts
  src/parser/core/modules/EventsView/eventFormatter.tsx
  src/reportSources/legacyFflogs/__tests__/__snapshots__/eventAdapter.ts.snap
  src/reportSources/legacyFflogs/__tests__/eventAdapter.ts
  src/reportSources/legacyFflogs/eventAdapter/prepullAction.ts
  src/reportSources/legacyFflogs/eventAdapter/translate.ts
Labels: Parser - Core

#1153 feat(pld): adds oath gauge usage module to the paladin analysis
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/chocobo.png
  src/parser/jobs/pld/index.tsx
  src/parser/jobs/pld/modules/Gauge.tsx
  src/parser/jobs/pld/modules/index.tsx
Labels: Parser - PLD

#1178 BLM - Convert Ley Lines to Analyser
  locale/en/messages.json
  src/parser/jobs/blm/modules/Leylines.js
  src/parser/jobs/blm/modules/Leylines.tsx
Labels: Parser - BLM

#1181 Create a Core Procs analyser and migrate existing modules
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/changelog.tsx
  src/parser/core/modules/Procs.tsx
  src/parser/jobs/blm/modules/Procs.js
  src/parser/jobs/blm/modules/Procs.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/Thunder.js
  src/parser/jobs/dnc/modules/Procs.js
  src/parser/jobs/dnc/modules/Procs.tsx
  src/parser/jobs/drg/modules/Procs.js
  src/parser/jobs/drg/modules/Procs.tsx
  src/parser/jobs/rdm/modules/Procs.js
  src/parser/jobs/rdm/modules/Procs.tsx
Labels: Parser - BLM, Parser - Core, Parser - DNC, Parser - DRG, Parser - RDM
