Repository xivanalysis/xivanalysis, pull requests merged in 2021-12, with the labels that each got.

#1366 feat: port Requiescat to Core BuffWindow
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/ActionWindow/evaluators/AllowedGcdsOnlyEvaluator.tsx
  src/parser/core/modules/ActionWindow/index.ts
  src/parser/jobs/pld/modules/Requiescat.tsx
  src/parser/jobs/pld/modules/index.tsx
Labels: Parser - Core, Parser - PLD

#1355 Porting Draw, Arcana Tracking, and Arcana Suggestions to analyser
  locale/en/messages.json
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaSuggestions.tsx
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaTracking.tsx
  src/parser/jobs/ast/modules/Draw.tsx
Labels: Parser - AST

#1368 [AST] Batch port to analyser and convert to tsx
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/DISPLAY_ORDER.ts
  src/parser/jobs/ast/modules/EarthlyStar.tsx
  src/parser/jobs/ast/modules/Horoscope.tsx
  src/parser/jobs/ast/modules/Lightspeed.js
  src/parser/jobs/ast/modules/Lightspeed.tsx
  src/parser/jobs/ast/modules/LucidDreaming.js
  src/parser/jobs/ast/modules/LucidDreaming.tsx
  src/parser/jobs/ast/modules/Synastry.tsx
  src/parser/jobs/ast/modules/index.ts
Labels: Parser - AST

#1367 feat: Port WHM DoTs to analyser and fix Core DoTs clipping calculation
  locale/en/messages.json
  src/parser/core/modules/DoTs.ts
  src/parser/jobs/ast/modules/Combust.tsx
  src/parser/jobs/brd/modules/DoTs.tsx
  src/parser/jobs/drg/modules/Debuffs.tsx
  src/parser/jobs/mnk/modules/Demolish.tsx
  src/parser/jobs/pld/modules/Goring.tsx
  src/parser/jobs/sch/modules/DoTs.tsx
  src/parser/jobs/whm/modules/DoTs.js
  src/parser/jobs/whm/modules/DoTs.tsx
  src/parser/jobs/whm/modules/index.js
Labels: Parser - Core, Parser - PLD, Parser - WHM, Parser - SCH, Parser - AST, Parser - MNK, Parser - DRG, Parser - BRD

#1343 feat: convert WHM oGCD tracking to use core CooldownDowntime
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/CooldownDowntime.tsx
  src/parser/jobs/whm/modules/oGCDs.tsx
Labels: Parser - Core, Parser - WHM

#1377 Added 3 additional actions to the Ninki gauge simulation
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/Ninki.tsx
Labels: Parser - NIN

#1389 Combos - timeout is now 30s
  src/parser/core/modules/Combos.tsx
Labels: Parser - Core

#1391 [AST] 6.0 initial updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/AST.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/AST.ts
  src/data/avatar/Otocephaly.png
  src/parser/core/modules/RaidBuffs.ts
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/ActionTimeline.tsx
  src/parser/jobs/ast/modules/ArcanaGroups.ts
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaSuggestions.tsx
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaTracking.tsx
  src/parser/jobs/ast/modules/CelestialOpposition.tsx
  src/parser/jobs/ast/modules/DivinationDowntime.tsx
  src/parser/jobs/ast/modules/Draw.tsx
  src/parser/jobs/ast/modules/Lightspeed.tsx
  src/parser/jobs/ast/modules/Overheal.tsx
  src/parser/jobs/ast/modules/Sect/Sect.tsx
  src/parser/jobs/ast/modules/Sect/SectStatistic.module.css
  src/parser/jobs/ast/modules/Sect/SectStatistic.module.css.d.ts
  src/parser/jobs/ast/modules/Sect/SectStatistic.tsx
  src/parser/jobs/ast/modules/Sect/index.ts
  src/parser/jobs/ast/modules/index.ts
Labels: Parser - Core, Parser - AST

#1361 Endwalker - BLM - AoEUsages and Thunder changes
  locale/en/messages.json
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/AoEUsages.ts
  src/parser/jobs/blm/modules/Thunder.tsx
Labels: Parser - BLM

#1359 Endwalker - BLM - Gauge and RotationWatchdog updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/Elements.ts
  src/parser/jobs/blm/modules/Gauge.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/Sharpcast.tsx
  src/parser/jobs/blm/modules/Weaving.tsx
Labels: Parser - BLM

#1360 Endwalker - BLM - Sharpcast/CooldownDowntime changes
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/OGCDDowntime.tsx
  src/parser/jobs/blm/modules/Sharpcast.tsx
  src/parser/jobs/blm/modules/index.ts
Labels: Parser - BLM

#1388 MCH - 6.0 update
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/MCH.ts
  src/data/CONTRIBUTORS.ts
  src/data/avatar/Hint.png
  src/parser/jobs/mch/index.tsx
  src/parser/jobs/mch/modules/ActionTimeline.tsx
  src/parser/jobs/mch/modules/Drift.tsx
  src/parser/jobs/mch/modules/Gauge.tsx
  src/parser/jobs/mch/modules/GeneralCDDowntime.tsx
  src/parser/jobs/mch/modules/MultiHitSkills.ts
  src/parser/jobs/mch/modules/Reassemble.tsx
  src/parser/jobs/mch/modules/Tincture.tsx
  src/parser/jobs/mch/modules/YassQueen.tsx
  src/parser/jobs/mch/modules/index.ts
  src/parser/jobs/mch/modules/notes.md
Labels: Parser - MCH

#1394 Forked/Fleeting Raiju module for NIN
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/NIN.ts
  src/data/STATUSES/root/NIN.ts
  src/parser/core/modules/Actors/Actor.ts
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/Raiju.tsx
  src/parser/jobs/nin/modules/index.ts
Labels: Parser - Core, Parser - NIN

#1400 MCH - Track crowned collider in tinctures
  src/data/ACTIONS/root/MCH.ts
  src/parser/jobs/mch/modules/Tincture.tsx
Labels: Parser - MCH

#1399 BLM - Mark Paradox as instant-cast in Umbral Ice
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
Labels: Parser - BLM

#1363 Endwalker - DNC - Combo updates
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/Combos.ts
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
Labels: Parser - DNC

#1395 [GNB] Semi 6.0 Support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/GNB.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/GNB.ts
  src/data/avatar/Rjb99.png
  src/parser/jobs/gnb/changelog.tsx
  src/parser/jobs/gnb/index.tsx
  src/parser/jobs/gnb/modules/Ammo.tsx
  src/parser/jobs/gnb/modules/AmmoCombo.tsx
  src/parser/jobs/gnb/modules/Cooldowns.tsx
  src/parser/jobs/gnb/modules/NoMercy.tsx
  src/parser/jobs/gnb/modules/OGCDDowntime.tsx
  src/parser/jobs/gnb/modules/Tincture.tsx
  src/parser/jobs/gnb/modules/index.tsx
Labels: Parser - GNB

#1362 Endwalker - DNC - Updated Esprit gauge simulation
  src/data/STATUSES/root/DNC.ts
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/Gauge.tsx
Labels: Parser - DNC

#1406 RDM - Endwalker data
  src/data/ACTIONS/root/RDM.ts
  src/data/STATUSES/root/RDM.ts
  src/parser/core/modules/RaidBuffs.ts
  src/parser/jobs/rdm/modules/Dualcast.tsx
  src/parser/jobs/rdm/modules/Embolden.ts
Labels: Parser - Core, Parser - RDM

#1411 BLM - Bugfixes and mark supported
  src/data/ACTIONS/root/BLM.ts
  src/data/STATUSES/root/BLM.ts
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/index.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
  src/parser/jobs/blm/modules/Thunder.tsx
Labels: Parser - BLM

#1401 DRK - Initial Endwalker data support
  src/data/ACTIONS/root/DRK.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/DRK.ts
  src/data/avatar/azariah.png
  src/parser/jobs/drk/index.tsx
  src/parser/jobs/drk/modules/MultiHitSkills.ts
  src/parser/jobs/drk/modules/OGCDDowntime.ts
Labels: Parser - DRK

#1413 MCH - Update reassemble suggestion copy
  locale/en/messages.json
  src/parser/jobs/mch/modules/Reassemble.tsx
Labels: Parser - MCH

#1364 Endwalker - SGE - Preliminary Gauge and Overheal tracking
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/SGE.ts
  src/data/JOBS.ts
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/modules/Gauge.tsx
  src/parser/jobs/sge/modules/Overheal.tsx
  src/parser/jobs/sge/modules/index.ts
Labels: Parser - SGE

#1370 DRG: Initial Endwalker Scaffolding
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/DRG.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/DRG.ts
  src/data/avatar/falindrith.png
  src/parser/jobs/drg/index.tsx
  src/parser/jobs/drg/modules/ActionTimeline.tsx
  src/parser/jobs/drg/modules/BloodOfTheDragon.tsx
  src/parser/jobs/drg/modules/Buffs.tsx
  src/parser/jobs/drg/modules/Combos.ts
  src/parser/jobs/drg/modules/Debuffs.tsx
  src/parser/jobs/drg/modules/DragonSight.tsx
  src/parser/jobs/drg/modules/Drift.tsx
  src/parser/jobs/drg/modules/LanceCharge.tsx
  src/parser/jobs/drg/modules/Procs.tsx
Labels: Parser - DRG

#1407 DNC - Updated Devilment timing suggestion & mark as supported
  locale/en/messages.json
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/index.tsx
  src/parser/jobs/dnc/modules/Technicalities.tsx
Labels: Parser - DNC

#1409 RDM - Initial EW module updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/RDM.ts
  src/data/STATUSES/root/RDM.ts
  src/parser/jobs/rdm/modules/CorpsaCorps.tsx
  src/parser/jobs/rdm/modules/Embolden.ts
  src/parser/jobs/rdm/modules/EngagementDisplacementTracking.tsx
  src/parser/jobs/rdm/modules/Gauge.tsx
  src/parser/jobs/rdm/modules/GeneralCDDowntime.ts
  src/parser/jobs/rdm/modules/MeleeCombos.tsx
  src/parser/jobs/rdm/modules/index.tsx
Labels: Parser - RDM

#1414 Add EW raid buffs to the timeline
  src/data/STATUSES/root/RPR.ts
  src/data/STATUSES/root/SMN.ts
  src/parser/core/changelog.tsx
  src/parser/core/modules/RaidBuffs.ts
  src/parser/jobs/smn/modules/PetTimeline.ts
Labels: Parser - Core, Parser - SMN

#1416 RDM - New CastTime module to account for Acceleration instant casts
  src/parser/jobs/rdm/modules/CastTime.ts
  src/parser/jobs/rdm/modules/Dualcast.tsx
  src/parser/jobs/rdm/modules/index.tsx
Labels: Parser - RDM

#1420 BRD - 6.0 support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/BRD.ts
  src/parser/jobs/brd/changelog.js
  src/parser/jobs/brd/index.js
  src/parser/jobs/brd/index.tsx
  src/parser/jobs/brd/modules/ActionTimeline.tsx
  src/parser/jobs/brd/modules/AlwaysBeCasting.ts
  src/parser/jobs/brd/modules/DoTs.tsx
  src/parser/jobs/brd/modules/MultiHitSkills.ts
  src/parser/jobs/brd/modules/OGCDDowntime.ts
  src/parser/jobs/brd/modules/PitchPerfect.module.css
  src/parser/jobs/brd/modules/PitchPerfect.module.css.d.ts
  src/parser/jobs/brd/modules/RagingStrikes.tsx
  src/parser/jobs/brd/modules/RefulgentProcs.tsx
  src/parser/jobs/brd/modules/Snapshots.module.css
  src/parser/jobs/brd/modules/Snapshots.module.css.d.ts
  src/parser/jobs/brd/modules/Weaving.ts
  src/parser/jobs/brd/modules/index.ts
Labels: Parser - BRD

#1408 SGE - Basic healer analysis override
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/modules/DoTs.tsx
  src/parser/jobs/sge/modules/Interrupts.tsx
  src/parser/jobs/sge/modules/Swiftcast.tsx
  src/parser/jobs/sge/modules/index.ts
Labels: Parser - SGE

#1376 WAR 6.0 support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/WAR.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/WAR.ts
  src/data/avatar/ay.png
  src/parser/jobs/war/changelog.tsx
  src/parser/jobs/war/index.tsx
  src/parser/jobs/war/modules/ActionTimeline.ts
  src/parser/jobs/war/modules/Combos.ts
  src/parser/jobs/war/modules/Gauge.tsx
  src/parser/jobs/war/modules/Infuriate.ts
  src/parser/jobs/war/modules/InnerRelease.tsx
  src/parser/jobs/war/modules/OGCDDowntime.ts
  src/parser/jobs/war/modules/PrimalChaos.tsx
  src/parser/jobs/war/modules/SurgingTempest.tsx
  src/parser/jobs/war/modules/index.ts
Labels: Parser - WAR

#1415 Updated ACTIONS and STATUSES with new PLD information.
  src/data/ACTIONS/root/PLD.ts
  src/data/STATUSES/root/PLD.ts
  src/parser/jobs/pld/modules/FightOrFlight.tsx
  src/parser/jobs/pld/modules/Gauge.tsx
  src/parser/jobs/pld/modules/OGCDDowntime.tsx
Labels: Parser - PLD

#1419 MCH - Wildfire (it's the remix)
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mch/index.tsx
  src/parser/jobs/mch/modules/Wildfire.tsx
  src/parser/jobs/mch/modules/index.ts
Labels: Parser - MCH

#1423 DRG: Add Firstminds' Focus Gauge, mark supported for 6.0
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/DRG.ts
  src/parser/jobs/drg/index.tsx
  src/parser/jobs/drg/modules/BattleLitany.tsx
  src/parser/jobs/drg/modules/Gauge.tsx
  src/parser/jobs/drg/modules/index.ts
Labels: Parser - DRG

#1418 NIN - Update Huton analyser for 6.0
  locale/en/messages.json
  src/data/ACTIONS/root/NIN.ts
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/Huton.tsx
  src/parser/jobs/nin/modules/Ninki.tsx
Labels: Parser - NIN

#1422 NIN - Raiju analyser bugfix
  locale/en/messages.json
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/Raiju.tsx
Labels: Parser - NIN

#1432 Rdm minor fixes
  locale/en/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/Leylia.png
  src/parser/jobs/rdm/index.tsx
  src/parser/jobs/rdm/modules/Interrupts.tsx
  src/parser/jobs/rdm/modules/MeleeCombos.tsx
  src/parser/jobs/rdm/modules/Procs.tsx
Labels: Parser - RDM

#1405 SMN - Endwalker data
  src/data/ACTIONS/root/ACN.ts
  src/data/ACTIONS/root/SCH.ts
  src/data/ACTIONS/root/SMN.ts
  src/data/ACTIONS/root/index.ts
  src/data/PETS.ts
  src/data/STATUSES/root/ACN.ts
  src/data/STATUSES/root/SMN.ts
  src/data/STATUSES/root/index.ts
  src/parser/core/modules/Overheal.tsx
  src/parser/jobs/smn/modules/ActionTimeline.tsx
  src/parser/jobs/smn/modules/GeneralCDDowntime.tsx
  src/parser/jobs/smn/modules/MultiHitSkills.ts
  src/parser/jobs/smn/modules/PetTimeline.ts
  src/parser/jobs/smn/modules/Physick.tsx
  src/parser/jobs/smn/modules/Weaving.ts
  src/parser/jobs/smn/modules/index.js
Labels: Parser - Core, Parser - SMN

#1438 Fix rendered support range on analysis pages
  src/parser/core/modules/About.js
Labels: Parser - Core

#1427 RPR - Death's Design
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/modules/DeathsDesign.tsx
  src/parser/jobs/rpr/modules/index.ts
Labels: Parser - RPR

#1431 DRK 6.0 initial support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/DRK.ts
  src/data/STATUSES/root/DRK.ts
  src/parser/jobs/drk/functionaltests.md
  src/parser/jobs/drk/index.tsx
  src/parser/jobs/drk/modules/ActionTimeline.tsx
  src/parser/jobs/drk/modules/Darkside.tsx
  src/parser/jobs/drk/modules/Delirium.tsx
  src/parser/jobs/drk/modules/OGCDDowntime.ts
  src/parser/jobs/drk/modules/Plunge.ts
  src/parser/jobs/drk/modules/SaltAndDarkness.tsx
  src/parser/jobs/drk/modules/index.ts
Labels: Parser - DRK

#1439 Finalise port of analyser harness to report flow system
  src/components/LegacyAnalyse/Analyse.js
  src/components/LegacyAnalyse/index.js
  src/components/ReportFlow/ActorList.tsx
  src/components/ReportFlow/Analyse.tsx
  src/components/ReportFlow/Analyse/Analyse.module.css
  src/components/ReportFlow/Analyse/Analyse.module.css.d.ts
  src/components/ReportFlow/Analyse/Analyse.tsx
  src/components/ReportFlow/Analyse/ResultSegment.tsx
  src/components/ReportFlow/Analyse/SegmentLinkItem.module.css
  src/components/ReportFlow/Analyse/SegmentLinkItem.module.css.d.ts
  src/components/ReportFlow/Analyse/SegmentLinkItem.tsx
  src/components/ReportFlow/Analyse/SegmentPositionContext.tsx
  src/components/ReportFlow/Analyse/index.ts
  src/components/ReportFlow/ReportFlow.tsx
  src/components/ui/JobIcon/JobIcon.tsx
  src/components/ui/JobIcon/index.ts
  src/parser/Conductor.ts
  src/parser/core/Parser.tsx
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaSuggestions.tsx
  src/reportSources/legacyFflogs/component.tsx
  src/reportSources/legacyFflogs/store.ts
Labels: Parser - AST

#1430 RPR basic core modules
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/index.tsx
  src/parser/jobs/rpr/modules/ActionTimeline.ts
  src/parser/jobs/rpr/modules/AoE.ts
  src/parser/jobs/rpr/modules/Combos.ts
  src/parser/jobs/rpr/modules/CooldownDowntime.ts
  src/parser/jobs/rpr/modules/DISPLAY_ORDER.ts
  src/parser/jobs/rpr/modules/Interrupts.tsx
  src/parser/jobs/rpr/modules/index.ts
Labels: Parser - RPR

#1435 RDM - Displaying recommended actions when suggesting a delayed combo
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/rdm/index.tsx
  src/parser/jobs/rdm/modules/MeleeCombos.tsx
Labels: Parser - RDM

#1456 fix: track the Salt and Darkness damage packet correctly
  src/data/ACTIONS/root/DRK.ts
  src/parser/jobs/drk/modules/SaltAndDarkness.tsx
Labels: Parser - DRK

#1453 [GNB] Add Heart of Corundum to party mitigation actions
  src/data/CONTRIBUTORS.ts
  src/data/avatar/Eden.png
  src/parser/jobs/gnb/index.tsx
  src/parser/jobs/gnb/modules/ActionTimeline.tsx
Labels: Parser - GNB

#1449 RDM - moving modules to use DataLink
  src/parser/jobs/rdm/modules/Dualcast.tsx
  src/parser/jobs/rdm/modules/Interrupts.tsx
  src/parser/jobs/rdm/modules/MeleeCombos.tsx
  src/parser/jobs/rdm/modules/Procs.tsx
Labels: Parser - RDM

#1454 RDM - Allowing proc losses in opener
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/rdm/index.tsx
  src/parser/jobs/rdm/modules/MeleeCombos.tsx
Labels: Parser - RDM

#1451 SGE - CDDT - Including Core defense CD tracking
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/CooldownDowntime.tsx
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/OGCDDowntime.tsx
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/modules/CooldownDowntime.tsx
  src/parser/jobs/sge/modules/index.ts
Labels: Parser - Core, Parser - BLM, Parser - SGE

#1445 Requiescat window changes
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/PLD.ts
  src/data/CONTRIBUTORS.ts
  src/data/avatar/aria.png
  src/parser/jobs/pld/changelog.tsx
  src/parser/jobs/pld/index.tsx
  src/parser/jobs/pld/modules/Requiescat.tsx
Labels: Parser - PLD

#1459 DNC - Bugfix for bogus Technical Finish windows
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/Technicalities.tsx
Labels: Parser - DNC

#1455 RDM - Band-aid fix for Manafication usage mid-combo
  src/parser/jobs/rdm/index.tsx
  src/parser/jobs/rdm/modules/MeleeCombos.tsx
Labels: Parser - RDM

#1458 RDM - Adding number of players buffed to Embolden module
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/avatar/Myps.png
  src/parser/jobs/rdm/index.tsx
  src/parser/jobs/rdm/modules/Embolden.ts
  src/parser/jobs/rdm/modules/Embolden.tsx
Labels: Parser - RDM

#1429 RPR - Tincture
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/modules/Tincture.tsx
  src/parser/jobs/rpr/modules/index.ts
Labels: Parser - RPR

#1446 Update to Tinctures and small bug fix in Action data
  src/data/ACTIONS/root/PLD.ts
  src/parser/jobs/pld/changelog.tsx
  src/parser/jobs/pld/modules/Tincture.tsx
Labels: Parser - PLD

#1417 SMN Endwalker support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/kelos.png
  src/parser/jobs/smn/index.js
  src/parser/jobs/smn/index.tsx
  src/parser/jobs/smn/modules/Aetherflow.tsx
  src/parser/jobs/smn/modules/GeneralCDDowntime.tsx
  src/parser/jobs/smn/modules/MultiHitSkills.ts
  src/parser/jobs/smn/modules/NOTES.md
  src/parser/jobs/smn/modules/RadiantAegis.tsx
  src/parser/jobs/smn/modules/SearingLight.tsx
  src/parser/jobs/smn/modules/Slipstream.tsx
  src/parser/jobs/smn/modules/Summons.tsx
  src/parser/jobs/smn/modules/Swiftcast.tsx
  src/parser/jobs/smn/modules/index.ts
Labels: Parser - Core, Parser - SMN

#1460 BLM - Bugfix - Paradox grants a stack of the active stance
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
Labels: Parser - BLM

#1462 Multiple SMN Searing Light cleanup
  src/parser/jobs/smn/index.tsx
  src/parser/jobs/smn/modules/SearingLight.tsx
Labels: Parser - SMN

#1397 [AST] timeline, divination, CDDT, overheal
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/AST.ts
  src/data/STATUSES/root/AST.ts
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/ActionTimeline.tsx
  src/parser/jobs/ast/modules/ArcanaUndrawUsage.tsx
  src/parser/jobs/ast/modules/CastTime.tsx
  src/parser/jobs/ast/modules/CelestialIntersection.tsx
  src/parser/jobs/ast/modules/CelestialOpposition.tsx
  src/parser/jobs/ast/modules/Combust.tsx
  src/parser/jobs/ast/modules/DISPLAY_ORDER.ts
  src/parser/jobs/ast/modules/Divination.tsx
  src/parser/jobs/ast/modules/DivinationDowntime.tsx
  src/parser/jobs/ast/modules/EarthlyStar.tsx
  src/parser/jobs/ast/modules/Horoscope.tsx
  src/parser/jobs/ast/modules/Lightspeed.tsx
  src/parser/jobs/ast/modules/LucidDreaming.tsx
  src/parser/jobs/ast/modules/Overheal.tsx
  src/parser/jobs/ast/modules/Synastry.tsx
  src/parser/jobs/ast/modules/index.ts
  src/parser/jobs/ast/modules/oGCDs.tsx
Labels: Parser - Core, Parser - AST

#1448 Update No Mercy Window to Prioritise Double Down
  src/parser/jobs/gnb/index.tsx
  src/parser/jobs/gnb/modules/NoMercy.tsx
Labels: Parser - GNB

#1469 [bugfix] RPR CDDT list
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/modules/CooldownDowntime.ts
Labels: Parser - RPR

#1470 [BugFix] Don't count the other DRK's actions for darkside gauge
  src/parser/jobs/drk/modules/Darkside.tsx
Labels: Parser - DRK

#1434 SGE - Gauge suggestions & ABC bugfix
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/SGE.ts
  src/parser/core/modules/Gauge/CounterGauge.ts
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/modules/Gauge.tsx
Labels: Parser - Core, Parser - SGE

#1450 [SAM] SAM 6.0 Data
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/SAM.ts
  src/data/STATUSES/root/SAM.ts
  src/parser/jobs/sam/index.js
  src/parser/jobs/sam/modules/Buffs.tsx
  src/parser/jobs/sam/modules/Fuka.ts
  src/parser/jobs/sam/modules/OGCDDowntime.ts
  src/parser/jobs/sam/modules/Shifu.ts
  src/parser/jobs/sam/modules/StatusTimeline.ts
  src/parser/jobs/sam/modules/index.js
Labels: Parser - SAM

#1463 PLD Update to FoF, Atonement, and Requiescat
  locale/en/messages.json
  src/parser/jobs/pld/changelog.tsx
  src/parser/jobs/pld/modules/ActionTimeline.tsx
  src/parser/jobs/pld/modules/Atonement.tsx
  src/parser/jobs/pld/modules/FightOrFlight.tsx
  src/parser/jobs/pld/modules/Requiescat.tsx
Labels: Parser - PLD

#1452 BLM - Sharpcast and Triplecast overwrite suggestions
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/Sharpcast.tsx
  src/parser/jobs/blm/modules/Triplecast.tsx
  src/parser/jobs/blm/modules/index.ts
Labels: Parser - BLM

#1466 DRG: Rewrite Battle Litany
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/ActionWindow/windows/BuffWindow.ts
  src/parser/jobs/drg/index.tsx
  src/parser/jobs/drg/modules/BattleLitany.tsx
  src/parser/jobs/drg/modules/index.ts
Labels: Parser - Core, Parser - DRG

#1473 SGE - Misc additions and supported
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/index.tsx
  src/parser/jobs/sge/modules/ActionTimeline.tsx
  src/parser/jobs/sge/modules/DISPLAY_ORDER.ts
  src/parser/jobs/sge/modules/Interrupts.tsx
  src/parser/jobs/sge/modules/Swiftcast.tsx
  src/parser/jobs/sge/modules/Tincture.tsx
  src/parser/jobs/sge/modules/Zoe.tsx
  src/parser/jobs/sge/modules/index.ts
Labels: Parser - SGE

#1475 NIN - Final tweaks for 6.0 support
  locale/en/messages.json
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/ActionTimeline.tsx
  src/parser/jobs/nin/modules/Ninki.tsx
  src/parser/jobs/nin/modules/TrickAttackWindow.tsx
Labels: Parser - NIN

#1481 DNC - Add defensive CDs
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/OGCDDowntime.tsx
Labels: Parser - DNC

#1476 SGE - Refine Overheal buckets and bugfix for DoTs
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/modules/DoTs.tsx
  src/parser/jobs/sge/modules/Overheal.tsx
Labels: Parser - SGE

#1479 Change the double weave GCD threshold
  src/data/CONTRIBUTORS.ts
  src/data/avatar/Furst.png
  src/parser/core/changelog.tsx
  src/parser/core/modules/Weaving.tsx
Labels: Parser - Core
