Repository xivanalysis/xivanalysis, pull requests merged in 2021-01, with the labels that each got.

#1074 AST - Add spaces to overheal checklist
  locale/en/messages.json
  src/parser/jobs/ast/modules/Overheal.tsx
Labels: Parser - AST

#1078 [SAM] Sam Display Order
  src/parser/jobs/sam/modules/DISPLAY_ORDER.js
  src/parser/jobs/sam/modules/Higanbana.js
  src/parser/jobs/sam/modules/Kenki.js
  src/parser/jobs/sam/modules/Meikyo.tsx
  src/parser/jobs/sam/modules/Sen.tsx
  src/parser/jobs/sam/modules/Shoha.tsx
Labels: Parser - SAM

#1085 events: port core/Death
  src/data/ACTIONS/root/LIMIT_BREAK.ts
  src/data/ACTIONS/root/index.ts
  src/data/STATUSES/root/SHARED.ts
  src/parser/core/Parser.tsx
  src/parser/core/__tests__/Parser.js
  src/parser/core/modules/Death.d.ts
  src/parser/core/modules/Death.js
  src/parser/core/modules/Death.tsx
  src/parser/core/modules/index.js
  src/parser/jobs/drk/modules/Darkside.tsx
  src/reportSources/legacyFflogs/eventAdapter.ts
Labels: Parser - Core, Parser - DRK

#1086 DNC - flag double weaves after a finish as weaving issues
  src/parser/jobs/dnc/DISPLAY_ORDER.ts
  src/parser/jobs/dnc/modules/Weaving.ts
  src/parser/jobs/dnc/modules/index.ts
Labels: Parser - DNC

#1089 Add filter builder helper
  package.json
  src/data/ACTIONS/index.ts
  src/data/STATUSES/index.ts
  src/parser/core/__tests__/filter.ts
  src/parser/core/filter.ts
  src/parser/core/modules/Data.ts
  yarn.lock
Labels: Parser - Core

#1096 MCH - Add queen actions to the timeline
  src/parser/jobs/mch/index.tsx
  src/parser/jobs/mch/modules/Cooldowns.js
  src/parser/jobs/mch/modules/QueenTimeline.ts
  src/parser/jobs/mch/modules/index.ts
Labels: Parser - MCH

#1092 Fixes to a couple of issues with the SCH Aetherflow Module
  src/parser/jobs/sch/modules/Aetherflow.js
Labels: Parser - SCH
