Repository xivanalysis/xivanalysis, pull requests merged in 2021-08, with the labels that each got.

#1222 Fix timeline collapse markers
  src/parser/core/modules/Timeline/components/Timeline.module.css
Labels: Parser - Core

#1220 Cooldowns2 API
  src/parser/core/modules/Cooldowns2.tsx
  src/parser/jobs/ast/modules/Horoscope.tsx
  src/parser/jobs/ast/modules/Synastry.tsx
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
  src/parser/jobs/rdm/modules/Gauge.js
  src/parser/jobs/rdm/modules/MeleeCombos.js
  src/parser/jobs/sch/modules/Aetherflow.js
  src/parser/jobs/smn/modules/TriDisaster.tsx
  src/parser/jobs/war/modules/Gauge.tsx
Labels: Parser - Core, Parser - WAR, Parser - SCH, Parser - AST, Parser - DRG, Parser - SMN, Parser - RDM

#1224 [PLD] Atonement Checklist
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/pld/index.tsx
  src/parser/jobs/pld/modules/Atonement.tsx
  src/parser/jobs/pld/modules/index.tsx
Labels: Parser - PLD

#1227 [CD2] Action timeline
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/ARC.ts
  src/data/ACTIONS/root/AST.ts
  src/data/ACTIONS/root/BRD.ts
  src/data/ACTIONS/root/GNB.ts
  src/data/ACTIONS/root/MNK.ts
  src/data/ACTIONS/root/NIN.ts
  src/data/ACTIONS/root/PGL.ts
  src/data/ACTIONS/root/SMN.ts
  src/parser/core/modules/ActionTimeline/ActionTimeline.module.css
  src/parser/core/modules/ActionTimeline/ActionTimeline.module.css.d.ts
  src/parser/core/modules/ActionTimeline/ActionTimeline.tsx
  src/parser/core/modules/ActionTimeline/index.ts
  src/parser/core/modules/Cooldowns.ts
  src/parser/core/modules/Cooldowns2.tsx
  src/parser/core/modules/GlobalCooldown.js
  src/parser/core/modules/PetTimeline.tsx
  src/parser/core/modules/Statuses.js
  src/parser/core/modules/Timeline/config/Item.tsx
  src/parser/core/modules/index.js
  src/parser/jobs/ast/modules/ActionTimeline.tsx
  src/parser/jobs/ast/modules/Cooldowns.tsx
  src/parser/jobs/ast/modules/index.js
  src/parser/jobs/brd/modules/ActionTimeline.tsx
  src/parser/jobs/brd/modules/Cooldowns.js
  src/parser/jobs/brd/modules/index.js
  src/parser/jobs/drg/modules/ActionTimeline.tsx
  src/parser/jobs/drg/modules/index.js
  src/parser/jobs/drk/modules/ActionTimeline.tsx
  src/parser/jobs/drk/modules/index.ts
  src/parser/jobs/gnb/modules/ActionTimeline.tsx
  src/parser/jobs/gnb/modules/index.tsx
  src/parser/jobs/mch/modules/ActionTimeline.tsx
  src/parser/jobs/mch/modules/Cooldowns.js
  src/parser/jobs/mch/modules/index.ts
  src/parser/jobs/mnk/modules/ActionTimeline.tsx
  src/parser/jobs/mnk/modules/Cooldowns.ts
  src/parser/jobs/mnk/modules/index.ts
  src/parser/jobs/nin/modules/ActionTimeline.tsx
  src/parser/jobs/nin/modules/Cooldowns.js
  src/parser/jobs/nin/modules/TrickAttackUsage.js
  src/parser/jobs/nin/modules/TrickAttackWindow.js
  src/parser/jobs/nin/modules/index.js
  src/parser/jobs/pld/modules/ActionTimeline.tsx
  src/parser/jobs/pld/modules/Atonement.tsx
  src/parser/jobs/pld/modules/index.tsx
  src/parser/jobs/smn/modules/ActionTimeline.tsx
  src/parser/jobs/smn/modules/Cooldowns.js
  src/parser/jobs/smn/modules/index.js
  src/parser/jobs/war/modules/ActionTimeline.tsx
  src/parser/jobs/war/modules/index.ts
Labels: Parser - Core, Parser - AST, Parser - BRD
