Repository xivanalysis/xivanalysis, pull requests merged in 2021-03, with the labels that each got.

#1104 DRG: Life Surge Adjustment
  locale/en/messages.json
  src/parser/jobs/drg/modules/Buffs.tsx
Labels: Parser - DRG

#1102 GNB: Cart Timeline Update (Overcap + Extra Info)
  src/parser/jobs/gnb/modules/Ammo.tsx
Labels: Parser - GNB

#1109 BuffWindow - status counting bugfix
  src/parser/core/modules/BuffWindow.tsx
Labels: Parser - Core

#1110 Corrected cases where Trick Attack windows could be improperly split.
  src/parser/core/modules/BuffWindow.tsx
  src/parser/jobs/nin/index.js
Labels: Parser - Core

#1118 Ignore precast events when counting weaves
  src/parser/core/modules/Weaving.js
Labels: Parser - Core

#1114 Allow one Triplecast weave in JP opener & fix BLM description actionlink
  locale/en/messages.json
  src/parser/jobs/blm/index.js
  src/parser/jobs/blm/modules/Weaving.js
Labels: Parser - BLM
