Repository xivanalysis/xivanalysis, pull requests merged in 2021-10, with the labels that each got.

#1239 fix: add CastTime modifiers for melee classes
  src/parser/jobs/mnk/modules/GreasedLightning.ts
  src/parser/jobs/mnk/modules/index.ts
  src/parser/jobs/nin/modules/HutonCastTime.ts
  src/parser/jobs/sam/modules/Shifu.ts
  src/parser/jobs/sam/modules/Speedmod.js
  src/parser/jobs/sam/modules/index.js
Labels: Parser - MNK, Parser - NIN, Parser - SAM

#1243 fix: SAM not estimating GCD or ABC correctly
  src/parser/jobs/sam/modules/Shifu.ts
  src/reportSources/legacyFflogs/eventAdapter/speedStat.ts
Labels: Parser - SAM

#1294 port PetTimeline to analyser
  src/parser/core/modules/PetTimeline.tsx
  src/parser/jobs/drk/modules/EsteemTimeline.ts
  src/parser/jobs/mch/modules/QueenTimeline.ts
  src/parser/jobs/sch/modules/Pets.js
  src/parser/jobs/sch/modules/Pets.ts
  src/parser/jobs/smn/modules/PetTimeline.ts
Labels: Parser - Core, Parser - DRK, Parser - SCH, Parser - MCH, Parser - SMN

#1296 fix: BLM - Drop overlooked fflogsToEpoch use
  src/parser/jobs/blm/modules/Gauge.tsx
Labels: Parser - BLM

#1279 Migrate MNK to analyser
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/AoE.tsx
  src/parser/jobs/mnk/modules/Demolish.tsx
  src/parser/jobs/mnk/modules/Fists.tsx
  src/parser/jobs/mnk/modules/Forms.tsx
  src/parser/jobs/mnk/modules/OGCDDowntime.ts
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
  src/parser/jobs/mnk/modules/Speedmod.ts
  src/parser/jobs/mnk/modules/Steppies.tsx
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
  src/parser/jobs/mnk/modules/Weaving.ts
  src/parser/jobs/mnk/modules/constants.ts
  src/parser/jobs/mnk/modules/index.ts
  src/parser/jobs/mnk/modules/utilities.ts
Labels: Parser - MNK

#1277 DRG Clean Up: Part 1
  locale/en/messages.json
  src/parser/jobs/drg/modules/BattleLitany.tsx
  src/parser/jobs/drg/modules/BloodOfTheDragon.js
  src/parser/jobs/drg/modules/BloodOfTheDragon.tsx
  src/parser/jobs/drg/modules/Buffs.tsx
  src/parser/jobs/drg/modules/DISPLAY_ORDER.ts
  src/parser/jobs/drg/modules/Debuffs.js
  src/parser/jobs/drg/modules/Debuffs.tsx
  src/parser/jobs/drg/modules/Drift.tsx
Labels: Parser - DRG

#1301 Fix: DNC - Missed an ActionKey[].map in Gauge
  src/parser/jobs/dnc/modules/Gauge.tsx
Labels: Parser - DNC

#1293 migrate Gauge to analyser
  src/parser/core/modules/Gauge/Gauge.tsx
  src/parser/core/modules/Gauge/TimerGauge.ts
  src/parser/jobs/pld/modules/Gauge.tsx
  src/parser/jobs/war/modules/Gauge.tsx
Labels: Parser - Core, Parser - PLD, Parser - WAR

#1299 Fix: PLD - Deal with stacking Atonement buff
  src/parser/jobs/pld/modules/Atonement.tsx
Labels: Parser - PLD

#1305 Remove deprecated timestamp corrections from MNK
  src/parser/jobs/mnk/modules/Forms.tsx
Labels: Parser - MNK

#1306 Use actual GCD accounting instead of trusting status in PB drop math
  src/data/STATUSES/root/MNK.ts
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
  src/parser/jobs/mnk/modules/constants.ts
Labels: Parser - MNK
