Repository xivanalysis/xivanalysis, pull requests merged in 2022-07, with the labels that each got.

#1708 Dirty dancing i18n
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
Labels: Parser - DNC

#1704 Fix NIN magic numbers in nin/Positionals.ts
  src/data/ACTIONS/root/NIN.ts
  src/data/CONTRIBUTORS.ts
  src/data/avatar/Khayle.png
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/Positionals.ts
Labels: Parser - NIN

#1705 GNB : i18n & typo fixes
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/gnb/index.tsx
  src/parser/jobs/gnb/modules/Ammo.tsx
  src/parser/jobs/gnb/modules/AmmoCombo.tsx
Labels: Parser - GNB

#1709 6.1 support for NIN
  locale/en/messages.json
  src/data/ACTIONS/layers/patch6.1.ts
  src/data/STATUSES/root/NIN.ts
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/Huton.tsx
  src/parser/jobs/nin/modules/Raiju.tsx
  src/parser/jobs/nin/modules/TrickAttackUsage.tsx
  src/parser/jobs/nin/modules/TrickAttackWindow.tsx
Labels: Parser - NIN
