Repository xivanalysis/xivanalysis, pull requests merged in 2022-04, with the labels that each got.

#1660 DRG: Adjust life surge usage in lance charge
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/drg/index.tsx
  src/parser/jobs/drg/modules/BattleLitany.tsx
  src/parser/jobs/drg/modules/LanceCharge.tsx
Labels: Parser - DRG

#1663 patch 610 data layers for ACTIONS + STATUSES
  src/data/ACTIONS/layers/index.ts
  src/data/ACTIONS/layers/patch6.1.ts
  src/data/STATUSES/layers/index.ts
  src/data/STATUSES/layers/patch6.1.ts
Labels: Parser - Core

#1668 6.1 support for Core
  src/data/ACTIONS/layers/patch6.1.ts
  src/data/STATUSES/layers/patch6.1.ts
  src/data/STATUSES/root/NIN.ts
  src/parser/core/index.tsx
  src/parser/core/modules/RaidBuffs.ts
Labels: Parser - Core

#1664 AST 6.1 bump
  src/parser/jobs/ast/index.tsx
Labels: Parser - AST

#1672 Sage updates for 6.1
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/STATUSES/layers/patch6.1.ts
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/index.tsx
  src/parser/jobs/sge/modules/CooldownDowntime.tsx
  src/parser/jobs/sge/modules/Gauge.tsx
Labels: Parser - SGE

#1659 Update ABCs
  src/parser/core/changelog.tsx
  src/parser/core/modules/AlwaysBeCasting.tsx
Labels: Parser - Core

#1673 DNC 6.1 updates
  locale/en/messages.json
  src/data/ACTIONS/layers/patch6.1.ts
  src/data/ACTIONS/root/DNC.ts
  src/data/STATUSES/layers/patch6.1.ts
  src/data/STATUSES/root/DNC.ts
  src/parser/core/modules/Procs.tsx
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/index.tsx
  src/parser/jobs/dnc/modules/Procs.tsx
Labels: Parser - Core, Parser - DNC

#1558 Add tracking for WAR's Nascent Chaos status timeouts/overwrites
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/changelog.tsx
  src/parser/core/modules/Procs.tsx
  src/parser/jobs/war/changelog.tsx
  src/parser/jobs/war/modules/Infuriate.ts
  src/parser/jobs/war/modules/Infuriate.tsx
  src/parser/jobs/war/modules/PrimalChaos.tsx
  src/parser/jobs/war/modules/PrimalRend.tsx
  src/parser/jobs/war/modules/index.ts
Labels: Parser - Core, Parser - WAR

#1680 Fix 6.1 Raid Buffs in Timeline
  src/data/ACTIONS/layers/patch6.1.ts
  src/data/STATUSES/layers/patch6.1.ts
  src/data/STATUSES/root/NIN.ts
  src/parser/core/changelog.tsx
  src/parser/core/modules/RaidBuffs.ts
Labels: Parser - Core

#1676 Mark patch 6.1 support for WAR
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/war/changelog.tsx
  src/parser/jobs/war/index.tsx
  src/parser/jobs/war/modules/Gauge.tsx
  src/parser/jobs/war/modules/InnerRelease.tsx
Labels: Parser - WAR

#1638 Reaper Cleanup and 6.1 support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/RPR.ts
  src/data/STATUSES/layers/patch6.1.ts
  src/data/STATUSES/root/RPR.ts
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/constants.ts
  src/parser/jobs/rpr/index.tsx
  src/parser/jobs/rpr/modules/ActionTimeline.ts
  src/parser/jobs/rpr/modules/ActionTimeline.tsx
  src/parser/jobs/rpr/modules/AoE.ts
  src/parser/jobs/rpr/modules/ArcaneCircle.tsx
  src/parser/jobs/rpr/modules/Combos.ts
  src/parser/jobs/rpr/modules/DISPLAY_ORDER.ts
  src/parser/jobs/rpr/modules/DeathGauge.tsx
  src/parser/jobs/rpr/modules/DeathsDesign.tsx
  src/parser/jobs/rpr/modules/Defensives.tsx
  src/parser/jobs/rpr/modules/Enshroud.tsx
  src/parser/jobs/rpr/modules/HarvestMoon.tsx
  src/parser/jobs/rpr/modules/ImmortalSacrifice.tsx
  src/parser/jobs/rpr/modules/Interrupts.tsx
  src/parser/jobs/rpr/modules/OtherGauges.tsx
  src/parser/jobs/rpr/modules/Positionals.ts
  src/parser/jobs/rpr/modules/Procs.tsx
  src/parser/jobs/rpr/modules/Reaver.tsx
  src/parser/jobs/rpr/modules/Tincture.tsx
  src/parser/jobs/rpr/modules/Weaving.tsx
  src/parser/jobs/rpr/modules/index.ts
Labels: Parser - RPR

#1681 Updated SMN for 6.1
  src/data/ACTIONS/layers/patch6.1.ts
  src/data/STATUSES/layers/patch6.1.ts
  src/parser/jobs/smn/index.tsx
  src/parser/jobs/smn/modules/SearingLight.tsx
Labels: Parser - SMN

#1679 Update SAM for 6.1 support
  src/data/ACTIONS/layers/patch6.1.ts
  src/data/ACTIONS/root/SAM.ts
  src/data/STATUSES/layers/patch6.1.ts
  src/parser/jobs/sam/changelog.tsx
  src/parser/jobs/sam/index.js
  src/parser/jobs/sam/modules/Kaiten.tsx
  src/parser/jobs/sam/modules/Kenki/Kenki.tsx
  src/parser/jobs/sam/modules/Positionals.ts
Labels: Parser - SAM

#1645 Riddle of Wind statistic
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/RiddleOfWind.tsx
  src/parser/jobs/mnk/modules/index.ts
Labels: Parser - MNK

#1683 Mark patch 6.1 support for DRK
  src/data/ACTIONS/root/DRK.ts
  src/data/STATUSES/layers/patch6.1.ts
  src/data/STATUSES/root/DRK.ts
  src/parser/jobs/drk/index.tsx
  src/parser/jobs/drk/modules/ActionTimeline.tsx
  src/parser/jobs/drk/modules/BloodGauge.tsx
  src/parser/jobs/drk/modules/StatusTimeline.ts
Labels: Parser - DRK

#1685 DRG: Update Jump-related Rules
  locale/en/messages.json
  src/parser/jobs/drg/index.tsx
  src/parser/jobs/drg/modules/DragonSight.tsx
  src/parser/jobs/drg/modules/LanceCharge.tsx
  src/parser/jobs/drg/modules/Weaving.ts
Labels: Parser - DRG

#1688 Fix magic number in WHM lily code
  src/parser/jobs/whm/modules/Lilies.tsx
Labels: Parser - WHM

#1682 Update RPR texts
  locale/en/messages.json
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/modules/HarvestMoon.tsx
  src/parser/jobs/rpr/modules/Reaver.tsx
Labels: Parser - RPR

#1690 fix: MP Gauge calculations
  src/parser/jobs/drk/modules/BloodGauge.tsx
  src/parser/jobs/drk/modules/MPUsage.tsx
Labels: Parser - DRK
