Repository xivanalysis/xivanalysis, pull requests merged in 2022-09, with the labels that each got.

#1729 Bugfix: DNC missed steps
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
Labels: Parser - DNC

#1735 Small bugfixes for NIN
  locale/en/messages.json
  src/parser/core/modules/Positionals.tsx
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/Huton.tsx
  src/parser/jobs/nin/modules/Kassatsu.tsx
  src/parser/jobs/nin/modules/Ninjutsu.tsx
Labels: Parser - Core, Parser - NIN

#1734 Add bucketing of heals and a nice "ignore" feature
  src/parser/core/modules/Overheal.tsx
Labels: Parser - Core

#1733 [DRG] Fix issue with solo Dragon Sight suggestion appearing all the time
  locale/en/messages.json
  src/parser/jobs/drg/index.tsx
  src/parser/jobs/drg/modules/Buffs.tsx
Labels: Parser - DRG

#1738 [PLD] Updated pld notes and supported patches
  src/data/ACTIONS/root/PLD.ts
  src/data/CONTRIBUTORS.ts
  src/data/avatar/styrfire.png
  src/parser/jobs/pld/index.tsx
  src/parser/jobs/pld/modules/NOTES.md
Labels: Parser - PLD
