Repository xivanalysis/xivanalysis, pull requests merged in 2022-02, with the labels that each got.

#1563 [SCH] Aetherflow Module
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/sch/index.js
  src/parser/jobs/sch/modules/Aetherflow.module.css
  src/parser/jobs/sch/modules/Aetherflow.tsx
  src/parser/jobs/sch/modules/index.js
Labels: Parser - SCH

#1600 [SCH] Fix recitation pre-cast when recitation isn't on the timeline
  src/parser/jobs/sch/modules/Aetherflow.tsx
Labels: Parser - SCH

#1598 [SCH] Add defensive cooldowns
  src/parser/jobs/sch/index.js
  src/parser/jobs/sch/modules/CooldownDowntime.tsx
Labels: Parser - SCH

#1594 [SAM] Meikyo bugifx
  src/parser/jobs/sam/changelog.tsx
  src/parser/jobs/sam/modules/Meikyo.tsx
Labels: Parser - SAM

#1553 Add RPR Enshroud and Arcane Circle windows
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/RPR.ts
  src/data/STATUSES/root/RPR.ts
  src/parser/jobs/rpr/Constants.ts
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/modules/ArcaneCircle.tsx
  src/parser/jobs/rpr/modules/DISPLAY_ORDER.ts
  src/parser/jobs/rpr/modules/Enshroud.tsx
  src/parser/jobs/rpr/modules/Tincture.tsx
  src/parser/jobs/rpr/modules/index.ts
Labels: Parser - Core, Parser - BRD, Parser - RPR

#1561 DRG: Update Buff Windows to track oGCDs
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/ActionWindow/History.ts
  src/parser/core/modules/ActionWindow/evaluators/DisplayedActionEvaluator.tsx
  src/parser/jobs/drg/index.tsx
  src/parser/jobs/drg/modules/DragonSight.tsx
  src/parser/jobs/drg/modules/LanceCharge.tsx
Labels: Parser - Core, Parser - DRG

#1606 Update Trick Attack modules for proper opener tracking
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/TrickAttackUsage.tsx
  src/parser/jobs/nin/modules/TrickAttackWindow.tsx
Labels: Parser - NIN

#1492 Migrate Riddle of Fire to BuffWindow
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/Malp.png
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
Labels: Parser - MNK

#1601 RDM SwiftCast and Defensive Cooldowns
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/rdm/index.tsx
  src/parser/jobs/rdm/modules/DISPLAY_ORDER.ts
  src/parser/jobs/rdm/modules/GeneralCDDowntime.ts
  src/parser/jobs/rdm/modules/Swiftcast.tsx
  src/parser/jobs/rdm/modules/index.tsx
Labels: Parser - RDM

#1617 Fix Swiftcast end of fight bug
  src/parser/core/changelog.tsx
  src/parser/core/modules/Swiftcast.tsx
Labels: Parser - Core

#1615 Split out BlitzEvaluator from RoF
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/Forms.tsx
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
  src/parser/jobs/mnk/modules/constants.ts
  src/parser/jobs/mnk/modules/evaluators/BlitzEvaluator.tsx
Labels: Parser - MNK

#1603 Add positionals
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/event.ts
  src/parser/core/changelog.tsx
  src/parser/core/modules/DISPLAY_ORDER.ts
  src/parser/core/modules/Positionals.tsx
  src/parser/jobs/drg/modules/Positionals.ts
  src/parser/jobs/drg/modules/index.ts
  src/parser/jobs/mnk/modules/Positionals.ts
  src/parser/jobs/mnk/modules/index.ts
  src/parser/jobs/nin/modules/Positionals.ts
  src/parser/jobs/nin/modules/index.ts
  src/parser/jobs/rpr/modules/Positionals.ts
  src/parser/jobs/rpr/modules/index.ts
  src/parser/jobs/sam/modules/Positionals.ts
  src/parser/jobs/sam/modules/index.js
  src/reportSources/legacyFflogs/__tests__/__snapshots__/eventAdapter.ts.snap
  src/reportSources/legacyFflogs/__tests__/eventAdapter.ts
  src/reportSources/legacyFflogs/eventAdapter/translate.ts
  src/reportSources/legacyFflogs/eventTypes.ts
Labels: Parser - Core, Parser - MNK, Parser - DRG, Parser - NIN, Parser - SAM, Parser - RPR

#1607 [SCH] Defensive cooldown updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/sch/index.js
  src/parser/jobs/sch/modules/CooldownDowntime.tsx
Labels: Parser - SCH

#1624 Move Samurai Chart to Timeline Gauge
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/sam/changelog.tsx
  src/parser/jobs/sam/modules/Kenki/Kenki.tsx
  src/parser/jobs/sam/modules/Shoha.tsx
Labels: Parser - SAM

#1559 Harvest moon
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/RPR.ts
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/modules/HarvestMoon.tsx
  src/parser/jobs/rpr/modules/index.ts
Labels: Parser - RPR

#1621 [Positionals] Hide table if none missed + casing fix
  locale/en/messages.json
  src/parser/core/modules/Positionals.tsx
Labels: Parser - Core

#1631 Hotfix/harvest moon
  src/parser/jobs/rpr/modules/HarvestMoon.tsx
Labels: Parser - RPR

#1634 Requiescat spells now properly instant cast.
  src/parser/jobs/pld/changelog.tsx
  src/parser/jobs/pld/modules/CastTime.tsx
  src/parser/jobs/pld/modules/index.tsx
Labels: Parser - PLD

#1619 Add Death gauge to RPR
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Gauge/CounterGauge.ts
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/modules/DeathGauge.tsx
  src/parser/jobs/rpr/modules/index.ts
Labels: Parser - Core, Parser - RPR

#1592 TableStatistic + core Defensives module
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Defensives.tsx
  src/parser/core/modules/Statistics/TableStatistic.module.css
  src/parser/core/modules/Statistics/TableStatistic.module.css.d.ts
  src/parser/core/modules/Statistics/TableStatistic.tsx
  src/parser/core/modules/Statistics/index.ts
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/modules/Defensives.tsx
  src/parser/jobs/rpr/modules/index.ts
  src/parser/jobs/smn/modules/RadiantAegis.tsx
Labels: Parser - Core, Parser - SMN, Parser - RPR

#1623 Add Soul and Shroud gauges to RPR
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/modules/OtherGauges.tsx
  src/parser/jobs/rpr/modules/index.ts
Labels: Parser - RPR

#1641 egi sorting + egi on header
  src/data/CONTRIBUTORS.ts
  src/parser/jobs/smn/index.tsx
  src/parser/jobs/smn/modules/Summons.tsx
Labels: Parser - SMN
