Repository xivanalysis/xivanalysis, pull requests merged in 2022-03, with the labels that each got.

#1650 Add CelestialRevolution analyser
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/MNK.ts
  src/data/CONTRIBUTORS.ts
  src/data/avatar/square.png
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/Revolution.tsx
  src/parser/jobs/mnk/modules/index.ts
Labels: Parser - MNK

#1646 [SAM] Set Hex Color
  src/parser/jobs/sam/modules/Shoha.tsx
Labels: Parser - SAM

#1625 [RPR] Add Soul Reaver checks to Reaper
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/modules/Reaver.tsx
  src/parser/jobs/rpr/modules/index.ts
Labels: Parser - RPR

#1653 [GNB] Add Double Down to Tincture's Expected Actions
  src/parser/jobs/gnb/index.tsx
  src/parser/jobs/gnb/modules/Tincture.tsx
Labels: Parser - GNB

#1637 Allow procs timeline row to be hidden
  src/parser/core/changelog.tsx
  src/parser/core/modules/Procs.tsx
Labels: Parser - Core

#1639 Change Embolden to use RaidBuffWindow.
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/rdm/modules/Embolden.tsx
Labels: Parser - Core, Parser - SMN, Parser - RDM

#1642 Fix RDM Swift/Accel double buff extending Swift's covered actions.
  src/parser/jobs/rdm/modules/Swiftcast.tsx
Labels: Parser - RDM

#1654 BugFix: Fix downtime/negative window duration filter in NotCasting
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/NotCasting.tsx
Labels: Parser - BLM

#1658 [AST] fix minor wording
  locale/en/messages.json
  src/parser/jobs/ast/modules/oGCDs.tsx
Labels: Parser - AST

#1636 Clean up Esprit generation sim
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/Gauge.tsx
Labels: Parser - DNC
