Repository xivanalysis/xivanalysis, pull requests merged in 2022-01, with the labels that each got.

#1471 Basic MNK Endwalker support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/MNK.ts
  src/data/STATUSES/root/MNK.ts
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/ActionTimeline.tsx
  src/parser/jobs/mnk/modules/AoE.tsx
  src/parser/jobs/mnk/modules/CooldownDowntime.ts
  src/parser/jobs/mnk/modules/DISPLAY_ORDER.ts
  src/parser/jobs/mnk/modules/Demolish.tsx
  src/parser/jobs/mnk/modules/Fists.tsx
  src/parser/jobs/mnk/modules/Forms.tsx
  src/parser/jobs/mnk/modules/OGCDDowntime.ts
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
  src/parser/jobs/mnk/modules/Steppies.tsx
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
  src/parser/jobs/mnk/modules/constants.ts
  src/parser/jobs/mnk/modules/index.ts
Labels: Parser - MNK

#1457 Update WHM ThinAir module for Endwalker
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/Inni.png
  src/parser/jobs/whm/index.tsx
  src/parser/jobs/whm/modules/Thinair.tsx
Labels: Parser - WHM

#1485 Fix borked rushed IR suggestions
  src/parser/jobs/war/changelog.tsx
  src/parser/jobs/war/modules/InnerRelease.tsx
Labels: Parser - WAR

#1484 Fix MNK speed adjustments
  src/parser/core/modules/SpeedAdjustments.ts
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/GreasedLightning.ts
Labels: Parser - Core, Parser - MNK

#1480 PLD Endwalker Support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/PLD.ts
  src/parser/jobs/pld/changelog.tsx
  src/parser/jobs/pld/index.tsx
  src/parser/jobs/pld/modules/Gauge.tsx
  src/parser/jobs/pld/modules/Goring.tsx
  src/parser/jobs/pld/modules/OGCDDowntime.tsx
Labels: Parser - PLD

#1494 [WHM] Updating Overhealing and adding Liturgy of the Bell heals.
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/WHM.ts
  src/data/CONTRIBUTORS.ts
  src/data/avatar/kerris.png
  src/parser/jobs/whm/index.tsx
  src/parser/jobs/whm/modules/Interrupts.tsx
  src/parser/jobs/whm/modules/Overheal.js
  src/parser/jobs/whm/modules/Overheal.tsx
  src/parser/jobs/whm/modules/Swiftcast.js
  src/parser/jobs/whm/modules/Swiftcast.tsx
  src/parser/jobs/whm/modules/index.ts
Labels: Parser - WHM

#1491 [GNB] No Mercy Bug Fix + 6.0 Support
  locale/en/messages.json
  src/parser/jobs/gnb/index.tsx
  src/parser/jobs/gnb/modules/NoMercy.tsx
Labels: Parser - GNB

#1490 Update MNK text and timeline
  locale/en/messages.json
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/ActionTimeline.tsx
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
Labels: Parser - MNK

#1496 6.0 PLD Support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/PLD.ts
  src/parser/jobs/pld/changelog.tsx
  src/parser/jobs/pld/index.tsx
  src/parser/jobs/pld/modules/Gauge.tsx
  src/parser/jobs/pld/modules/Goring.tsx
  src/parser/jobs/pld/modules/OGCDDowntime.tsx
Labels: Parser - PLD

#1465 BRD 6.0 - Adding evaluator for RF/BV usage in RS window
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/Yumiya.png
  src/parser/jobs/brd/index.tsx
  src/parser/jobs/brd/modules/RagingStrikes.tsx
Labels: Parser - BRD

#1489 Use combatantinfo events to provide accurate attribute updates
  docs/.tool-versions
  docs/patch-checklist.md
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/event.ts
  src/parser/core/changelog.tsx
  src/parser/core/modules/ActionWindow/evaluators/AllowedGcdsOnlyEvaluator.tsx
  src/parser/core/modules/ActionWindow/evaluators/ExpectedGcdCountEvaluator.tsx
  src/parser/core/modules/AlwaysBeCasting.tsx
  src/parser/core/modules/GlobalCooldown.tsx
  src/parser/core/modules/SpeedAdjustments.ts
  src/parser/core/modules/Swiftcast.tsx
  src/parser/jobs/blm/modules/NotCasting.tsx
  src/parser/jobs/drg/modules/DragonSight.tsx
  src/parser/jobs/pld/modules/Requiescat.tsx
  src/parser/jobs/sam/modules/Meikyo.tsx
  src/parser/jobs/smn/modules/Summons.tsx
  src/reportSources/legacyFflogs/__tests__/__snapshots__/eventAdapter.ts.snap
  src/reportSources/legacyFflogs/__tests__/eventAdapter.ts
  src/reportSources/legacyFflogs/eventAdapter/deduplicateActorUpdates.ts
  src/reportSources/legacyFflogs/eventAdapter/speedStat.ts
  src/reportSources/legacyFflogs/eventAdapter/translate.ts
  src/utilities/speedStatMapper.ts
Labels: Parser - Core, Parser - PLD, Parser - DRG, Parser - SAM, Parser - BLM, Parser - SMN

#1477 Rdm combo split
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/RDM.ts
  src/parser/jobs/rdm/index.tsx
  src/parser/jobs/rdm/modules/Combos.tsx
  src/parser/jobs/rdm/modules/ManaGauge.tsx
  src/parser/jobs/rdm/modules/ManaStackGauge.tsx
  src/parser/jobs/rdm/modules/MeleeCombos.tsx
  src/parser/jobs/rdm/modules/index.tsx
Labels: Parser - RDM

#1483 [AST] updating to 6.0 (Macrocosmos, Minor Arcana, Helios juggling, bug fixes)
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/ArcanaGroups.ts
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaTracking.tsx
  src/parser/jobs/ast/modules/ArcanaUndrawUsage.tsx
  src/parser/jobs/ast/modules/CrownPlay.tsx
  src/parser/jobs/ast/modules/DISPLAY_ORDER.ts
  src/parser/jobs/ast/modules/Draw.tsx
  src/parser/jobs/ast/modules/Helios.tsx
  src/parser/jobs/ast/modules/Macrocosmos.tsx
  src/parser/jobs/ast/modules/index.ts
  src/parser/jobs/ast/modules/oGCDs.tsx
Labels: Parser - AST

#1509 [NIN] Update Raiju analyser and mark as supported for 6.05
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/NIN.ts
  src/data/STATUSES/root/NIN.ts
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/Raiju.tsx
Labels: Parser - NIN

#1515 [AST] 6.05 support
  locale/en/messages.json
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/Draw.tsx
Labels: Parser - AST

#1503 [WHM] Adding Lilybell and Aquaveil to WHM oGCDs
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/whm/index.tsx
  src/parser/jobs/whm/modules/index.ts
  src/parser/jobs/whm/modules/oGCDs.tsx
Labels: Parser - WHM

#1512 [GNB] Min targets to 2 for Aoe
  src/parser/jobs/gnb/index.tsx
  src/parser/jobs/gnb/modules/AoE.ts
Labels: Parser - GNB

#1498 Overhaul status timeline tracking + output
  src/data/ACTIONS/root/BLM.ts
  src/data/ACTIONS/root/RPR.ts
  src/data/STATUSES/root/RPR.ts
  src/parser/core/changelog.tsx
  src/parser/core/modules/StatusTimeline.ts
  src/parser/jobs/blm/changelog.tsx
Labels: Parser - Core

#1520 Update Procs.tsx
  src/data/CONTRIBUTORS.ts
  src/data/avatar/Laille.png
  src/parser/jobs/rdm/index.tsx
  src/parser/jobs/rdm/modules/Procs.tsx
Labels: Parser - RDM

#1486 [SAM] Restore Gauge + Fuko Bug Fix
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/SAM.ts
  src/data/CONTRIBUTORS.ts
  src/data/avatar/Rjb99.png
  src/data/avatar/Ryan.png
  src/parser/jobs/sam/index.js
  src/parser/jobs/sam/modules/AoeChecker.ts
  src/parser/jobs/sam/modules/Kenki/Kenki.tsx
  src/parser/jobs/sam/modules/Kenki/index.ts
  src/parser/jobs/sam/modules/Kenki/kenki.png
  src/parser/jobs/sam/modules/Meikyo.tsx
  src/parser/jobs/sam/modules/Sen.tsx
  src/parser/jobs/sam/modules/index.js
Labels: Parser - SAM

#1517 BRD - Added Drifting EA module and BL/RoD tracker in RS
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/brd/index.tsx
  src/parser/jobs/brd/modules/DoTs.tsx
  src/parser/jobs/brd/modules/DriftingEa.tsx
  src/parser/jobs/brd/modules/OGCDDowntime.ts
  src/parser/jobs/brd/modules/RagingStrikes.tsx
  src/parser/jobs/brd/modules/index.ts
Labels: Parser - BRD

#1497 [SCH] Add Aetherflow to Tracked Cooldowns
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/dthomash.png
  src/parser/jobs/sch/index.js
  src/parser/jobs/sch/modules/ChainStrat.tsx
  src/parser/jobs/sch/modules/CooldownDowntime.tsx
  src/parser/jobs/sch/modules/index.js
Labels: Parser - SCH

#1516 DRG: Track First Brood's Gaze with Core Gauge, End of Fight LotD Suggestions
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/drg/index.tsx
  src/parser/jobs/drg/modules/BloodOfTheDragon.tsx
  src/parser/jobs/drg/modules/index.ts
Labels: Parser - DRG

#1537 Bugfix - BLM - UI Paradox Sharpcast
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/Sharpcast.tsx
Labels: Parser - BLM

#1536 fix: Consider Huton for NIN's ABC calculations
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/HutonCastTime.ts
  src/parser/jobs/nin/modules/index.ts
Labels: Parser - NIN

#1521 Timeline performance improvements round 1: will-change, transform, key fixes
  src/parser/core/modules/Timeline/components/Axis.tsx
  src/parser/core/modules/Timeline/components/Item.tsx
  src/parser/core/modules/Timeline/components/Timeline.module.css
Labels: Parser - Core

#1528 Adjusted module display order and start Summon windows with errors opened
  src/parser/jobs/smn/index.tsx
  src/parser/jobs/smn/modules/DISPLAY_ORDER.ts
  src/parser/jobs/smn/modules/SearingLight.tsx
  src/parser/jobs/smn/modules/Summons.tsx
  src/parser/jobs/smn/modules/Swiftcast.tsx
Labels: Parser - SMN

#1538 Wire meta up for better UX with non-perpetual core support ranges
  src/components/ReportFlow/ActorList.tsx
  src/components/ReportFlow/Analyse/Analyse.tsx
  src/components/ReportFlow/ReportFlow.tsx
  src/data/PATCHES/patches.ts
  src/parser/core/index.tsx
  src/parser/core/modules/About.js
Labels: Parser - Core

#1539 [WHM] Adding Tinctures and display order
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/whm/index.tsx
  src/parser/jobs/whm/modules/DISPLAY_ORDER.ts
  src/parser/jobs/whm/modules/Interrupts.tsx
  src/parser/jobs/whm/modules/Swiftcast.tsx
  src/parser/jobs/whm/modules/Thinair.tsx
  src/parser/jobs/whm/modules/Tincture.tsx
  src/parser/jobs/whm/modules/index.ts
Labels: Parser - WHM

#1541 PLD Goring/Valor Timeline Jump
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/pld/changelog.tsx
  src/parser/jobs/pld/modules/Atonement.tsx
  src/parser/jobs/pld/modules/Goring.tsx
Labels: Parser - PLD

#1529 [SAM] 6.0 to 6.05 Support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/sam/changelog.tsx
  src/parser/jobs/sam/index.js
  src/parser/jobs/sam/modules/Buffs.tsx
  src/parser/jobs/sam/modules/DISPLAY_ORDER.js
  src/parser/jobs/sam/modules/Higanbana.tsx
  src/parser/jobs/sam/modules/Kaiten.tsx
  src/parser/jobs/sam/modules/Kenki/Kenki.tsx
  src/parser/jobs/sam/modules/OGCDDowntime.ts
  src/parser/jobs/sam/modules/Ogi.tsx
  src/parser/jobs/sam/modules/Sen.tsx
  src/parser/jobs/sam/modules/Shoha.tsx
  src/parser/jobs/sam/modules/index.js
Labels: Parser - SAM

#1533 Resolved issue with medication not being included
  src/parser/core/modules/Medicated.ts
Labels: Parser - Core

#1482 [RPR] Add Immortal Sacrifice stack consumption checklist item for Reaper
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/mr_razor.png
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/modules/DISPLAY_ORDER.ts
  src/parser/jobs/rpr/modules/ImmortalSacrifice.tsx
  src/parser/jobs/rpr/modules/index.ts
Labels: Parser - RPR

#1547 fix: Invert checks for shield breaking
  src/event.ts
  src/parser/jobs/drk/index.tsx
  src/parser/jobs/drk/modules/MPUsage.tsx
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/modules/Gauge.tsx
  src/reportSources/legacyFflogs/__tests__/__snapshots__/eventAdapter.ts.snap
  src/reportSources/legacyFflogs/eventAdapter/translate.ts
  src/reportSources/legacyFflogs/eventTypes.ts
Labels: Parser - DRK, Parser - SGE

#1544 Fixed an issue that kept Summon rows from being expanded and collapsed.
  src/parser/jobs/smn/index.tsx
  src/parser/jobs/smn/modules/Summons.tsx
Labels: Parser - SMN

#1549 [RPR] Fix Immortal Sacrifices checklist title tense
  locale/en/messages.json
  src/parser/jobs/rpr/modules/ImmortalSacrifice.tsx
Labels: Parser - RPR

#1551 Implement Enhanced Gibbet and Gallows proc tracking
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/Arkevorkhat.png
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/index.tsx
  src/parser/jobs/rpr/modules/Procs.tsx
  src/parser/jobs/rpr/modules/index.ts
Labels: Parser - RPR

#1548 DNC - Remove Step drift suggestions
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
Labels: Parser - DNC

#1519 fix: when tracking target deaths for invulnerability, also track raises
  src/parser/core/changelog.tsx
  src/parser/core/modules/Invulnerability.tsx
Labels: Parser - Core

#1565 [AST] fix lightspeed speedModifier
  src/data/STATUSES/root/AST.ts
  src/parser/jobs/ast/modules/Lightspeed.tsx
Labels: Parser - AST

#1573 patch bump, wording fix for Mana Stack
  locale/en/messages.json
  src/parser/jobs/rdm/index.tsx
  src/parser/jobs/rdm/modules/ManaStackGauge.tsx
Labels: Parser - RDM

#1552 Extracted ExpectedActionGroupsEvaluator from BRD to be used by RPR
  src/parser/core/modules/ActionWindow/evaluators/ExpectedActionGroupsEvaluator.tsx
  src/parser/core/modules/ActionWindow/evaluators/TrackedActionGroup.ts
  src/parser/core/modules/ActionWindow/index.ts
  src/parser/jobs/brd/modules/RagingStrikes.tsx
Labels: Parser - Core, Parser - BRD

#1564 BRD - AABA tracker in RS
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/brd/index.tsx
  src/parser/jobs/brd/modules/OGCDDowntime.ts
  src/parser/jobs/brd/modules/RagingStrikes.tsx
Labels: Parser - BRD

#1576 6.08 patch bump for BLM, SGE, and DNC
  src/parser/jobs/blm/index.tsx
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/index.tsx
  src/parser/jobs/dnc/modules/AoEUsages.ts
  src/parser/jobs/sge/index.tsx
Labels: Parser - DNC

#1579 SCH Weaving
  locale/en/messages.json
  src/parser/jobs/sch/index.js
  src/parser/jobs/sch/modules/Weaving.tsx
Labels: Parser - SCH

#1583 Add Swiftcast for AST
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/ast/modules/Swiftcast.tsx
Labels: Parser - AST

#1590 [Core] Add overridable prop for prepended messages on ActionWindow
  src/parser/core/modules/ActionWindow/windows/ActionWindow.tsx
Labels: Parser - Core

#1589 [AST] bump to 6.08 support
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/Helios.tsx
Labels: Parser - AST

#1562 [MCH] Harden Reassemble detection
  src/parser/jobs/mch/index.tsx
  src/parser/jobs/mch/modules/Reassemble.tsx
Labels: Parser - MCH

#1578 Update Faerie-Gauge to CoreGauge and add 6.0 Support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/sch/index.js
  src/parser/jobs/sch/modules/FaerieGauge.tsx
  src/parser/jobs/sch/modules/index.js
Labels: Parser - SCH

#1554 Update Ogi.tsx for proper naming convention.
  locale/en/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/Kalittles.png
  src/parser/jobs/sam/index.js
  src/parser/jobs/sam/modules/Ogi.tsx
Labels: Parser - SAM

#1597 Fix Searing Light module with multiple SMNs
  src/data/CONTRIBUTORS.ts
  src/data/avatar/dean.png
  src/parser/jobs/smn/index.tsx
  src/parser/jobs/smn/modules/SearingLight.tsx
Labels: Parser - SMN
