Repository xivanalysis/xivanalysis, pull requests merged in 2022-10, with the labels that each got.

#1745 SAM - Add enpi as a kenki generator
  src/parser/jobs/sam/modules/Kenki/Kenki.tsx
Labels: Parser - SAM

#1748 Standardize DoT suggestion wording
  locale/en/messages.json
  src/parser/jobs/ast/modules/Combust.tsx
  src/parser/jobs/brd/modules/DoTs.tsx
  src/parser/jobs/drg/modules/Debuffs.tsx
  src/parser/jobs/mnk/modules/Demolish.tsx
  src/parser/jobs/sam/modules/Higanbana.tsx
  src/parser/jobs/sch/modules/DoTs.tsx
  src/parser/jobs/sge/modules/DoTs.tsx
  src/parser/jobs/whm/modules/DoTs.tsx
Labels: Parser - WHM, Parser - SCH, Parser - AST, Parser - MNK, Parser - DRG, Parser - SAM, Parser - BRD, Parser - SGE

#1743 SGE Overheal Update
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/SGE.ts
  src/parser/core/modules/Overheal.tsx
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/modules/Overheal.tsx
Labels: Parser - Core, Parser - SGE

#1744 Bugfix - Improve accuracy of 'expected finish' check
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
Labels: Parser - DNC

#1747 [SAM] Enpi Bug fix
  src/parser/jobs/sam/changelog.tsx
  src/parser/jobs/sam/modules/Meikyo.tsx
Labels: Parser - SAM
