Repository xivanalysis/xivanalysis, pull requests merged in 2023-09, with the labels that each got.

#1894 [Bugfix] - Incorrect 'missed' Technical Finishes
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
Labels: Parser - DNC

#1865 [BugFix] RaidBuffWindow window treating idle Carbuncle as an enemy
  src/parser/core/changelog.tsx
  src/parser/core/modules/ActionWindow/windows/BuffWindow.ts
Labels: Parser - Core

#1878 Hijinks
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/avatar/Godbert.png
  src/parser/core/index.tsx
  src/parser/core/modules/Hijinks.tsx
  src/parser/core/modules/Suggestions/Component.js
  src/parser/core/modules/Suggestions/Suggestion.ts
  src/parser/core/modules/index.js
Labels: Parser - Core

#1879 [Bugfix] Countergauge death bugfix
  src/parser/core/changelog.tsx
  src/parser/core/modules/Gauge/CounterGauge.ts
Labels: Parser - Core

#1891 [BugFix] Sharpcast Thundercloud fix
  public/icon/action/t3f.png
  src/parser/core/modules/Procs.tsx
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/Procs.tsx
Labels: Parser - Core, Parser - BLM

#1893 [GNB] Add Lightning Shot Stat
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/gnb/index.tsx
  src/parser/jobs/gnb/modules/LightningShot.tsx
  src/parser/jobs/gnb/modules/index.tsx
Labels: Parser - GNB

#1832 Convert Technicalities to core RaidBuffWindow
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/changelog.tsx
  src/parser/core/modules/ActionWindow/evaluators/NotesEvaluator.ts
  src/parser/core/modules/ActionWindow/evaluators/RaidBuffOverwriteEvaluator.tsx
  src/parser/core/modules/ActionWindow/evaluators/RulePassedEvaluator.tsx
  src/parser/core/modules/ActionWindow/windows/ActionWindow.tsx
  src/parser/core/modules/ActionWindow/windows/RaidBuffWindow.ts
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/Technicalities.tsx
  src/parser/jobs/dnc/modules/evaluators/LateStandardEvaluator.tsx
  src/parser/jobs/dnc/modules/evaluators/PooledFeathersEvaluator.tsx
  src/parser/jobs/dnc/modules/evaluators/TimelyDevilmentEvaluator.tsx
  src/parser/jobs/drg/modules/BattleLitany.tsx
Labels: Parser - Core, Parser - DRG, Parser - DNC, Parser - RPR

#1895 Port Divination to core RaidBuffWindow
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/ActionWindow/windows/ActionWindow.tsx
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/Divination.tsx
  src/parser/jobs/ast/modules/evaluators/AstrodyneEvaluator.tsx
  src/parser/jobs/ast/modules/evaluators/ExpectedCardsEvaluator.tsx
  src/parser/jobs/ast/modules/evaluators/LightspeedEvaluator.tsx
Labels: Parser - Core, Parser - AST
