Repository xivanalysis/xivanalysis, pull requests merged in 2023-01, with the labels that each got.

#1763 Bump NIN support to 6.3
  src/parser/jobs/nin/index.tsx
Labels: Parser - NIN

#1766 MCH - 6.3 Updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/MCH.ts
  src/parser/jobs/mch/index.tsx
  src/parser/jobs/mch/modules/ActionTimeline.tsx
  src/parser/jobs/mch/modules/Hypercharge.tsx
  src/parser/jobs/mch/modules/Mitigation.tsx
  src/parser/jobs/mch/modules/index.ts
Labels: Parser - MCH

#1767 BRD - 6.3 updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/layers/patch6.3.ts
  src/parser/jobs/brd/index.tsx
  src/parser/jobs/brd/modules/Mitigation.tsx
Labels: Parser - BRD

#1768 Updated SMN for 6.3.
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/smn/index.tsx
  src/parser/jobs/smn/modules/Swiftcast.tsx
Labels: Parser - SMN

#1771 DNC - 6.3 bump and bugfix
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/index.tsx
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
Labels: Parser - DNC

#1772 SGE - 6.3 updates
  locale/en/messages.json
  src/data/ACTIONS/layers/patch6.3.ts
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/index.tsx
  src/parser/jobs/sge/modules/Gauge.tsx
Labels: Parser - SGE

#1647 fflogs - sort status events dynamically
  src/parser/core/changelog.tsx
  src/parser/jobs/mch/modules/Wildfire.tsx
  src/reportSources/legacyFflogs/__tests__/eventAdapter.ts
  src/reportSources/legacyFflogs/eventAdapter/adapter.ts
  src/reportSources/legacyFflogs/eventAdapter/sortEvents.ts
  src/reportSources/legacyFflogs/eventAdapter/sortStatus.ts
Labels: Parser - MCH

#1773 Feature/pld update 6.3
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/layers/patch6.3.ts
  src/data/ACTIONS/root/PLD.ts
  src/data/STATUSES/layers/index.ts
  src/data/STATUSES/layers/patch6.3.ts
  src/data/STATUSES/root/PLD.ts
  src/parser/jobs/pld/changelog.tsx
  src/parser/jobs/pld/index.tsx
  src/parser/jobs/pld/modules/ActionTimeline.tsx
  src/parser/jobs/pld/modules/Atonement.tsx
  src/parser/jobs/pld/modules/Confiteor.tsx
  src/parser/jobs/pld/modules/CooldownDowntime.tsx
  src/parser/jobs/pld/modules/Faith.tsx
  src/parser/jobs/pld/modules/FightOrFlight.tsx
  src/parser/jobs/pld/modules/Goring.tsx
  src/parser/jobs/pld/modules/OGCDDowntime.tsx
  src/parser/jobs/pld/modules/Requiescat.tsx
  src/parser/jobs/pld/modules/RoyalAuthority.tsx
  src/parser/jobs/pld/modules/StatusTimeline.ts
  src/parser/jobs/pld/modules/Tincture.tsx
  src/parser/jobs/pld/modules/index.tsx
Labels: Parser - PLD

#1783 Use custom filter predicate for requi to avoid dm holy
  src/parser/jobs/pld/modules/Requiescat.tsx
Labels: Parser - PLD
