Repository xivanalysis/xivanalysis, pull requests merged in 2023-10, with the labels that each got.

#1918 BLM - show tincture window
  src/data/CONTRIBUTORS.ts
  src/data/avatar/nolo.png
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/DISPLAY_ORDER.ts
  src/parser/jobs/blm/modules/index.ts
Labels: Parser - BLM

#1844 Stacked Gauge timeline display and mark MNK as supported
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/ResourceGraphs/Graph.tsx
  src/parser/core/modules/ResourceGraphs/ResourceGraphs.tsx
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
  src/parser/jobs/mnk/modules/index.ts
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/modules/DeathGauge.tsx
Labels: Parser - Core, Parser - MNK, Parser - RPR

#1920 [BugFix] Fix broken Technical Finish evaluation on fight end
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/evaluators/LateStandardEvaluator.tsx
Labels: Parser - DNC

#1866 [BugFix] Correct Masterful Blitz count evaluation in Riddle of Fire
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
  src/parser/jobs/mnk/modules/evaluators/BlitzEvaluator.tsx
Labels: Parser - Core, Parser - MNK, Parser - RPR
