Repository xivanalysis/xivanalysis, pull requests merged in 2023-07, with the labels that each got.

#1833 [MCH] Improve Hypercharge module + 6.4 bump
  src/data/ACTIONS/layers/patch6.3.ts
  src/data/STATUSES/layers/patch6.3.ts
  src/data/STATUSES/root/MCH.ts
  src/parser/jobs/mch/index.tsx
  src/parser/jobs/mch/modules/Hypercharge.tsx
Labels: Parser - MCH

#1829 [BRD] Display timestamps for Straight Shot Ready proc overwrites
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/Mali.png
  src/parser/core/modules/Procs.tsx
  src/parser/jobs/brd/index.tsx
  src/parser/jobs/brd/modules/RefulgentProcs.tsx
Labels: Parser - Core, Parser - BRD

#1836 [BLM] Display timestamps for paradox and polyglot proc overwrites
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
Labels: Parser - BLM

#1812 [SMN] Add level 70/80 skills for better Ultimate analysis
  src/data/ACTIONS/layers/patch6.1.ts
  src/data/ACTIONS/root/SMN.ts
  src/parser/jobs/smn/modules/Summons.tsx
Labels: Parser - SMN

#1797 BLU: Extensive support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  scripts/generate-unable-to-act.ts
  src/data/ACTIONS/root/BLU.ts
  src/data/ACTIONS/type.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/BLU.ts
  src/data/avatar/hugmeir.png
  src/event.ts
  src/generated/unableToActStatusIds.ts
  src/parser/core/modules/ActionWindow/evaluators/ExpectedActionsEvaluator.tsx
  src/parser/core/modules/Overheal.tsx
  src/parser/core/modules/RaidBuffs.ts
  src/parser/core/modules/Weaving.tsx
  src/parser/jobs/blu/changelog.tsx
  src/parser/jobs/blu/index.tsx
  src/parser/jobs/blu/modules/AlwaysBeCasting.tsx
  src/parser/jobs/blu/modules/BLURaidBuffs.tsx
  src/parser/jobs/blu/modules/ColdFog.tsx
  src/parser/jobs/blu/modules/DISPLAY_ORDER.ts
  src/parser/jobs/blu/modules/Defensives.tsx
  src/parser/jobs/blu/modules/DoTs.tsx
  src/parser/jobs/blu/modules/DroppedBuffs.tsx
  src/parser/jobs/blu/modules/GeneralCDDowntime.ts
  src/parser/jobs/blu/modules/Interrupts.tsx
  src/parser/jobs/blu/modules/MoonFlute.tsx
  src/parser/jobs/blu/modules/Overheal.tsx
  src/parser/jobs/blu/modules/RevengeBlast.tsx
  src/parser/jobs/blu/modules/Swiftcast.tsx
  src/parser/jobs/blu/modules/TripleTrident.tsx
  src/parser/jobs/blu/modules/Weaving.ts
  src/parser/jobs/blu/modules/Weaving.tsx
  src/parser/jobs/blu/modules/index.tsx
Labels: Parser - Core

#1841 [MCH] Improve Wildfire module accuracy & description
  locale/en/messages.json
  src/parser/jobs/mch/index.tsx
  src/parser/jobs/mch/modules/Wildfire.tsx
Labels: Parser - MCH

#1710 Add RoW to RoF windows
  src/data/CONTRIBUTORS.ts
  src/data/avatar/fair2dare.png
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
  src/parser/jobs/mnk/modules/evaluators/RiddleOfWindEvaluator.tsx
Labels: Parser - MNK

#1696 Add expected Masterful Blitz count
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
  src/parser/jobs/mnk/modules/evaluators/BlitzEvaluator.tsx
Labels: Parser - MNK

#1693 Variable Riddle of Wind expected count
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/RiddleOfWind.tsx
Labels: Parser - MNK

#1694 Add Brotherhood support.
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/ActionWindow/windows/ActionWindow.tsx
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/Brotherhood.tsx
  src/parser/jobs/mnk/modules/MissedBrotherhood.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
  src/parser/jobs/mnk/modules/evaluators/BrotherhoodEvaluator.tsx
  src/parser/jobs/mnk/modules/index.ts
Labels: Parser - Core, Parser - MNK

#1627 Masterful Blitz stats
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/MasterfulBlitzStatistics.tsx
  src/parser/jobs/mnk/modules/index.ts
Labels: Parser - MNK

#1706 Overheal defects
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Overheal.tsx
  src/parser/core/modules/Statistics/AbstractStatistic.tsx
  src/parser/core/modules/Statistics/Statistics.tsx
  src/parser/jobs/ast/index.tsx
Labels: Parser - Core

#1713 Check for lilies when using GCD heals
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/avatar/fair2dare.png
  src/parser/jobs/whm/index.tsx
  src/parser/jobs/whm/modules/Lilies.tsx
Labels: Parser - WHM

#1848 [Core][RDM] Rewrite Swiftcast module to enable job-specific "bad usage" logic + implement for RDM
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Swiftcast.tsx
  src/parser/jobs/rdm/index.tsx
  src/parser/jobs/rdm/modules/Swiftcast.tsx
Labels: Parser - Core, Parser - RDM

#1839 BLU: Final Sting handling
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Death.tsx
  src/parser/jobs/blu/changelog.tsx
  src/parser/jobs/blu/modules/Death.tsx
  src/parser/jobs/blu/modules/MoonFlute.tsx
  src/parser/jobs/blu/modules/index.tsx
Labels: Parser - Core

#1843 BLU ABC is special, let people know!
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/AlwaysBeCasting.tsx
  src/parser/jobs/blu/modules/AlwaysBeCasting.tsx
Labels: Parser - Core

#1854 Move AST's LucidDreaming module to core
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/LucidDreaming.tsx
  src/parser/jobs/ast/modules/index.ts
  src/parser/jobs/blu/modules/index.tsx
Labels: Parser - Core, Parser - AST

#1853 Core ActionTimeline: Option to resolve the label name late
  src/parser/core/modules/ActionTimeline/ActionTimeline.tsx
  src/parser/jobs/blu/modules/ActionTimeline.tsx
  src/parser/jobs/blu/modules/GeneralCDDowntime.ts
  src/parser/jobs/blu/modules/index.tsx
Labels: Parser - Core

#1857 BLU Defensives: Add per-mimicry defensives
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Defensives.tsx
  src/parser/jobs/blu/modules/Defensives.tsx
Labels: Parser - Core

#1838 [BugFix] Remove TBN from Defensives analysis
  src/parser/core/modules/Defensives.tsx
  src/parser/jobs/drk/index.tsx
  src/parser/jobs/drk/modules/Defensives.ts
Labels: Parser - Core, Parser - DRK

#1850 [BugFix] Defensives - Handle shared CDs and fix extra use calculations
  src/parser/core/changelog.tsx
  src/parser/core/modules/Defensives.tsx
Labels: Parser - Core

#1864 BLU: Winged Reprobation cooldown fun!
  src/data/ACTIONS/root/BLU.ts
  src/parser/jobs/blu/changelog.tsx
  src/parser/jobs/blu/modules/GeneralCDDowntime.ts
  src/parser/jobs/blu/modules/WingedReprobation.tsx
  src/parser/jobs/blu/modules/index.tsx
Labels: Parser - BLU

#1870 BLU 6.45: Apokalypsis
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blu/changelog.tsx
  src/parser/jobs/blu/modules/AlwaysBeCasting.tsx
  src/parser/jobs/blu/modules/ColdFog.tsx
Labels: Parser - BLU

#1872 BLU Cooldowns: Only track used spells, & track three new 6.45 cooldowns
  src/parser/core/modules/CooldownDowntime.tsx
  src/parser/jobs/blu/changelog.tsx
  src/parser/jobs/blu/modules/GeneralCDDowntime.ts
Labels: Parser - Core, Parser - BLU

#1871 BLU 6.45: New DoTs!
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blu/changelog.tsx
  src/parser/jobs/blu/modules/DoTs.tsx
Labels: Parser - BLU

#1873 BLU: 6.45 Moon Flute update
  locale/en/messages.json
  src/data/ACTIONS/root/BLU.ts
  src/parser/jobs/blu/changelog.tsx
  src/parser/jobs/blu/modules/MoonFlute.tsx
Labels: Parser - BLU
