Repository xivanalysis/xivanalysis, pull requests merged in 2023-05, with the labels that each got.

#1684 Migrate positionals types and definitions from core/jobs to data to better support layering.
  src/data/ACTIONS/index.ts
  src/data/ACTIONS/layers/patch6.1.ts
  src/data/ACTIONS/root/DRG.ts
  src/data/ACTIONS/root/MNK.ts
  src/data/ACTIONS/root/NIN.ts
  src/data/ACTIONS/root/RPR.ts
  src/data/ACTIONS/root/SAM.ts
  src/data/ACTIONS/type.ts
  src/parser/core/modules/Positionals.tsx
  src/parser/jobs/drg/modules/Positionals.ts
  src/parser/jobs/mnk/modules/Positionals.ts
  src/parser/jobs/mnk/modules/Revolution.tsx
  src/parser/jobs/mnk/modules/Steppies.tsx
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
  src/parser/jobs/nin/modules/Positionals.ts
  src/parser/jobs/rpr/modules/Positionals.ts
  src/parser/jobs/sam/modules/Positionals.ts
Labels: Parser - Core, Parser - MNK, Parser - DRG, Parser - NIN, Parser - SAM, Parser - RPR

#1789 [MCH] Add Air anchor to tincture window
  src/parser/jobs/mch/modules/Tincture.tsx
Labels: Parser - MCH

#1792 [MCH] Add check for failed hits in gauge tracking
  src/parser/jobs/mch/modules/Gauge.tsx
Labels: Parser - MCH

#1741 Potential bugfix for weaves that go on after death
  src/parser/core/modules/Weaving.tsx
Labels: Parser - Core

#1798 Account for weave delay for buff windows
  locale/en/messages.json
  src/parser/core/modules/ActionWindow/evaluators/ExpectedGcdCountEvaluator.tsx
  src/parser/core/modules/Swiftcast.tsx
  src/parser/jobs/brd/modules/RagingStrikes.tsx
  src/parser/jobs/drg/modules/BattleLitany.tsx
  src/parser/jobs/drg/modules/DragonSight.tsx
  src/parser/jobs/drg/modules/LanceCharge.tsx
  src/parser/jobs/drk/modules/BloodWeapon.tsx
  src/parser/jobs/gnb/modules/NoMercy.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
  src/parser/jobs/nin/modules/TrickAttackWindow.tsx
  src/parser/jobs/pld/modules/FightOrFlight.tsx
  src/parser/jobs/pld/modules/Tincture.tsx
  src/parser/jobs/sam/modules/Meikyo.tsx
  src/parser/jobs/sge/modules/Zoe.tsx
Labels: Parser - Core, Parser - PLD, Parser - DRK, Parser - MNK, Parser - DRG, Parser - NIN, Parser - SAM, Parser - BRD, Parser - GNB, Parser - SGE

#1787 [MNK] Add Timeline support for low-level actions
  src/data/ACTIONS/root/MNK.ts
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/ActionTimeline.tsx
Labels: Parser - MNK

#1806 MCH Gauge: yarn lint wanted less whitespace
  src/parser/jobs/mch/modules/Gauge.tsx
Labels: Parser - MCH

#1807 SAM: Incorrect Kenki gain from Third Eye for multi-hit ability
  src/parser/jobs/sam/modules/Kenki/Kenki.tsx
Labels: Parser - SAM

#1805 BLM 6.4 adjustments
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/index.tsx
  src/parser/jobs/blm/modules/AoEUsages.ts
Labels: Parser - BLM

#1751 [AST] divination update, checklist reorder, random cleanup
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/CooldownDowntime.tsx
  src/parser/core/modules/Overheal.tsx
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/Combust.tsx
  src/parser/jobs/ast/modules/CrownPlay.tsx
  src/parser/jobs/ast/modules/DISPLAY_ORDER.ts
  src/parser/jobs/ast/modules/Defensives.tsx
  src/parser/jobs/ast/modules/Divination.tsx
  src/parser/jobs/ast/modules/Lightspeed.tsx
  src/parser/jobs/ast/modules/Overheal.tsx
  src/parser/jobs/ast/modules/oGCDs.tsx
Labels: Parser - Core, Parser - AST

#1822 [SAM] Shoha 2 Exists
  src/parser/jobs/sam/changelog.tsx
  src/parser/jobs/sam/modules/AoeChecker.ts
Labels: Parser - SAM

#1816 Fix Devilment timing check for 6.4+
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/Technicalities.tsx
Labels: Parser - DNC
