Repository xivanalysis/xivanalysis, pull requests merged in 2024-10, with the labels that each got.

#2110 [SAM] Update Hagakure Feedback
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/sam/changelog.tsx
  src/parser/jobs/sam/modules/Hagakure.tsx
  src/parser/jobs/sam/modules/Sen.tsx
  src/parser/jobs/sam/modules/index.js
Labels: Parser - SAM

#2115 [VPR] Gauge Bugfix
  src/parser/jobs/vpr/modules/snilk.tsx
Labels: Parser - VPR

#2117 [RPR] Add Executioner Skills to Positionals
  src/parser/core/modules/Positionals.tsx
  src/parser/jobs/rpr/modules/Positionals.ts
Labels: Parser - Core, Parser - RPR

#2116 [VPR] Add 2 Minute Burst Evaluator Window
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/vpr/changelog.tsx
  src/parser/jobs/vpr/modules/DISPLAY_ORDER.ts
  src/parser/jobs/vpr/modules/SerpentsIre.tsx
  src/parser/jobs/vpr/modules/index.ts
Labels: Parser - VPR

#2122 [BRD] Remove buff window GCD trackers filter for more intuitively display the correct GCD wave.
  src/data/CONTRIBUTORS.ts
  src/data/avatar/Yuzukitsuru.jpg
  src/parser/jobs/brd/changelog.tsx
  src/parser/jobs/brd/index.tsx
  src/parser/jobs/brd/modules/BuffWindows/ArmysMuse.tsx
  src/parser/jobs/brd/modules/BuffWindows/MuseBuffWindow.tsx
Labels: Parser - BRD

#2121 [RPR] Harpe gives 10 soul gauge now
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/modules/OtherGauges.tsx
Labels: Parser - RPR

#2131 [SAM] Bugfix: Tendo skills not giving meditation stacks
  src/parser/jobs/sam/changelog.tsx
  src/parser/jobs/sam/modules/Shoha.tsx
Labels: Parser - SAM
