Repository xivanalysis/xivanalysis, pull requests merged in 2024-11, with the labels that each got.

#2133 [VPR] Uncoiled Fury checklist bugfix
  src/parser/jobs/vpr/changelog.tsx
  src/parser/jobs/vpr/modules/RattlingCoil.tsx
Labels: Parser - VPR

#2137 [BigFix] Fix End of Fight instant cast GCD uptime calculation
  src/parser/core/changelog.tsx
  src/parser/core/modules/AlwaysBeCasting.tsx
Labels: Parser - Core

#2144 [DRG] 7.1 adjustments
  src/data/ACTIONS/layers/patch7.1.ts
  src/data/STATUSES/layers/patch7.1.ts
  src/data/STATUSES/root/DRG.ts
  src/parser/jobs/drg/changelog.tsx
  src/parser/jobs/drg/modules/BattleLitany.tsx
  src/parser/jobs/drg/modules/BloodOfTheDragon.tsx
  src/parser/jobs/drg/modules/LanceCharge.tsx
Labels: Parser - DRG

#2095 [BugFix] Reset Paradox gauge on death, and retain Polyglot count on Enochian drop
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
Labels: Parser - BLM

#2128 [BRD] Add prepend messages info for buff window GCD trackers
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/brd/changelog.tsx
  src/parser/jobs/brd/modules/BuffWindows/ArmysMuse.tsx
  src/parser/jobs/brd/modules/BuffWindows/BattleVoice.tsx
  src/parser/jobs/brd/modules/BuffWindows/RadiantFinale.tsx
  src/parser/jobs/brd/modules/BuffWindows/RagingStrikes.tsx
Labels: Parser - BRD

#2149 [GNB] 7.1 Support
  src/parser/jobs/gnb/changelog.tsx
  src/parser/jobs/gnb/index.tsx
  src/parser/jobs/gnb/modules/Ammo.tsx
Labels: Parser - GNB

#2084 Feature - Add Proc issues table output to core
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Procs.tsx
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/Procs.tsx
  src/parser/jobs/brd/modules/RefulgentProcs.tsx
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/Procs.tsx
  src/parser/jobs/pct/changelog.tsx
  src/parser/jobs/pct/modules/Procs.tsx
  src/parser/jobs/rdm/modules/Procs.tsx
  src/parser/jobs/vpr/changelog.tsx
  src/parser/jobs/vpr/modules/Venoms.tsx
Labels: Parser - Core, Parser - BRD, Parser - BLM, Parser - RDM, Parser - DNC, Parser - VPR, Parser - PCT

#2105 [Feature] SetEnumGauge and backtrack correction support for Set/Enum
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Gauge/CounterGauge.ts
  src/parser/core/modules/Gauge/EnumGauge.ts
  src/parser/core/modules/Gauge/SetEnumGauge.ts
  src/parser/core/modules/Gauge/SetGauge.ts
  src/parser/core/modules/ResourceGraphs/ResourceGraphs.tsx
  src/parser/jobs/pct/changelog.tsx
  src/parser/jobs/pct/modules/Gauge.tsx
Labels: Parser - Core, Parser - PCT

#2106 [SGE] Add checklist item for Kardia uptime
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/modules/Kardia.tsx
  src/parser/jobs/sge/modules/index.ts
Labels: Parser - DNC, Parser - SGE

#2152 Update Celestial Revolution suggestion
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/MNK.ts
  src/parser/jobs/mnk/modules/Revolution.tsx
Labels: Parser - MNK

#2154 [MNK] Refine nadi overcap suggestion to check for lost uses of Phantom Rush
  locale/en/messages.json
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
Labels: Parser - MNK

#2155 [MNK] Refine suggestion for bad actions used during RoF
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
Labels: Parser - MNK

#2156 [MNK] Refine suggestion for overwritten formless fists to ignore downtime
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/Bookending.tsx
Labels: Parser - MNK

#2100 [Core] defensives prepull fix
  src/parser/core/changelog.tsx
  src/parser/core/modules/Defensives.tsx
Labels: Parser - Core, Parser - SGE
