Repository xivanalysis/xivanalysis, pull requests merged in 2024-02, with the labels that each got.

#1837 BLM - Convert RotationWatchdog to use RestartWindow
  locale/en/messages.json
  src/data/ACTIONS/root/BLM.ts
  src/parser/core/modules/ActionWindow/evaluators/ExpectedActionsEvaluator.tsx
  src/parser/core/modules/ActionWindow/windows/ActionWindow.tsx
  src/parser/core/modules/ActionWindow/windows/RestartWindow.ts
  src/parser/core/modules/Procs.tsx
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/EvaluatorUtilities.ts
  src/parser/jobs/blm/modules/RotationWatchdog/ExpectedFireSpellsEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/ExtraF1Evaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/ExtraHardT3Evaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/IceMageEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/ManafontTimingEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/MissedIceParadoxEvaluator.ts
  src/parser/jobs/blm/modules/RotationWatchdog/RotationErrorNotesEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/SkipB4Evaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/SkipT3Evaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/UptimeSoulsEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/WatchdogConstants.tsx
Labels: Parser - Core, Parser - BLM

#1919 BuffWindow - filter events that occurred at or after the end of the window
  src/parser/core/changelog.tsx
  src/parser/core/modules/ActionWindow/windows/BuffWindow.ts
Labels: Parser - Core

#1929 Port DirtyDancing to ActionWindow
  locale/en/messages.json
  src/parser/jobs/dnc/modules/DirtyDancing.tsx
  src/parser/jobs/dnc/modules/evaluators/CleanDanceEvaluator.tsx
  src/parser/jobs/dnc/modules/evaluators/FootlooseEvaluator.tsx
  src/parser/jobs/dnc/modules/evaluators/HitTargetEvaluator.tsx
  src/parser/jobs/dnc/modules/evaluators/ZeroStepStandardEvaluator.tsx
  src/parser/jobs/dnc/modules/evaluators/ZeroStepTechnicalEvaluator.tsx
Labels: Parser - DNC

#1890 Feature - Adapt gaugeUpdate events for Dancer
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/event.ts
  src/parser/core/modules/EventsView/eventFormatter.tsx
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/index.tsx
  src/parser/jobs/dnc/modules/Gauge.tsx
  src/report.ts
  src/reportSources/legacyFflogs/eventAdapter/translate.ts
Labels: Parser - Core, Parser - DNC

#1931 Fix end of window handling for 'consumable' buff windows
  src/parser/core/modules/ActionWindow/windows/BuffWindow.ts
  src/parser/core/modules/Swiftcast.tsx
  src/parser/jobs/drk/modules/BloodWeapon.tsx
  src/parser/jobs/pld/modules/Requiescat.tsx
  src/parser/jobs/sam/modules/Meikyo.tsx
Labels: Parser - Core, Parser - PLD, Parser - DRK, Parser - SAM

#1932 [BUGFIX] mark Enshroud as a consumed buff
  src/parser/jobs/rpr/modules/Enshroud.tsx
Labels: Parser - RPR

#1867 Feature - Enum Gauge
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Gauge/AbstractGauge.ts
  src/parser/core/modules/Gauge/CounterGauge.ts
  src/parser/core/modules/Gauge/EnumGauge.ts
  src/parser/core/modules/Gauge/TimerGauge.ts
  src/parser/core/modules/ResourceGraphs/MarkerHandler.tsx
  src/parser/core/modules/ResourceGraphs/ResourceGraphs.tsx
  src/parser/core/modules/Timeline/components/Row.tsx
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaTracking.tsx
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/ActionTimeline.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
  src/parser/jobs/blm/modules/Leylines.tsx
  src/parser/jobs/blm/modules/index.ts
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/modules/DeathGauge.tsx
Labels: Parser - Core, Parser - AST, Parser - MNK, Parser - BLM, Parser - RPR

#1868 Feature - Set Gauge
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Gauge/SetGauge.ts
  src/parser/jobs/brd/index.tsx
  src/parser/jobs/brd/modules/Coda.tsx
  src/parser/jobs/brd/modules/index.ts
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
  src/parser/jobs/sam/changelog.tsx
  src/parser/jobs/sam/modules/Sen.tsx
Labels: Parser - Core, Parser - MNK, Parser - SAM, Parser - BRD, Parser - RPR
