Repository xivanalysis/xivanalysis, pull requests merged in 2024-08, with the labels that each got.

#2011 [AST] 7.0 Defensive update
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/AST.ts
  src/data/avatar/otocephaly.jpg
  src/parser/jobs/ast/changelog.tsx
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/ActionTimeline.tsx
  src/parser/jobs/ast/modules/DISPLAY_ORDER.ts
  src/parser/jobs/ast/modules/Defensives.tsx
  src/parser/jobs/ast/modules/Draw.tsx
  src/parser/jobs/ast/modules/DroppedDefensives.tsx
  src/parser/jobs/ast/modules/index.ts
Labels: Parser - AST

#2074 Added Dokumori to the raid buff list
  src/parser/core/modules/RaidBuffs.ts
  src/parser/jobs/nin/changelog.tsx
Labels: Parser - Core

#2075 fix: adjust Bloodspillers in opener tincture correctly
  src/parser/jobs/drk/changelog.tsx
  src/parser/jobs/drk/modules/Tincture.tsx
Labels: Parser - DRK

#2071 BLM - Patch 7.05 updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/index.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/MissedIceParadoxEvaluator.ts
  src/parser/jobs/blm/modules/RotationWatchdog/WatchdogConstants.tsx
Labels: Parser - BLM

#2053 feat: adjust pull timestamp to account for events from pre-combat
  src/parser/core/modules/EventsView/EventsView.tsx
  src/report.ts
  src/reportSources/legacyFflogs/__tests__/__snapshots__/eventAdapter.ts.snap
  src/reportSources/legacyFflogs/__tests__/eventAdapter.ts
  src/reportSources/legacyFflogs/eventAdapter/adapter.ts
  src/reportSources/legacyFflogs/eventAdapter/base.ts
  src/reportSources/legacyFflogs/eventAdapter/prepullAction.ts
  src/reportSources/legacyFflogs/eventAdapter/prepullStatus.ts
  src/reportSources/legacyFflogs/eventAdapter/speedStat.ts
  src/reportSources/legacyFflogs/eventTypes.ts
  src/reportSources/legacyFflogs/reportAdapter.ts
  src/reportSources/legacyFflogs/store.ts
Labels: Parser - Core

#2077 PCT - Allow CMYK Starry Muse windows instead of requiring KMYK
  src/parser/jobs/pct/changelog.tsx
  src/parser/jobs/pct/modules/StarryMuse.tsx
Labels: Parser - PCT

#2087 Add inspiration to module list, fix stacking from repeat gain events
  src/data/CONTRIBUTORS.ts
  src/data/avatar/ackwell.png
  src/parser/jobs/pct/changelog.tsx
  src/parser/jobs/pct/modules/Inspiration.tsx
  src/parser/jobs/pct/modules/Procs.tsx
  src/parser/jobs/pct/modules/index.ts
Labels: Parser - PCT

#2089 PCT - Ignore Star Prism's cure effect for Weaving
  src/parser/core/modules/Weaving.tsx
  src/parser/jobs/pct/changelog.tsx
  src/parser/jobs/pct/modules/Weaving.ts
Labels: Parser - Core, Parser - PCT

#2085 [WAR] feat: add tincture module for warrior
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/ITEMS.ts
  src/parser/jobs/war/changelog.tsx
  src/parser/jobs/war/modules/Tincture.tsx
  src/parser/jobs/war/modules/index.ts
Labels: Parser - WAR

#2086 [SAM] 7.05 + small bug fixes
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/layers/patch7.05.ts
  src/data/ACTIONS/root/SAM.ts
  src/data/STATUSES/layers/patch7.05.ts
  src/data/STATUSES/root/SAM.ts
  src/parser/jobs/sam/changelog.tsx
  src/parser/jobs/sam/index.js
  src/parser/jobs/sam/modules/Combos.ts
  src/parser/jobs/sam/modules/Kenki/Kenki.tsx
  src/parser/jobs/sam/modules/ReadyProcs.tsx
Labels: Parser - SAM

#2046 Add a core "disengage gcds" analyser
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/DisengageGcds.tsx
  src/parser/jobs/gnb/modules/LightningShot.tsx
  src/parser/jobs/war/changelog.tsx
  src/parser/jobs/war/modules/Tomahawk.tsx
  src/parser/jobs/war/modules/index.ts
Labels: Parser - Core, Parser - WAR, Parser - GNB

#2063 [Core] [Rpr] Add ConsiderEvent Filter option to onProcGained
  src/parser/core/modules/Procs.tsx
  src/parser/jobs/rpr/modules/Procs.tsx
Labels: Parser - Core, Parser - RPR

#2094 [Bugfix] Update BuffWindow target filters to better handle raid buffs
  src/parser/core/changelog.tsx
  src/parser/core/modules/ActionWindow/windows/BuffWindow.ts
Labels: Parser - Core

#2093 [BRD] Added soul voice and repertoire tracking modules
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/event.ts
  src/parser/jobs/brd/changelog.tsx
  src/parser/jobs/brd/modules/Coda.tsx
  src/parser/jobs/brd/modules/Repertoire.tsx
  src/parser/jobs/brd/modules/SoulVoice.tsx
  src/parser/jobs/brd/modules/index.ts
  src/reportSources/legacyFflogs/eventAdapter/translate.ts
Labels: Parser - BRD

#2076 RDM - BugFix - Changed Manafication to allow for rushing
  locale/en/messages.json
  src/parser/jobs/rdm/changelog.tsx
  src/parser/jobs/rdm/modules/Manafication.tsx
Labels: Parser - RDM

#2098 [BugFix] Make the buff window party target list change specific to raid buffs
  src/parser/core/modules/ActionWindow/windows/BuffWindow.ts
  src/parser/core/modules/ActionWindow/windows/RaidBuffWindow.ts
  src/parser/jobs/brd/changelog.tsx
Labels: Parser - Core

#2097 [Core] adding charges information to defensives + [AST] minor updates (change log, contributors, defensive, draw wording, patches)
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/layers/patch7.01.ts
  src/data/ACTIONS/layers/patch7.05.ts
  src/data/CONTRIBUTORS.ts
  src/data/avatar/sushirou.png
  src/parser/core/changelog.tsx
  src/parser/core/modules/Defensives.tsx
  src/parser/jobs/ast/changelog.tsx
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/Defensives.tsx
  src/parser/jobs/ast/modules/Draw.tsx
Labels: Parser - Core, Parser - AST

#2099 [BRD] Added modules for each individual buff window tracking
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/ActionWindow/evaluators/ExpectedGcdCountEvaluator.tsx
  src/parser/jobs/brd/changelog.tsx
  src/parser/jobs/brd/modules/BuffWindows/ArmysMuse.tsx
  src/parser/jobs/brd/modules/BuffWindows/BattleVoice.tsx
  src/parser/jobs/brd/modules/BuffWindows/BurstWindow.tsx
  src/parser/jobs/brd/modules/BuffWindows/Constants.ts
  src/parser/jobs/brd/modules/BuffWindows/MuseBuffWindow.tsx
  src/parser/jobs/brd/modules/BuffWindows/RadiantFinale.tsx
  src/parser/jobs/brd/modules/BuffWindows/RagingStrikes.tsx
  src/parser/jobs/brd/modules/DISPLAY_ORDER.ts
  src/parser/jobs/brd/modules/index.ts
Labels: Parser - Core, Parser - BRD
