Repository xivanalysis/xivanalysis, pull requests merged in 2024-07, with the labels that each got.

#1958 [AST] 7.0 Actions and Statuses
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/AST.ts
  src/data/STATUSES/root/AST.ts
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/ActionTimeline.tsx
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaSuggestions.tsx
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaTracking.tsx
  src/parser/jobs/ast/modules/ArcanaUndrawUsage.tsx
  src/parser/jobs/ast/modules/CastTime.tsx
  src/parser/jobs/ast/modules/Combust.tsx
  src/parser/jobs/ast/modules/Divination.tsx
  src/parser/jobs/ast/modules/Draw.tsx
  src/parser/jobs/ast/modules/Tincture.tsx
  src/parser/jobs/ast/modules/evaluators/AstrodyneEvaluator.tsx
  src/parser/jobs/ast/modules/evaluators/ExpectedCardsEvaluator.tsx
  src/parser/jobs/ast/modules/index.ts
Labels: Parser - AST

#1967 Dawntrail Core support
  src/components/ui/JobIcon/icomoon.json
  src/components/ui/JobIcon/job-icons.eot
  src/components/ui/JobIcon/job-icons.svg
  src/components/ui/JobIcon/job-icons.ttf
  src/components/ui/JobIcon/job-icons.woff
  src/data/ACTIONS/root/ROLE.ts
  src/data/CONTRIBUTORS.ts
  src/data/JOBS.ts
  src/data/STATUSES/root/ROLE.ts
  src/data/avatar/Akairyu.png
  src/generated/unableToActStatusIds.ts
  src/parser/core/changelog.tsx
  src/parser/core/index.tsx
  src/parser/core/modules/Weaving.tsx
  src/reportSources/legacyFflogs/eventTypes.ts
  src/reportSources/legacyFflogs/reportAdapter.ts
  src/utilities/speedStatMapper.ts
Labels: Parser - Core

#1968 PCT - Dawntrail baseline data and modules
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/LIMIT_BREAK.ts
  src/data/ACTIONS/root/PCT.ts
  src/data/ACTIONS/root/index.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/PCT.ts
  src/data/STATUSES/root/index.ts
  src/parser/core/modules/RaidBuffs.ts
  src/parser/jobs/pct/changelog.tsx
  src/parser/jobs/pct/index.tsx
  src/parser/jobs/pct/modules/CooldownDowntime.tsx
  src/parser/jobs/pct/modules/Swiftcast.tsx
  src/parser/jobs/pct/modules/index.ts
Labels: Parser - Core, Parser - PCT

#1949 [DRG] 7.0 Initial Support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/DRG.ts
  src/data/ACTIONS/type.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/DRG.ts
  src/data/avatar/falindrith.png
  src/parser/core/modules/ActionWindow/windows/TimedWindow.ts
  src/parser/core/modules/RaidBuffs.ts
  src/parser/jobs/drg/changelog.tsx
  src/parser/jobs/drg/index.tsx
  src/parser/jobs/drg/modules/ActionTimeline.tsx
  src/parser/jobs/drg/modules/BattleLitany.tsx
  src/parser/jobs/drg/modules/BloodOfTheDragon.tsx
  src/parser/jobs/drg/modules/Buffs.tsx
  src/parser/jobs/drg/modules/DISPLAY_ORDER.ts
  src/parser/jobs/drg/modules/DragonSight.tsx
  src/parser/jobs/drg/modules/Drift.tsx
  src/parser/jobs/drg/modules/LanceCharge.tsx
  src/parser/jobs/drg/modules/OGCDDowntime.ts
  src/parser/jobs/drg/modules/Procs.tsx
  src/parser/jobs/drg/modules/index.ts
Labels: Parser - Core, Parser - DRG

#1952 Initial NIN changes for Dawntrail
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/NIN.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/NIN.ts
  src/data/avatar/toastdeib.png
  src/parser/core/modules/RaidBuffs.ts
  src/parser/jobs/nin/changelog.tsx
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/ActionTimeline.tsx
  src/parser/jobs/nin/modules/Huton.tsx
  src/parser/jobs/nin/modules/HutonCastTime.ts
  src/parser/jobs/nin/modules/IncreaseAttackSpeed.ts
  src/parser/jobs/nin/modules/Kassatsu.tsx
  src/parser/jobs/nin/modules/Kazematoi.tsx
  src/parser/jobs/nin/modules/KunaisBaneUsage.tsx
  src/parser/jobs/nin/modules/KunaisBaneWindow.tsx
  src/parser/jobs/nin/modules/Ninjutsu.tsx
  src/parser/jobs/nin/modules/Ninki.tsx
  src/parser/jobs/nin/modules/OGCDDowntime.ts
  src/parser/jobs/nin/modules/Raiju.tsx
  src/parser/jobs/nin/modules/index.ts
  src/reportSources/legacyFflogs/__tests__/__snapshots__/eventAdapter.ts.snap
Labels: Parser - Core, Parser - NIN

#1961 Dawntrail - DNC data updates
  src/data/ACTIONS/root/DNC.ts
  src/data/STATUSES/root/DNC.ts
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/index.tsx
  src/parser/jobs/dnc/modules/Procs.tsx
Labels: Parser - DNC

#1974 Fixed the Kazematoi gauge
  src/parser/jobs/nin/modules/Kazematoi.tsx
  src/parser/jobs/nin/modules/Ninki.tsx
Labels: Parser - NIN

#1972 Fix ability items appearing wider than intended on firefox
  src/parser/core/modules/Timeline/config/Item.module.css
  src/parser/core/modules/Timeline/config/Item.module.css.d.ts
Labels: Parser - Core

#1960 Dawntrail - BLM data updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/BLM.ts
  src/data/STATUSES/root/BLM.ts
  src/parser/core/modules/Procs.tsx
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/index.tsx
  src/parser/jobs/blm/modules/ActionTimeline.tsx
  src/parser/jobs/blm/modules/Elements.ts
  src/parser/jobs/blm/modules/OGCDDowntime.tsx
  src/parser/jobs/blm/modules/Procs.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/ExtraHardT3Evaluator.tsx
  src/parser/jobs/blm/modules/Sharpcast.tsx
  src/parser/jobs/blm/modules/Thunder.tsx
  src/parser/jobs/blm/modules/Triplecast.tsx
  src/parser/jobs/blm/modules/index.ts
  src/parser/jobs/blm/modules/t3p.png
Labels: Parser - Core, Parser - BLM

#1970 [MNK] Data updates & housekeeping for Dawntrail
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/MNK.ts
  src/data/ACTIONS/type.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/MNK.ts
  src/data/avatar/hint.jpg
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/ActionTimeline.tsx
  src/parser/jobs/mnk/modules/AoE.tsx
  src/parser/jobs/mnk/modules/Demolish.tsx
  src/parser/jobs/mnk/modules/MasterfulBlitzStatistics.tsx
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
  src/parser/jobs/mnk/modules/Positionals.ts
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
  src/parser/jobs/mnk/modules/Steppies.tsx
  src/parser/jobs/mnk/modules/TwinSnakes.tsx
  src/parser/jobs/mnk/modules/constants.ts
  src/parser/jobs/mnk/modules/index.ts
Labels: Parser - MNK

#1971 [Positionals] handle more convoluted potency arrays
  src/parser/core/modules/Positionals.tsx
Labels: Parser - Core

#1964 [MCH] Dawntrail data and module updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/MCH.ts
  src/data/STATUSES/root/MCH.ts
  src/parser/jobs/mch/changelog.tsx
  src/parser/jobs/mch/index.tsx
  src/parser/jobs/mch/modules/ActionTimeline.tsx
  src/parser/jobs/mch/modules/Drift.tsx
  src/parser/jobs/mch/modules/Gauge.tsx
  src/parser/jobs/mch/modules/GeneralCDDowntime.tsx
  src/parser/jobs/mch/modules/Hypercharge.tsx
  src/parser/jobs/mch/modules/Reassemble.tsx
  src/parser/jobs/mch/modules/Tincture.tsx
  src/parser/jobs/mch/modules/oGCDCharges.tsx
Labels: Parser - MCH

#1965 [AST] 7.0 Checklist and Action Timeline
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/AST.ts
  src/parser/core/modules/RaidBuffs.ts
  src/parser/jobs/ast/modules/ActionTimeline.tsx
  src/parser/jobs/ast/modules/ArcanaGroups.ts
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaSuggestions.tsx
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaTracking.tsx
  src/parser/jobs/ast/modules/Combust.tsx
  src/parser/jobs/ast/modules/CrownPlay.tsx
  src/parser/jobs/ast/modules/Divination.tsx
  src/parser/jobs/ast/modules/Draw.tsx
  src/parser/jobs/ast/modules/Overheal.tsx
  src/parser/jobs/ast/modules/evaluators/ExpectedCardsEvaluator.tsx
  src/parser/jobs/ast/modules/index.ts
  src/parser/jobs/ast/modules/oGCDs.tsx
Labels: Parser - Core, Parser - AST

#1955 [SAM] Initial 7.0 SAM Support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/SAM.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/SAM.ts
  src/data/avatar/Ryan.png
  src/parser/jobs/dnc/modules/Gauge.tsx
  src/parser/jobs/sam/changelog.tsx
  src/parser/jobs/sam/index.js
  src/parser/jobs/sam/modules/AoeChecker.ts
  src/parser/jobs/sam/modules/Defensives.ts
  src/parser/jobs/sam/modules/Kenki/Kenki.tsx
  src/parser/jobs/sam/modules/Meikyo.tsx
  src/parser/jobs/sam/modules/OGCDDowntime.ts
  src/parser/jobs/sam/modules/Ogi.tsx
  src/parser/jobs/sam/modules/ReadyProcs.tsx
  src/parser/jobs/sam/modules/Sen.tsx
  src/parser/jobs/sam/modules/Shoha.tsx
  src/parser/jobs/sam/modules/index.js
Labels: Parser - SAM, Parser - DNC

#1975 Dawntrail - SGE cooldowns
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/modules/ActionTimeline.tsx
  src/parser/jobs/sge/modules/CooldownDowntime.tsx
Labels: Parser - SGE

#1976 Dawntrail - DNC Gauge updates
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/Gauge.tsx
Labels: Parser - DNC

#1977 Dawntrail - PCT Defensives
  src/data/ACTIONS/root/PCT.ts
  src/data/STATUSES/root/PCT.ts
  src/parser/jobs/pct/changelog.tsx
  src/parser/jobs/pct/modules/Defensives.ts
  src/parser/jobs/pct/modules/index.ts
Labels: Parser - PCT

#1978 Dawntrail - BLM Gauge
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
Labels: Parser - BLM

#1981 Dawntrail - Update BLM AoE usage tracking
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/AoEUsages.ts
Labels: Parser - BLM

#1983 [AST] 7.0 ABC fix (Macrocosmos gcdRecast) and Burst Window Update
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/AST.ts
  src/parser/jobs/ast/modules/Divination.tsx
  src/parser/jobs/ast/modules/Tincture.tsx
Labels: Parser - AST

#1982 Dawntrail - SGE Zoe update
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/modules/Zoe.tsx
Labels: Parser - SGE

#1984 Dawntrail - BLM procs and thunder updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/Procs.tsx
  src/parser/jobs/blm/modules/Thunder.tsx
Labels: Parser - BLM

#1966 [VPR] 7.0 Support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/LIMIT_BREAK.ts
  src/data/ACTIONS/root/VPR.ts
  src/data/ACTIONS/root/index.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/VPR.ts
  src/data/STATUSES/root/index.ts
  src/parser/jobs/vpr/changelog.tsx
  src/parser/jobs/vpr/index.tsx
  src/parser/jobs/vpr/modules/AoEChecker.tsx
  src/parser/jobs/vpr/modules/Buffs.tsx
  src/parser/jobs/vpr/modules/DISPLAY_ORDER.ts
  src/parser/jobs/vpr/modules/NoxiousGnash.tsx
  src/parser/jobs/vpr/modules/OGCDDowntime.tsx
  src/parser/jobs/vpr/modules/Positionals.tsx
  src/parser/jobs/vpr/modules/RattlingCoil.tsx
  src/parser/jobs/vpr/modules/SerpentsTail.tsx
  src/parser/jobs/vpr/modules/Snaps.tsx
  src/parser/jobs/vpr/modules/Swiftscaled.tsx
  src/parser/jobs/vpr/modules/Venoms.tsx
  src/parser/jobs/vpr/modules/index.ts
  src/parser/jobs/vpr/modules/snilk.tsx
Labels: Parser - VPR

#1986 [DRG] Full 7.0 support (cleaner commit history version)
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/DRG.ts
  src/data/STATUSES/root/DRG.ts
  src/parser/jobs/drg/changelog.tsx
  src/parser/jobs/drg/index.tsx
  src/parser/jobs/drg/modules/BattleLitany.tsx
  src/parser/jobs/drg/modules/BloodOfTheDragon.tsx
Labels: Parser - DRG

#1985 Dawntrail - Add Philosophia to Sage's ignored Overheals
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/modules/Overheal.tsx
Labels: Parser - SGE

#1987 Dawntrail - DNC expected actions for Technical Finish
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/index.tsx
  src/parser/jobs/dnc/modules/Technicalities.tsx
Labels: Parser - DNC

#1992 [VPR] Add missing positionals
  src/parser/jobs/vpr/changelog.tsx
  src/parser/jobs/vpr/modules/Positionals.tsx
Labels: Parser - VPR

#1995 Flag NIN as supported for 7.0
  locale/en/messages.json
  src/parser/jobs/nin/changelog.tsx
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/Kazematoi.tsx
Labels: Parser - NIN

#1996 [VPR] Bugfix & feedback change
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/vpr/changelog.tsx
  src/parser/jobs/vpr/modules/SerpentsTail.tsx
  src/parser/jobs/vpr/modules/index.ts
  src/parser/jobs/vpr/modules/snilk.tsx
Labels: Parser - VPR

#1998 Fix Kunai's Bane windows
  src/parser/core/modules/ActionWindow/windows/BuffWindow.ts
  src/parser/jobs/nin/changelog.tsx
  src/parser/jobs/nin/modules/KunaisBaneWindow.tsx
Labels: Parser - Core, Parser - NIN

#1990 Dawntrail - PCT AoEUsage tracking
  src/parser/jobs/pct/changelog.tsx
  src/parser/jobs/pct/modules/AoEUsages.ts
  src/parser/jobs/pct/modules/index.ts
Labels: Parser - PCT

#1989 Dawntrail - BLM baseline RotationWatchdog cleanup
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/ManafontTimingEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/MissedIceParadoxEvaluator.ts
  src/parser/jobs/blm/modules/RotationWatchdog/SkipThunderEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/WatchdogConstants.tsx
Labels: Parser - BLM

#1980 Dawntrail - PCT gauge state tracking
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Gauge/SetGauge.ts
  src/parser/jobs/pct/changelog.tsx
  src/parser/jobs/pct/modules/Gauge.tsx
  src/parser/jobs/pct/modules/index.ts
Labels: Parser - Core, Parser - PCT

#2001 Dawntrail - SGE supported
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/index.tsx
  src/parser/jobs/sge/modules/Defensives.tsx
  src/parser/jobs/sge/modules/Tincture.tsx
Labels: Parser - SGE

#2002 Dawntrail - BLM watchdog Expected Fire spell updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/EvaluatorUtilities.ts
  src/parser/jobs/blm/modules/RotationWatchdog/ExpectedFireSpellsEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/FlareStarUsageEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/WatchdogConstants.tsx
Labels: Parser - BLM

#1994 Dawntrail - Baseline updates for Scholar
  src/data/ACTIONS/root/SCH.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/SCH.ts
  src/data/avatar/mercwri.png
  src/parser/jobs/sch/changelog.tsx
  src/parser/jobs/sch/modules/Defensives.tsx
Labels: Parser - SCH

#1999 RDM Baseline DawnTrail
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/RDM.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/RDM.ts
  src/data/avatar/Leylia.png
  src/parser/jobs/rdm/changelog.tsx
  src/parser/jobs/rdm/index.tsx
  src/parser/jobs/rdm/modules/Combos.tsx
  src/parser/jobs/rdm/modules/DISPLAY_ORDER.ts
  src/parser/jobs/rdm/modules/GrandImpact.tsx
  src/parser/jobs/rdm/modules/MagickedSwordplay.tsx
  src/parser/jobs/rdm/modules/ManaGauge.tsx
  src/parser/jobs/rdm/modules/Manafication.tsx
  src/parser/jobs/rdm/modules/MeleeCombos.tsx
  src/parser/jobs/rdm/modules/Prefulgence.tsx
  src/parser/jobs/rdm/modules/Procs.tsx
  src/parser/jobs/rdm/modules/ViceOfThorns.tsx
  src/parser/jobs/rdm/modules/index.tsx
Labels: Parser - RDM

#1973 Drk dawntrail updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/DRK.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/DRK.ts
  src/data/avatar/azariah.png
  src/parser/jobs/drk/changelog.tsx
  src/parser/jobs/drk/index.tsx
  src/parser/jobs/drk/modules/ActionTimeline.tsx
  src/parser/jobs/drk/modules/DISPLAY_ORDER.ts
  src/parser/jobs/drk/modules/Defensives.ts
  src/parser/jobs/drk/modules/Delirium.tsx
  src/parser/jobs/drk/modules/MPUsage.tsx
  src/parser/jobs/drk/modules/MultiHitSkills.ts
  src/parser/jobs/drk/modules/OGCDDowntime.ts
  src/parser/jobs/drk/modules/Plunge.ts
  src/parser/jobs/drk/modules/Tincture.tsx
  src/parser/jobs/drk/modules/index.ts
Labels: Parser - Core, Parser - DRK

#1988 Initial implementation of SMN for Dawntrail.
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/SMN.ts
  src/data/CONTRIBUTORS.ts
  src/parser/jobs/smn/changelog.tsx
  src/parser/jobs/smn/index.tsx
  src/parser/jobs/smn/modules/Aetherflow.tsx
  src/parser/jobs/smn/modules/GeneralCDDowntime.tsx
  src/parser/jobs/smn/modules/MultiHitSkills.ts
  src/parser/jobs/smn/modules/SearingLight.tsx
  src/parser/jobs/smn/modules/Summons.tsx
Labels: Parser - SMN

#1948 [GNB] Initial 7.0 Support
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/GNB.ts
  src/data/STATUSES/root/GNB.ts
  src/parser/jobs/gnb/changelog.tsx
  src/parser/jobs/gnb/index.tsx
  src/parser/jobs/gnb/modules/ActionTimeline.tsx
  src/parser/jobs/gnb/modules/Continuation.tsx
  src/parser/jobs/gnb/modules/Cooldowns.tsx
  src/parser/jobs/gnb/modules/DISPLAY_ORDER.ts
  src/parser/jobs/gnb/modules/Defensives.ts
  src/parser/jobs/gnb/modules/GnashingFang.tsx
  src/parser/jobs/gnb/modules/Lionheart.tsx
  src/parser/jobs/gnb/modules/NoMercy.tsx
  src/parser/jobs/gnb/modules/SonicBreak.tsx
  src/parser/jobs/gnb/modules/Tincture.tsx
  src/parser/jobs/gnb/modules/index.tsx
Labels: Parser - GNB

#2005 Add baneful impact and related proc tracking
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/nono.png
  src/parser/jobs/sch/changelog.tsx
  src/parser/jobs/sch/index.js
  src/parser/jobs/sch/modules/Procs.tsx
  src/parser/jobs/sch/modules/index.js
Labels: Parser - SCH

#2006 [BugFix] DNC - Cooldown grouping for Standard Step and Finishing Move
  src/data/ACTIONS/root/DNC.ts
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/OGCDDowntime.tsx
Labels: Parser - DNC

#2000 Dawntrail - PCT procs and stacked statuses
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/STATUSES/root/PCT.ts
  src/parser/core/modules/CastTime.ts
  src/parser/core/modules/Procs.tsx
  src/parser/jobs/pct/changelog.tsx
  src/parser/jobs/pct/modules/CantTouchThis.tsx
  src/parser/jobs/pct/modules/Hyperphantasia.tsx
  src/parser/jobs/pct/modules/Procs.tsx
  src/parser/jobs/pct/modules/index.ts
Labels: Parser - Core, Parser - PCT

#2004 Dawntrail - BLM rework skip thunder evaluator
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/ExpectedFireSpellsEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/SkipThunderEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/WatchdogConstants.tsx
  src/utilities/fillArrays.ts
Labels: Parser - BLM

#2007 [RPR] 7.0 Reaper Actions & Status Updates
  src/data/ACTIONS/root/RPR.ts
  src/data/STATUSES/root/RPR.ts
  src/parser/jobs/rpr/modules/Harpe.tsx
  src/parser/jobs/rpr/modules/Procs.tsx
  src/parser/jobs/rpr/modules/index.ts
Labels: Parser - RPR

#2009 RDM: Magic finishers under Magicked Swordplay are fine
  src/parser/jobs/rdm/modules/MagickedSwordplay.tsx
Labels: Parser - RDM

#2013 [NIN] Add a module for tracking dropped Phantom Kamaitachi Ready and Tenri Jindo Ready procs
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/NIN.ts
  src/data/STATUSES/root/NIN.ts
  src/parser/jobs/nin/changelog.tsx
  src/parser/jobs/nin/modules/Kassatsu.tsx
  src/parser/jobs/nin/modules/Procs.tsx
  src/parser/jobs/nin/modules/index.ts
Labels: Parser - NIN

#2015 Dawntrail - PCT Weaving and Inspiration
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/PCT.ts
  src/data/STATUSES/root/PCT.ts
  src/parser/jobs/pct/changelog.tsx
  src/parser/jobs/pct/modules/CommonData.ts
  src/parser/jobs/pct/modules/Hyperphantasia.tsx
  src/parser/jobs/pct/modules/Inspiration.tsx
  src/parser/jobs/pct/modules/Weaving.ts
  src/parser/jobs/pct/modules/index.ts
Labels: Parser - PCT

#2018 [WAR]: add new job actions
  src/data/ACTIONS/root/WAR.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/layers/patch7.01.ts
  src/data/STATUSES/root/WAR.ts
  src/data/avatar/kwerey.png
  src/parser/jobs/war/changelog.tsx
  src/parser/jobs/war/modules/ActionTimeline.ts
  src/parser/jobs/war/modules/Defensives.ts
Labels: Parser - WAR

#2020 Fix DRK tinctures to show Delirium actions used in window
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/ActionWindow/evaluators/ExpectedActionGroupsEvaluator.tsx
  src/parser/core/modules/ActionWindow/evaluators/TrackedActionGroup.ts
  src/parser/jobs/drk/modules/Tincture.tsx
Labels: Parser - Core, Parser - DRK

#1951 Retrieve logged level for content and display in about
  src/event.ts
  src/parser/core/modules/About.tsx
  src/parser/core/modules/Actors/Actor.ts
  src/reportSources/legacyFflogs/__tests__/__snapshots__/eventAdapter.ts.snap
  src/reportSources/legacyFflogs/__tests__/eventAdapter.ts
  src/reportSources/legacyFflogs/eventAdapter/deduplicateActorUpdates.ts
  src/reportSources/legacyFflogs/eventAdapter/translate.ts
Labels: Parser - Core

#2021 Manafication 7.01 update, add RDM combo breakers
  src/data/STATUSES/layers/patch7.01.ts
  src/parser/core/modules/Combos.tsx
  src/parser/jobs/rdm/changelog.tsx
  src/parser/jobs/rdm/index.tsx
  src/parser/jobs/rdm/modules/Combos.tsx
Labels: Parser - Core, Parser - RDM

#2029 [BUGFIX] don't crash when uncomboed GCDs exist from outside of a combo
  src/parser/core/modules/Combos.tsx
Labels: Parser - Core

#2017 Dawntrail - BLM final Dawntrail support updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/index.tsx
  src/parser/jobs/blm/modules/Procs.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/ExpectedFireSpellsEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/ExtraF1Evaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/FirestarterUsageEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/WatchdogConstants.tsx
Labels: Parser - BLM

#2027 [WHM] Adjust overheals and update modules with new heals
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/whm/modules/Overheal.tsx
  src/parser/jobs/whm/modules/Thinair.tsx
Labels: Parser - WHM

#2031 [WHM] Track lost Divine Caress uses
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/WHM.ts
  src/data/STATUSES/root/WHM.ts
  src/parser/jobs/whm/changelog.tsx
  src/parser/jobs/whm/index.tsx
  src/parser/jobs/whm/modules/DivineCaress.tsx
  src/parser/jobs/whm/modules/index.ts
Labels: Parser - WHM

#2023 [WAR] Add suggestions for new procs, update IR to mention Primal Wrath
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/war/index.tsx
  src/parser/jobs/war/modules/InnerRelease.tsx
  src/parser/jobs/war/modules/PrimalRend.tsx
  src/parser/jobs/war/modules/Procs.tsx
  src/parser/jobs/war/modules/index.ts
Labels: Parser - WAR

#2040 [GNB] Opener changes
  src/parser/jobs/gnb/changelog.tsx
  src/parser/jobs/gnb/modules/Cooldowns.tsx
Labels: Parser - GNB

#2033 [BugFix] BLM - Update Gauge errors header text
  locale/en/messages.json
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
Labels: Parser - BLM

#2035 Added BRD new actions and statuses, and touched up on the RA proc mod…
  locale/en/messages.json
  locale/ja/messages.json
  src/data/ACTIONS/root/BRD.ts
  src/data/STATUSES/root/BRD.ts
  src/parser/jobs/brd/modules/RefulgentProcs.tsx
Labels: Parser - BRD

#2038 DNC - Add Tinctures display
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/index.ts
Labels: Parser - DNC

#2032 [DRG] Extend CounterGauge to output table of overcap times
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Gauge/CounterGauge.ts
  src/parser/core/modules/Gauge/Gauge.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
  src/parser/jobs/drg/changelog.tsx
  src/parser/jobs/drg/modules/Gauge.tsx
Labels: Parser - Core, Parser - DRG, Parser - BLM

#2036 BLU: Initial support for Dawntrail
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blu/changelog.tsx
  src/parser/jobs/blu/index.tsx
  src/parser/jobs/blu/modules/OverrideRoleActionsForBLU.tsx
  src/parser/jobs/blu/modules/index.tsx
Labels: Parser - BLU

#2024 Dawntrail - PCT Starry Muse RaidBuffWindow
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/ActionWindow/evaluators/ExpectedActionGroupsEvaluator.tsx
  src/parser/core/modules/ActionWindow/evaluators/TrackedActionGroup.ts
  src/parser/jobs/drk/modules/Tincture.tsx
  src/parser/jobs/pct/changelog.tsx
  src/parser/jobs/pct/modules/StarryMuse.tsx
  src/parser/jobs/pct/modules/Tincture.ts
  src/parser/jobs/pct/modules/index.ts
Labels: Parser - Core, Parser - DRK, Parser - PCT

#2025 feature(pld): add support for 7.0 and 7.01
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/PLD.ts
  src/data/CONTRIBUTORS.ts
  src/data/STATUSES/root/PLD.ts
  src/parser/jobs/pld/changelog.tsx
  src/parser/jobs/pld/index.tsx
  src/parser/jobs/pld/modules/ActionTimeline.tsx
  src/parser/jobs/pld/modules/CooldownDowntime.tsx
  src/parser/jobs/pld/modules/Defensives.ts
  src/parser/jobs/pld/modules/FightOrFlight.tsx
  src/parser/jobs/pld/modules/RoyalAuthority.tsx
Labels: Parser - PLD

#2037 [BugFix] BLM - Remove Skip B4 Evaluator
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/SkipB4Evaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/WatchdogConstants.tsx
Labels: Parser - BLM

#2039 Removed the allowed GCDs for MagickedSwordPlay eval
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/rdm/modules/MagickedSwordplay.tsx
Labels: Parser - RDM

#2042 [MNK] Add proc tracking
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/Replies.tsx
  src/parser/jobs/mnk/modules/index.ts
Labels: Parser - MNK

#2044 [MNK] Add Elixir Burst and pre-upgrade blitzes to Nadi handling
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
Labels: Parser - MNK

#2048 [GNB] Gnashing Fang Module BugFix
  src/parser/jobs/gnb/modules/GnashingFang.tsx
  src/parser/jobs/gnb/modules/Lionheart.tsx
Labels: Parser - GNB

#2034 [RPR] Bugfix, Soul & Shroud gauge modifiers were incorrect
  src/parser/jobs/rpr/modules/OtherGauges.tsx
Labels: Parser - RPR

#2051 Dawntrail - PCT Gauge suggestions, misc. fixes, and mark supported
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/PCT.ts
  src/data/STATUSES/root/PCT.ts
  src/parser/jobs/pct/index.tsx
  src/parser/jobs/pct/modules/ActionTimeline.tsx
  src/parser/jobs/pct/modules/CantTouchThis.tsx
  src/parser/jobs/pct/modules/DISPLAY_ORDER.ts
  src/parser/jobs/pct/modules/Defensives.ts
  src/parser/jobs/pct/modules/Gauge.tsx
  src/parser/jobs/pct/modules/Hyperphantasia.tsx
  src/parser/jobs/pct/modules/Procs.tsx
  src/parser/jobs/pct/modules/StarryMuse.tsx
  src/parser/jobs/pct/modules/Swiftcast.tsx
  src/parser/jobs/pct/modules/Tincture.ts
  src/parser/jobs/pct/modules/Weaving.ts
  src/parser/jobs/pct/modules/index.ts
Labels: Parser - PCT

#2055 [WHM] Add Glare IV and Second Dia to pots.
  src/data/CONTRIBUTORS.ts
  src/data/avatar/nicolas.png
  src/parser/jobs/whm/changelog.tsx
  src/parser/jobs/whm/modules/Tincture.tsx
Labels: Parser - WHM

#2043 [MNK] Add fury gauge
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/ResourceGraphs/ResourceGraphs.tsx
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/Balls.tsx
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
  src/parser/jobs/mnk/modules/constants.ts
  src/parser/jobs/mnk/modules/index.ts
Labels: Parser - Core, Parser - MNK

#2057 [VPR] Add Reawaken Buff Module to Viper
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/vpr/changelog.tsx
  src/parser/jobs/vpr/modules/DISPLAY_ORDER.ts
  src/parser/jobs/vpr/modules/Reawaken.tsx
  src/parser/jobs/vpr/modules/index.ts
Labels: Parser - VPR

#2061 [SAM] i18n checklist names
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/sam/modules/ReadyProcs.tsx
  src/parser/jobs/sam/modules/Shoha.tsx
Labels: Parser - SAM

#2045 [MNK] Add checklists and suggestions for maximizing opo GCDs
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/Bookending.tsx
  src/parser/jobs/mnk/modules/constants.ts
  src/parser/jobs/mnk/modules/evaluators/BlitzEvaluator.tsx
  src/parser/jobs/mnk/modules/index.ts
Labels: Parser - MNK

#2060 7.0 support: Scholar overheal bucketing changes and fairy gauge suggetions
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/STATUSES/root/SCH.ts
  src/parser/jobs/sch/changelog.tsx
  src/parser/jobs/sch/index.js
  src/parser/jobs/sch/modules/FaerieGauge.tsx
  src/parser/jobs/sch/modules/Overheal.js
Labels: Parser - SCH

#2062 [MNK] Support for 7.01
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/index.tsx
Labels: Parser - MNK

#2052 feat: upgraded Procs module to be stacks aware
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Procs.tsx
  src/parser/jobs/brd/modules/RefulgentProcs.tsx
  src/parser/jobs/rdm/modules/MagickedSwordplay.tsx
Labels: Parser - Core, Parser - BRD, Parser - RDM

#2049 [BUGFIX] living shadow doesn't cost blood, don't synth pre-pull blood weapon
  src/data/ACTIONS/root/DRK.ts
  src/data/STATUSES/root/DRK.ts
  src/parser/jobs/drk/changelog.tsx
  src/parser/jobs/drk/modules/BloodGauge.tsx
Labels: Parser - DRK

#2059 [DRG] Enable suggestion output for procs
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/drg/changelog.tsx
  src/parser/jobs/drg/modules/Procs.tsx
Labels: Parser - DRG

#2058 Bard/burst module
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/Yumiya.png
  src/parser/core/modules/ActionWindow/evaluators/ExpectedGcdCountEvaluator.tsx
  src/parser/core/modules/ActionWindow/evaluators/RequiredGcdCountEvaluator.tsx
  src/parser/core/modules/ActionWindow/windows/ActionWindow.tsx
  src/parser/core/modules/ActionWindow/windows/BuffGroupWindow.ts
  src/parser/core/modules/ActionWindow/windows/BuffWindow.ts
  src/parser/jobs/brd/changelog.tsx
  src/parser/jobs/brd/index.tsx
  src/parser/jobs/brd/modules/BurstWindow.tsx
  src/parser/jobs/brd/modules/DISPLAY_ORDER.ts
  src/parser/jobs/brd/modules/DriftingEa.tsx
  src/parser/jobs/brd/modules/RagingStrikes.tsx
  src/parser/jobs/brd/modules/RefulgentProcs.tsx
  src/parser/jobs/brd/modules/index.ts
Labels: Parser - Core, Parser - BRD
