Repository xivanalysis/xivanalysis, pull requests merged in 2024-04, with the labels that each got.

#1940 Add forgiveness for defensives
  src/parser/core/modules/Defensives.tsx
Labels: Parser - Core

#1942 Gauge Graph Cleanup
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/JOBS.ts
  src/parser/core/changelog.tsx
  src/parser/core/modules/Actors/Actors.tsx
  src/parser/core/modules/Gauge/AbstractGauge.ts
  src/parser/core/modules/Gauge/CounterGauge.ts
  src/parser/core/modules/Gauge/EnumGauge.ts
  src/parser/core/modules/Gauge/SetGauge.ts
  src/parser/core/modules/Gauge/TimerGauge.ts
  src/parser/core/modules/ResourceGraphs/ResourceGraphs.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
  src/parser/jobs/dnc/modules/Gauge.tsx
  src/parser/jobs/drk/index.tsx
  src/parser/jobs/drk/modules/BloodGauge.tsx
  src/parser/jobs/gnb/modules/Ammo.tsx
  src/parser/jobs/mch/modules/Gauge.tsx
  src/parser/jobs/pld/modules/Gauge.tsx
  src/parser/jobs/rpr/modules/DeathGauge.tsx
  src/parser/jobs/rpr/modules/OtherGauges.tsx
  src/parser/jobs/sch/modules/FaerieGauge.tsx
  src/parser/jobs/sge/modules/Gauge.tsx
  src/parser/jobs/war/changelog.tsx
  src/parser/jobs/war/modules/Gauge.tsx
Labels: Parser - Core, Parser - PLD, Parser - WAR, Parser - DRK, Parser - SCH, Parser - MCH, Parser - BLM, Parser - DNC, Parser - GNB, Parser - RPR, Parser - SGE

#1939 WHM: Update Lilies Module for better Blood Lily calculations
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/data/avatar/sameh.png
  src/parser/jobs/whm/index.tsx
  src/parser/jobs/whm/modules/Lilies.tsx
Labels: Parser - WHM
