Repository xivanalysis/xivanalysis, pull requests merged in 2025-03, with the labels that each got.

#2201 Fix invuln for FRU
  src/data/ENCOUNTERS.ts
  src/parser/AVAILABLE_MODULES.ts
  src/parser/bosses/fru/index.tsx
  src/parser/bosses/fru/modules/Invulnerability.ts
  src/parser/bosses/fru/modules/index.ts
  src/parser/core/modules/Invulnerability.tsx
Labels: Parser - Core

#2204 [BLU] 7.2 bump
  src/parser/jobs/blu/index.tsx
Labels: Parser - BLU

#2206 [AST] 7.2 bump
  src/parser/jobs/ast/index.tsx
Labels: Parser - AST

#2208 [DRG] Patch 7.2 Update
  src/data/ACTIONS/layers/patch7.2.ts
  src/data/ACTIONS/root/DRG.ts
  src/parser/jobs/drg/changelog.tsx
  src/parser/jobs/drg/index.tsx
Labels: Parser - DRG

#2209 Update supported patches for SCHOLAR and SAGE to 7.2
  src/parser/jobs/sch/index.tsx
  src/parser/jobs/sge/index.tsx
Labels: Parser - SCH, Parser - SGE

#2210 [VPR][SAM][RPR][GNB] 7.2 bumps
  src/parser/jobs/gnb/changelog.tsx
  src/parser/jobs/gnb/index.tsx
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/index.tsx
  src/parser/jobs/rpr/modules/AoE.ts
  src/parser/jobs/sam/changelog.tsx
  src/parser/jobs/sam/index.tsx
  src/parser/jobs/sam/modules/AoeChecker.ts
  src/parser/jobs/vpr/changelog.tsx
  src/parser/jobs/vpr/index.tsx
Labels: Parser - SAM, Parser - GNB, Parser - RPR, Parser - VPR

#2211 Bump for RDM 7.2, adjusted Manafication to allow AE to count.
  src/data/ACTIONS/layers/patch7.2.ts
  src/parser/jobs/rdm/changelog.tsx
  src/parser/jobs/rdm/index.tsx
  src/parser/jobs/rdm/modules/Manafication.tsx
Labels: Parser - RDM

#2213 Bump WHM to 7.2, clarify Lilybell event names
  src/data/ACTIONS/root/WHM.ts
  src/parser/jobs/whm/index.tsx
Labels: Parser - WHM
