Repository xivanalysis/xivanalysis, pull requests merged in 2025-01, with the labels that each got.

#2164 [BugFix] Firestarter does not consume Umbral Hearts, plus three Proc-related bugxies
  src/parser/core/changelog.tsx
  src/parser/core/modules/Invulnerability.tsx
  src/parser/core/modules/Procs.tsx
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
Labels: Parser - Core, Parser - BLM

#2165 [BugFix] Initialize Gauges at the start of time
  src/parser/core/changelog.tsx
  src/parser/core/modules/Gauge/CounterGauge.ts
  src/parser/core/modules/Gauge/EnumGauge.ts
  src/parser/core/modules/Gauge/SetEnumGauge.ts
  src/parser/core/modules/Gauge/SetGauge.ts
Labels: Parser - Core

#2166 [BugFix] Pneuma's heal shouldn't affect weaving
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/modules/DISPLAY_ORDER.ts
  src/parser/jobs/sge/modules/Weaving.ts
  src/parser/jobs/sge/modules/index.ts
Labels: Parser - SGE

#2174 [BugFix] Only report raid buff overwrites when the targets are in your party
  src/parser/core/changelog.tsx
  src/parser/core/modules/ActionWindow/evaluators/RaidBuffOverwriteEvaluator.tsx
  src/parser/core/modules/ActionWindow/windows/RaidBuffWindow.ts
Labels: Parser - Core

#2157 [MNK] Add chakra gauge for logging player + suggestion for chakra overcap
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/root/MNK.ts
  src/event.ts
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/Chakra.tsx
  src/parser/jobs/mnk/modules/index.ts
  src/reportSources/legacyFflogs/eventAdapter/translate.ts
Labels: Parser - MNK

#2179 [SAM][VPR] Fix Spelling Issues
  locale/en/messages.json
  src/data/ACTIONS/root/SAM.ts
  src/data/STATUSES/layers/patch7.05.ts
  src/data/STATUSES/root/SAM.ts
  src/parser/jobs/sam/changelog.tsx
  src/parser/jobs/sam/modules/Defensives.ts
  src/parser/jobs/sam/modules/Kenki/Kenki.tsx
  src/parser/jobs/vpr/modules/FinisherProcs.tsx
Labels: Parser - SAM, Parser - VPR

#2171 Move Hammer Time and Hyperphantasia back into Procs
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/mnk/modules/Balls.tsx
  src/parser/jobs/mnk/modules/Bookending.tsx
  src/parser/jobs/mnk/modules/Forms.tsx
  src/parser/jobs/mnk/modules/PerfectBalance.tsx
  src/parser/jobs/mnk/modules/RiddleOfFire.tsx
  src/parser/jobs/mnk/modules/utilities.ts
  src/parser/jobs/pct/changelog.tsx
  src/parser/jobs/pct/modules/CantTouchThis.tsx
  src/parser/jobs/pct/modules/CommonData.ts
  src/parser/jobs/pct/modules/Hyperphantasia.tsx
  src/parser/jobs/pct/modules/Procs.tsx
  src/parser/jobs/pct/modules/index.ts
  src/utilities/fillArrays.ts
Labels: Parser - MNK, Parser - BLM, Parser - PCT

#2176 Reduce prescriptiveness of Last Dance check in Technical
  src/parser/jobs/dnc/changelog.tsx
  src/parser/jobs/dnc/modules/Technicalities.tsx
Labels: Parser - DNC

#2185 [BugFix] Checklist bug fixes
  src/parser/core/changelog.tsx
  src/parser/core/modules/Checklist/Requirement.ts
  src/parser/core/modules/Overheal.tsx
Labels: Parser - Core

#2186 [BugFix] Fix Vicepit/Vicewinder status application data
  src/data/ACTIONS/root/VPR.ts
  src/parser/jobs/vpr/changelog.tsx
Labels: Parser - VPR
