Repository xivanalysis/xivanalysis, pull requests merged in 2025-08, with the labels that each got.

#2245 Patch 7.3 definition
  src/data/PATCHES/patches.ts
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/blm/index.tsx
  src/parser/jobs/blu/index.tsx
  src/parser/jobs/dnc/index.tsx
  src/parser/jobs/drk/index.tsx
  src/parser/jobs/gnb/index.tsx
  src/parser/jobs/pld/index.tsx
  src/parser/jobs/war/index.tsx
Labels: Parser - PLD, Parser - WAR, Parser - DRK, Parser - AST, Parser - BLM, Parser - DNC, Parser - GNB, Parser - BLU

#2247 [DRG] 7.3 bump
  src/parser/jobs/drg/index.tsx
Labels: Parser - DRG

#2248 Patch 7.3 Bump for Core, SGE, and PCT
  src/generated/unableToActStatusIds.ts
  src/parser/core/index.tsx
  src/parser/jobs/pct/changelog.tsx
  src/parser/jobs/pct/index.tsx
  src/parser/jobs/pct/modules/CooldownDowntime.tsx
  src/parser/jobs/pct/modules/StarryMuse.tsx
  src/parser/jobs/sge/index.tsx
Labels: Parser - Core, Parser - SGE, Parser - PCT

#2249 [SAM][VPR]{RPR] 7.3 Patch bumps
  src/data/ACTIONS/layers/index.ts
  src/data/ACTIONS/layers/patch7.3.ts
  src/parser/jobs/rpr/changelog.tsx
  src/parser/jobs/rpr/index.tsx
  src/parser/jobs/sam/index.tsx
  src/parser/jobs/vpr/index.tsx
Labels: Parser - SAM, Parser - RPR, Parser - VPR

#2250 [NIN] Patch 7.3 support
  locale/en/messages.json
  src/parser/jobs/nin/changelog.tsx
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/Ninki.tsx
Labels: Parser - NIN

#2251 Bumped to 7.3 Support
  src/parser/jobs/rdm/changelog.tsx
  src/parser/jobs/rdm/index.tsx
Labels: Parser - RDM

#2238 [DRK] Fix potion windows to allow Quietus
  src/parser/jobs/drk/changelog.tsx
  src/parser/jobs/drk/modules/Tincture.tsx
Labels: Parser - DRK
