Repository xivanalysis/xivanalysis, pull requests merged in 2025-04, with the labels that each got.

#2205 Update DNC for 7.2
  src/parser/jobs/dnc/index.tsx
  src/parser/jobs/dnc/modules/AoEUsages.ts
Labels: Parser - DNC

#2218 Bump Core for 7.2
  src/generated/unableToActStatusIds.ts
  src/parser/core/index.tsx
Labels: Parser - Core

#2219 war: mark supported for 7.2
  src/parser/jobs/war/index.tsx
Labels: Parser - WAR

#2221 [NIN] Patch 7.2 support
  locale/en/messages.json
  src/parser/jobs/nin/changelog.tsx
  src/parser/jobs/nin/index.tsx
  src/parser/jobs/nin/modules/Ninki.tsx
Labels: Parser - NIN

#2224 Updated SMN for 7.2.
  src/parser/jobs/smn/index.tsx
  src/parser/jobs/smn/modules/MultiHitSkills.ts
Labels: Parser - SMN

#2223 [PLD] Mark supported for 7.2
  src/parser/jobs/pld/index.tsx
Labels: Parser - PLD

#2212 [AST] added AoE Usages and adjusted Macro desc
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/ast/changelog.tsx
  src/parser/jobs/ast/modules/AoEUsages.tsx
  src/parser/jobs/ast/modules/Macrocosmos.tsx
  src/parser/jobs/ast/modules/index.ts
Labels: Parser - AST

#2216 BLM Patch 7.2 Initial Changes
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/ACTIONS/layers/patch7.2.ts
  src/data/STATUSES/layers/patch7.2.ts
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/AoEUsages.ts
  src/parser/jobs/blm/modules/DoTs.tsx
  src/parser/jobs/blm/modules/DoTsCommon.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/FirestarterUsageEvaluator.tsx
  src/parser/jobs/blm/modules/Thunder.tsx
  src/parser/jobs/blm/modules/index.ts
Labels: Parser - BLM

#2225 [MCH] 7.2 support
  src/parser/jobs/mch/changelog.tsx
  src/parser/jobs/mch/index.tsx
  src/parser/jobs/mch/modules/MultiHitSkills.ts
Labels: Parser - MCH

#2226 [MNK] 7.2 support
  src/data/ACTIONS/layers/patch7.2.ts
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/index.tsx
  src/parser/jobs/mnk/modules/AoE.tsx
Labels: Parser - MNK

#2227 [MNK] Expected GCD count for Brotherhood
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mnk/changelog.tsx
  src/parser/jobs/mnk/modules/Brotherhood.tsx
Labels: Parser - MNK

#2180 [Core][SAM] Add check to ensure Meikyo does not count as breaking an expired combo
  src/parser/core/modules/Combos.tsx
  src/parser/jobs/sam/changelog.tsx
  src/parser/jobs/sam/modules/Combos.ts
Labels: Parser - Core, Parser - SAM

#2203 fix: replace custom Inner Release analyser with core procs module
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/war/changelog.tsx
  src/parser/jobs/war/modules/InnerRelease.tsx
  src/parser/jobs/war/modules/Procs.tsx
  src/parser/jobs/war/modules/index.ts
Labels: Parser - WAR

#2220 BLM - Instant Cast Analysis
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/core/modules/DISPLAY_ORDER.ts
  src/parser/core/modules/Defensives.tsx
  src/parser/core/modules/Swiftcast.tsx
  src/parser/core/modules/UtilityActions.tsx
  src/parser/jobs/ast/modules/Defensives.tsx
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/DISPLAY_ORDER.ts
  src/parser/jobs/blm/modules/Defensives.ts
  src/parser/jobs/blm/modules/InstantCastEvaluators/InstantCastUsageEvaluator.tsx
  src/parser/jobs/blm/modules/OGCDDowntime.tsx
  src/parser/jobs/blm/modules/Swiftcast.tsx
  src/parser/jobs/blm/modules/Triplecast.tsx
  src/parser/jobs/blm/modules/Utilities.tsx
  src/parser/jobs/blm/modules/index.ts
  src/parser/jobs/blu/modules/Defensives.tsx
  src/parser/jobs/brd/modules/Mitigation.tsx
  src/parser/jobs/dnc/modules/Defensives.ts
  src/parser/jobs/drk/modules/Defensives.ts
  src/parser/jobs/gnb/modules/Defensives.ts
  src/parser/jobs/mch/modules/Mitigation.tsx
  src/parser/jobs/mnk/modules/Defensives.ts
  src/parser/jobs/nin/modules/Defensives.ts
  src/parser/jobs/pct/modules/Defensives.ts
  src/parser/jobs/pld/modules/Defensives.ts
  src/parser/jobs/rdm/modules/Defensives.ts
  src/parser/jobs/rpr/modules/Defensives.ts
  src/parser/jobs/sam/modules/Defensives.ts
  src/parser/jobs/sch/modules/Defensives.tsx
  src/parser/jobs/sge/modules/Defensives.tsx
  src/parser/jobs/smn/modules/RadiantAegis.tsx
  src/parser/jobs/war/modules/Defensives.ts
  src/parser/jobs/whm/modules/Defensives.ts
Labels: Parser - Core, Parser - PLD, Parser - WAR, Parser - DRK, Parser - WHM, Parser - SCH, Parser - AST, Parser - MNK, Parser - NIN, Parser - SAM, Parser - BRD, Parser - MCH, Parser - BLM, Parser - SMN, Parser - RDM, Parser - DNC, Parser - GNB, Parser - RPR, Parser - SGE, Parser - BLU, Parser - PCT

#2222 BLM - Patch 7.2 rotation analysis updates
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/index.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
  src/parser/jobs/blm/modules/RotationWatchdog.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/ColdF3Evaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/ExpectedFireSpellsEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/IceMageEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/ManafontTimingEvaluator.tsx
  src/parser/jobs/blm/modules/RotationWatchdog/MissedIceParadoxEvaluator.ts
  src/parser/jobs/blm/modules/RotationWatchdog/WatchdogConstants.tsx
  src/parser/jobs/blm/modules/Triplecast.tsx
Labels: Parser - BLM

#2228 [AST] update card CD management plus wording
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/ast/changelog.tsx
  src/parser/jobs/ast/modules/Draw.tsx
  src/parser/jobs/ast/modules/Macrocosmos.tsx
Labels: Parser - AST

#2230 BRD: 7.2 support
  src/parser/jobs/brd/changelog.tsx
  src/parser/jobs/brd/index.tsx
Labels: Parser - BRD

#2229 Disciple of Magic - Utility action information
  src/parser/jobs/ast/changelog.tsx
  src/parser/jobs/ast/modules/DISPLAY_ORDER.ts
  src/parser/jobs/ast/modules/Defensives.tsx
  src/parser/jobs/ast/modules/Utilities.tsx
  src/parser/jobs/ast/modules/index.ts
  src/parser/jobs/blu/changelog.tsx
  src/parser/jobs/blu/modules/Utilities.tsx
  src/parser/jobs/blu/modules/index.tsx
  src/parser/jobs/pct/changelog.tsx
  src/parser/jobs/pct/modules/Utilities.tsx
  src/parser/jobs/pct/modules/index.ts
  src/parser/jobs/rdm/changelog.tsx
  src/parser/jobs/rdm/modules/Utilities.tsx
  src/parser/jobs/rdm/modules/index.tsx
  src/parser/jobs/sch/changelog.tsx
  src/parser/jobs/sch/modules/Utilities.tsx
  src/parser/jobs/sch/modules/index.ts
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/modules/Utilities.tsx
  src/parser/jobs/sge/modules/index.ts
  src/parser/jobs/smn/changelog.tsx
  src/parser/jobs/smn/modules/Utilities.tsx
  src/parser/jobs/smn/modules/index.ts
  src/parser/jobs/whm/changelog.tsx
  src/parser/jobs/whm/modules/Utilities.tsx
  src/parser/jobs/whm/modules/index.ts
Labels: Parser - WHM, Parser - SCH, Parser - AST, Parser - SMN, Parser - RDM, Parser - SGE, Parser - BLU, Parser - PCT
