Repository xivanalysis/xivanalysis, pull requests merged in 2025-06, with the labels that each got.

#2237 [DRK] Fixed Impalements adjusting single target action count in the wrong order
  src/parser/jobs/drk/changelog.tsx
  src/parser/jobs/drk/modules/Delirium.tsx
Labels: Parser - DRK

#2235 [DRK] Fix Shadowstride icon
  src/data/ACTIONS/root/DRK.ts
  src/parser/jobs/drk/changelog.tsx
Labels: Parser - DRK

#2232 Capitalize 'Brotherhood'
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/parser/jobs/mnk/modules/Brotherhood.tsx
Labels: Parser - MNK

#2239 BLM - Update Polyglot suggestion wording
  locale/en/messages.json
  src/parser/jobs/blm/changelog.tsx
  src/parser/jobs/blm/modules/Gauge.tsx
Labels: Parser - BLM
