Repository xivanalysis/xivanalysis, pull requests merged in 2025-02, with the labels that each got.

#2187 [BugFix] Fix Overheal divide by zero error
  src/parser/core/modules/Overheal.tsx
Labels: Parser - Core

#2190 Overheal fine tuning
  locale/en/messages.json
  locale/fr/messages.json
  locale/zh/messages.json
  src/parser/core/modules/Overheal.tsx
  src/parser/jobs/ast/changelog.tsx
  src/parser/jobs/ast/modules/Overheal.tsx
  src/parser/jobs/sge/changelog.tsx
  src/parser/jobs/sge/modules/Overheal.tsx
  src/parser/jobs/whm/changelog.tsx
  src/parser/jobs/whm/modules/Overheal.tsx
Labels: Parser - Core, Parser - WHM, Parser - AST, Parser - SGE

#2192 [AST] Support for 7.1 and Arcana Logs
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/data/CONTRIBUTORS.ts
  src/parser/jobs/ast/changelog.tsx
  src/parser/jobs/ast/index.tsx
  src/parser/jobs/ast/modules/ArcanaGroups.ts
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaSuggestions.module.css
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaSuggestions.module.css.d.ts
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaSuggestions.tsx
  src/parser/jobs/ast/modules/ArcanaTracking/ArcanaTracking.tsx
  src/parser/jobs/ast/modules/ArcanaTracking/seal_celestial.png
  src/parser/jobs/ast/modules/ArcanaTracking/seal_lunar.png
  src/parser/jobs/ast/modules/ArcanaTracking/seal_solar.png
Labels: Parser - AST

#2193 Set and check for explicit permissible prepull time window for events
  locale/de/messages.json
  locale/en/messages.json
  locale/fr/messages.json
  locale/ja/messages.json
  locale/ko/messages.json
  locale/zh/messages.json
  src/event.ts
  src/parser/core/modules/BrokenLog.tsx
  src/parser/core/modules/Gauge/CounterGauge.ts
  src/parser/core/modules/Gauge/EnumGauge.ts
  src/parser/core/modules/Gauge/SetEnumGauge.ts
  src/parser/core/modules/Gauge/SetGauge.ts
  src/parser/core/modules/InvalidEvent.tsx
  src/parser/core/modules/index.ts
Labels: Parser - Core

#2196 fix: patch the SequenceID value for miss actions when cleaving invuln targets
  src/parser/core/changelog.tsx
  src/reportSources/legacyFflogs/eventAdapter/adapter.ts
  src/reportSources/legacyFflogs/eventAdapter/fixMissEventSequenceID.ts
Labels: Parser - Core

#2197 Bucket event filter predicates by type
  src/parser/core/Dispatcher.ts
  src/parser/core/filter.ts
Labels: Parser - Core

#2199 Update to mobx@^6, modern decorators
  babel.config.js
  config/babel-plugin-xiva-dependency.js
  package.json
  pnpm-lock.yaml
  src/components/ErrorBoundary.tsx
  src/components/I18nLoader.tsx
  src/components/I18nOverlay.js
  src/components/ui/DbLink.tsx
  src/components/ui/I18nMenu.tsx
  src/index.tsx
  src/parser/core/Injectable.ts
  src/parser/core/Parser.tsx
  src/parser/core/__tests__/Parser.ts
  src/parser/core/modules/LucidDreaming.tsx
  src/reportSources/legacyFflogs/legacyStore.ts
  src/store/globalError.ts
  src/store/i18n.ts
  src/store/settings.ts
  src/store/sidebar.ts
  tsconfig.json
Labels: Parser - Core

#2200 Automatically retry on first module load failure
  src/components/GlobalSidebar/Version.tsx
  src/env.ts
  src/parser/core/Parser.tsx
Labels: Parser - Core
